[2014-04-30 08:18] halleyzhao opened #12 "H264 video playback becomes stuck after several minutes"
for high resolution h264 stream, video playback becomes stuck (almot freeze) after playback for several minutes.
it is reproduced on either chromeos or ubuntu(with gst-omx).

[2014-05-04 11:28] zhongcong opened #14 "first run pipeline crash after set gstreamer env"
when gstreamer envirenment is set. and then run libyami pipeline:"gst-launch-1.0 filesrc location=/root/Videos/Base_Ext_Main_profile/MR2_TANDBERG_E.264 ! h264parse ! omxh264dec ! videoconvert ! ximagesink," it will crash.

[2014-05-04 11:32] #14 closed, assigned to nobody

[2014-05-04 11:38] zhongcong opened #15 "MR8_BT_B.264 block bug"
the pipeline block and log is as follows:
gst-launch-1.0 filesrc location=/root/Videos/Base_Ext_Main_profile/MR8_BT_B.h264 ! h264parse ! omxh264dec ! videoconvert ! ximagesink
Setting pipeline to PAUSED ...
omxil-core info: Added component libOMXVideoDecoderAVC.so to list
omxil-core info: Added component libOMXVideoDecoderVP8.so to list
omxil-core info: module libOMXVideoDecoderAVC.so successfully

[2014-05-14 05:22] zhongcong opened #24 "freeze issue with HD clips on BDW"
For example this one freezes occasionally when playing:
http://otc-chromeos-media.jf.intel.com/media/video/mp4/sintel-1080p-30fps-20Mbs-mp4II.mp4

[2014-05-21 03:14] changzhix opened #26 "The omxh264dec miss some frames at the end of the file."
Use the next commandline to dump yuv data, and use BeyondCompare to compare the yuv of software decode with the yuv of hardward decode.

the file BA1_FT_C.264  miss 7 frames，
           BA3_SVA_C.264  miss 17 frames,
           BAMQ1_JVC_C.264 miss 17 frames.

gst-launch-1.0 filesrc location=/root/Videos/h264/Base_Ext_Main_profile/BA1_FT_C.264 ! h264parse ! avdec_h264 ! filesink location=av.yuv
gs

[2014-06-04 01:42] zliu50x opened #30 "Decoding some h264 files failed by low ssim value"
#1. Testing Env:

libva:             (staging)35e70cb9b9c77dfb99fb370e319ed501f0c31b17
intel driver:      (staging)fbbe401aa28a0b3859d587ef08f0df15a2f7c8f2
libyami:           (master)585059310594e89baa69d057f15c39476122fa5a
omxil-core:        (staging-yami)cb613287332584a94ba004dacdaf54f00f89ba3c
omx-components:    (staging-yami)51f6bd9c62546baa32a664e6334ca3797b727bd2
gst-omx:           (master)d

[2014-06-04 01:47] zliu50x opened #31 "Decoding some VP8 files failed by low ssim value"
#1. Testing Env:

libva:             (staging)35e70cb9b9c77dfb99fb370e319ed501f0c31b17
intel driver:      (staging)fbbe401aa28a0b3859d587ef08f0df15a2f7c8f2
libyami:           (master)585059310594e89baa69d057f15c39476122fa5a
omxil-core:        (staging-yami)cb613287332584a94ba004dacdaf54f00f89ba3c
omx-components:    (staging-yami)51f6bd9c62546baa32a664e6334ca3797b727bd2
gst-omx:           (master)d

[2014-06-04 01:50] zliu50x opened #32 "Decoding some h264 files failed by frame loss"
#1. Testing Env:

libva:             (staging)35e70cb9b9c77dfb99fb370e319ed501f0c31b17
intel driver:      (staging)fbbe401aa28a0b3859d587ef08f0df15a2f7c8f2
libyami:           (master)585059310594e89baa69d057f15c39476122fa5a
omxil-core:        (staging-yami)cb613287332584a94ba004dacdaf54f00f89ba3c
omx-components:    (staging-yami)51f6bd9c62546baa32a664e6334ca3797b727bd2
gst-omx:           (master)d

[2014-06-04 01:53] zliu50x opened #33 "Decoding some VP8 files failed by frame loss"
#1. Testing Env:

libva:             (staging)35e70cb9b9c77dfb99fb370e319ed501f0c31b17
intel driver:      (staging)fbbe401aa28a0b3859d587ef08f0df15a2f7c8f2
libyami:           (master)585059310594e89baa69d057f15c39476122fa5a
omxil-core:        (staging-yami)cb613287332584a94ba004dacdaf54f00f89ba3c
omx-components:    (staging-yami)51f6bd9c62546baa32a664e6334ca3797b727bd2
gst-omx:           (master)d

[2014-06-04 02:31] zliu50x opened #34 "Playing back 4k video is not smooth when using omxh264dec"
#1. Testing Env:

libva:             (staging)35e70cb9b9c77dfb99fb370e319ed501f0c31b17
intel driver:      (staging)fbbe401aa28a0b3859d587ef08f0df15a2f7c8f2
libyami:           (master)585059310594e89baa69d057f15c39476122fa5a
omxil-core:        (staging-yami)cb613287332584a94ba004dacdaf54f00f89ba3c
omx-components:    (staging-yami)51f6bd9c62546baa32a664e6334ca3797b727bd2
gst-omx:           (master)d

[2014-06-04 02:36] zliu50x opened #35 "omxil-core error: programmer bug, uv data copy from 0x33434d49 to 0x13 format hasn't supported yet"
#1. Testing Env:

libva:             (staging)35e70cb9b9c77dfb99fb370e319ed501f0c31b17
intel driver:      (staging)fbbe401aa28a0b3859d587ef08f0df15a2f7c8f2
libyami:           (master)585059310594e89baa69d057f15c39476122fa5a
omxil-core:        (staging-yami)cb613287332584a94ba004dacdaf54f00f89ba3c
omx-components:    (staging-yami)51f6bd9c62546baa32a664e6334ca3797b727bd2
gst-omx:           (master)d

[2014-06-04 06:32] zliu50x opened #36 ".264 file encoding by omxh264enc get low psnr when comparing with windows driver data"
1. Testing Env:
   libva: (staging)35e70cb9b9c77dfb99fb370e319ed501f0c31b17
   intel driver: (staging)fbbe401aa28a0b3859d587ef08f0df15a2f7c8f2
   libyami: (master)585059310594e89baa69d057f15c39476122fa5a
   omxil-core: (staging-yami)cb613287332584a94ba004dacdaf54f00f89ba3c
   omx-components: (staging-yami)51f6bd9c62546baa32a664e6334ca3797b727bd2
   gst-omx: (master)d52c613d56a43ba4fd2be03139c9a1a6

[2014-06-06 02:14] changzhix opened #38 "There is no frame display when play alphaconformanceG.264"
There is no frame display when play alphaconformanceG.264

[2014-06-06 08:11] zliu50x opened #39 "omxh264enc need to support more parameter"
omxh264enc should add more parameter control, please reference the gstreamer vaapi's parameter
"vaapiencode_h264 rate-control=cqp keyframe-period=30 max-bframes=2 init-qp=28 cabac=true"
gstreamer vaapi parameter information:
1. rate-control : Rate control mode
    flags: readable, writable
    Enum "GstVaapiRateControlH264" Default: 1, "cqp"
        (1): cqp              - Constant QP
        (2):

[2014-06-11 01:33] zhongcong opened #40 "h264: support process for gaps in frame_num"
short-term reference can not be finded when play back some h264 clips.the reason is that there are gaps in frame_num.
Clip: MR3_TANDBERG_B.264

[2014-06-27 06:01] #40 closed, assigned to nobody

[2014-07-03 09:15] #35 closed, assigned to nobody

[2014-07-03 09:15] #31 closed, assigned to nobody

[2014-07-03 09:28] zliu50x opened #55 "vp80-03-segmentation-1425.ivf cannot decode by omxvp8dec"
vp80-03-segmentation-1425.ivf cannot decode by omxvp8dec.
test comand:
gst-launch-1.0 filesrc location=/home/GFX/build/testsuite/Media_tools/media_tools/vp8_dec_cfm/dotivf/vp80-03-segmentation-1425.ivf '!' ivfparse '!' omxvp8dec '!' vaapisink sync=false

log:
[root@x-bdwmedia gst-omx]# gst-launch-1.0 filesrc location=/home/GFX/build/testsuite/Media_tools/media_tools/vp8_dec_cfm/dotivf/vp80-03-segm

[2014-07-03 09:36] zliu50x opened #56 "some clips get low ssim value when using omxmjpegdec to decode"
low ssim value and frame loss happened when using omxmjpegdec to decode

test comamnd:
1. use following command to get dump yuv file
gst-launch-1.0 filesrc location=/root/media_tools/encoder/encoderbitstreams/$j '!' videoparse format=i420 width=${WIDTH} height=${HEIGHT} '!' jpegenc '!' omxmjpegdec '!' vaapisink
2. use following command to get reference yuv' file
gst-launch-1.0 filesrc location=/ro

[2014-07-09 08:14] zhongcong opened #59 "alphaconformanceG.264 couldn't find associated sequence parameter set with id: 0"
On BDW, 4 Of 171 stream fails
CVSE3_Sony_H.jsv
CVSEFDFT3_Sony_E.jsv
CVSE2_Sony_B.jsv
alphaconformanceG.264

[2014-07-09 11:42] #59 closed, assigned to nobody

[2014-07-10 05:20] changzhix opened #60 "There is an error when play an odd number of resolution about vp8"
omxil-core error: seems to be up layer bug, no room for nv12 data copy, need 37697, have 37537

[2014-07-14 10:44] zhongcong opened #63 "playback FM1_FT_E.264 exit with H264Baseline profile"
playback FM1_FT_E.264 1-200 frames with H264ConstrainedBaseline Profile. And then sps and pps updated. Profile of this clip changed to H264Baseline Profile. But the intel-driver can not support H264Baseline profile but support H264ConstrainedBaseline profile.
So the decoder ends.

So this is not issue of yami decoder.

[2014-07-17 03:46] zliu50x opened #64 "low ssim when decoding vp80-03-segmentation-1436.ivf"
low ssim when decoding vp80-03-segmentation-1436.ivf.

regression fail, test command:
gst-launch-1.0 filesrc location=/media/vp8/vp80-03-segmentation-1436.ivf '!' ivfparse '!' omxvp8dec '!' vaapisink sync=false
judge the YUV file decoding by soft decoder to get the ssim.

result:
filename  Y SSIM extreme Y SSIM average U SSIM extreme U SSIM average V SSIM extreme V SSIM average
vp80-03-segmentatio

[2014-07-28 04:23] zhongcong opened #67 "FM1_FT_E.264 playback the nalus before the first slice nalu and the first slice nalu are decoded twice."

[2014-08-06 02:39] #24 closed, assigned to nobody

[2014-08-06 02:40] #67 closed, assigned to nobody

[2014-08-06 02:40] #63 closed, assigned to nobody

[2014-08-06 02:40] #15 closed, assigned to nobody

[2014-08-08 01:32] #30 closed, assigned to nobody

[2014-08-08 01:32] #32 closed, assigned to nobody

[2014-10-16 06:36] wenxin2 opened #103 "[BDW][Media][Decode]segment fault when doing decoding test"
1.Test Env :
libva:                          (master) c356638098e55453d2fac8bbb92eafc8cc32d6f4
intel driver:                 (staging)98b28c5b4e7f6c00270dd146974be97ce6f321f4
libyami:                       (master)1c52de73a6540e766806f626a5a4c72bf3e3ed9e
omxil-core:                  (master) d6f6edef3119d5622f9066521fc4b53004410a27
omx-components:       (master) 1f671b2cfa6d2709501f324fa7ffd81cb62

[2014-10-16 08:40] wenxin2 opened #104 "[BDW][Media][Encode]gst-launch-1.0 abort when doing encoding test"
1.Test Env:
libva: (master) c356638098e55453d2fac8bbb92eafc8cc32d6f4
intel driver: (staging)98b28c5b4e7f6c00270dd146974be97ce6f321f4
libyami: (master) 1c52de73a6540e766806f626a5a4c72bf3e3ed9e
omxil-core: (master) d6f6edef3119d5622f9066521fc4b53004410a27
omx-components: (master) 1f671b2cfa6d2709501f324fa7ffd81cb6255554
gst-omx: (master) f178afe59e507ea7113bbc630affd6d502a2418c
2.Testing steps:
   (

[2014-10-17 01:51] wenxin2 opened #105 "[BDW][Media][Encode]blocking when doing 1080p encoding test"
1.Test Env :
libva:                          (master) c356638098e55453d2fac8bbb92eafc8cc32d6f4
intel driver:                 (staging)98b28c5b4e7f6c00270dd146974be97ce6f321f4
libyami:                       (master)1c52de73a6540e766806f626a5a4c72bf3e3ed9e
omxil-core:                  (master) d6f6edef3119d5622f9066521fc4b53004410a27
omx-components:       (master) 1f671b2cfa6d2709501f324fa7ffd81cb62

[2014-10-17 02:12] wenxin2 opened #106 "[BDW][Media][Encode]YamiUnitTest encoding PSNR is low when comparing with window driver data"
1.Test Env:
libva: (master) c356638098e55453d2fac8bbb92eafc8cc32d6f4
intel driver: (staging)98b28c5b4e7f6c00270dd146974be97ce6f321f4
libyami: (master) 1c52de73a6540e766806f626a5a4c72bf3e3ed9e
omxil-core: (master) d6f6edef3119d5622f9066521fc4b53004410a27
omx-components: (master) 1f671b2cfa6d2709501f324fa7ffd81cb6255554
gst-omx: (master) f178afe59e507ea7113bbc630affd6d502a2418c
2.Testing steps:

[2014-10-23 06:48] #104 closed, assigned to nobody

[2014-10-23 06:50] #103 closed, assigned to nobody

[2014-10-23 07:01] #105 closed, assigned to nobody

[2014-10-23 07:12] wenxin2 opened #108 "[BDW][Media][Decode]YamiUnitTest JPEG decoding ssim value is low"
1.Testing Env:
libva:                             (master) c356638098e55453d2fac8bbb92eafc8cc32d6f4
intel driver:                 (staging)98b28c5b4e7f6c00270dd146974be97ce6f321f4
libyami:                        (master) ea0c74298dcaa3d7f75261df98cfa31895bf9089
omxil-core:                  (master) d6f6edef3119d5622f9066521fc4b53004410a27
omx-components:     (master) 464135af23ac7d3ae5d3a9240f2fd7

[2014-10-23 08:24] #55 closed, assigned to nobody

[2014-10-23 08:24] #56 closed, assigned to nobody

[2014-10-23 08:24] #64 closed, assigned to nobody

[2014-10-23 08:25] #106 closed, assigned to nobody

[2014-10-28 07:14] changzhix opened #113 "v4l2decode can't playback vp8 and jpg"
v4l2decode -i /path/to/vp8 or jpg

[2014-10-28 07:25] changzhix opened #114 "v4l2decode can't dump video frame"
v4l2decode -i /path/to/h264 -m 0
The yuv file is not  created when use render mode 0.

[2014-10-28 07:28] changzhix opened #115 "v4l2decode can't show frame when use render mode 1/2/3"
v4l2decode -i /path/to/h264 -m 1/2/3
There is no frame display when use render mode 1/2/3

[2014-10-28 07:32] #38 closed, assigned to nobody

[2014-10-28 07:32] #26 closed, assigned to nobody

[2014-10-28 07:33] #60 closed, assigned to nobody

[2014-10-28 07:37] changzhix opened #116 "Build error: –enable-tests –enable-tests-gles –enable-capi"
build libyami error when use config –enable-tests-gles –disable-x11
build libyami error when use config –enable-tests –enable-tests-gles –enable-capi

[2014-10-28 07:59] changzhix opened #117 "decodecapi can't playback when use render mode 2/3/4/5"
decodecapi -i /path/to/h264 -m 2/3/4/5
When use render mode 2/3/4/5, there is an error：
decodehelp.h:358 renderOutputFrames: Assertion ‘0’ failed.

[2014-11-04 01:05] chivakker opened #124 "libyami doesn't build with libva-1.3.1"
Please add a check on the configure for the libva version.  If version is not supported, configure should say so.

It would be good to support version mentioned libva-1.3.1 onward.

[2014-11-06 08:30] wenxin2 opened #126 "[BDW][Media][Encode]startAborted when doing unit test for v4l2 encode"
1.Testing environment:
libva:                           (master) ccd93de5a707e92a629cccd595757c8d436fa3cc
intel driver:                 (master) 24cba20a119c96556ae4dc9a90043896ea70e56
libyami:                       (master) ddd2a83ad153853887e39291d367687b18a2fb8e
omxil-core:                  (master) d6f6edef3119d5622f9066521fc4b53004410a27
omx-components:       (master) 464135af23ac7d3ae5d3a924

[2014-11-06 08:54] wenxin2 opened #127 "[BDW][Media][Decode]no video output when doing decoding test for the texture rendering mode(-m 4)"
1.Testing environment:
libva:                             (master) ccd93de5a707e92a629cccd595757c8d436fa3cc
intel driver:                   (master) 24cba20a119c96556ae4dc9a90043896ea70e56
libyami:                         (master) ddd2a83ad153853887e39291d367687b18a2fb8e
omxil-core:                    (master) d6f6edef3119d5622f9066521fc4b53004410a27
omx-components:         (master) 464135af23ac7d

[2014-11-07 01:37] wenxin2 opened #128 "[BDW][Media][Encode]garbage data display when doing encoding test with camera -s <fourcc: NV12>"
1.Testing environment:
libva:                          (master) ccd93de5a707e92a629cccd595757c8d436fa3cc
intel driver:                 (master) 24cba20a119c96556ae4dc9a90043896ea70e56
libyami:                       (master) ddd2a83ad153853887e39291d367687b18a2fb8e
omxil-core:                  (master) d6f6edef3119d5622f9066521fc4b53004410a27
omx-components:       (master) 464135af23ac7d3ae5d3a9240

[2014-11-07 01:53] wenxin2 opened #129 "[BDW][Media][Decode]the parameter (-w 2) not work when doing Unit test for pure C API interface"
1.Testing environment:
libva:                             (master) ccd93de5a707e92a629cccd595757c8d436fa3cc
intel driver:                 (master) 24cba20a119c96556ae4dc9a90043896ea70e56
libyami:                        (master) ddd2a83ad153853887e39291d367687b18a2fb8e
omxil-core:                  (master) d6f6edef3119d5622f9066521fc4b53004410a27
omx-components:     (master) 464135af23ac7d3ae5d3a92

[2014-11-07 02:19] wenxin2 opened #130 "[BDW][Media][Decode]1080p Video freeze when doing unit test for v4l2 decode wrapper"
1.Testing environment:
libva:                             (master) ccd93de5a707e92a629cccd595757c8d436fa3cc
intel driver:                 (master) 24cba20a119c96556ae4dc9a90043896ea70e56
libyami:                        (master) ddd2a83ad153853887e39291d367687b18a2fb8e
omxil-core:                  (master) d6f6edef3119d5622f9066521fc4b53004410a27
omx-components:     (master) 464135af23ac7d3ae5d3a92

[2014-11-07 07:33] wenxin2 opened #131 "[BDW][Media][Encode]startAborted when doing encoding with camera for pure C API interface"
1.Testing environment:
libva:                             (master) ccd93de5a707e92a629cccd595757c8d436fa3cc
intel driver:                   (master) 24cba20a119c96556ae4dc9a90043896ea70e56
libyami:                         (master) ddd2a83ad153853887e39291d367687b18a2fb8e
omxil-core:                    (master) d6f6edef3119d5622f9066521fc4b53004410a27
omx-components:         (master) 464135af23ac7d

[2014-11-07 08:49] #115 closed, assigned to nobody

[2014-11-07 08:49] #114 closed, assigned to nobody

[2014-11-07 08:51] #113 closed, assigned to nobody

[2014-11-07 08:52] #33 closed, assigned to nobody

[2014-11-07 08:53] #12 closed, assigned to nobody

[2014-11-10 02:27] #34 closed, assigned to nobody

[2014-11-17 06:08] #124 closed, assigned to halleyzhao

[2014-11-26 02:05] #128 closed, assigned to halleyzhao

[2014-11-27 05:37] #127 closed, assigned to halleyzhao

[2014-11-27 05:40] #131 closed, assigned to xuguangxin

[2014-11-27 05:41] #130 closed, assigned to halleyzhao

[2014-11-27 05:43] #129 closed, assigned to xuguangxin

[2014-11-27 05:43] #126 closed, assigned to halleyzhao

[2014-11-27 07:23] #36 closed, assigned to xuguangxin

[2014-12-02 23:37] chivakker opened #148 "Makefile.am doesn't add v4l2 folder when enabling v4l2-glx"
v4l2-glx can be enabled without v4l2, but the SUBDIR v4l2 is not added to compilation. by adding v4l2-glx to configure v4l2 sub-dir should be added to compilation.

[2014-12-15 01:27] #148 closed, assigned to nobody

[2015-01-13 04:28] wenxin2 opened #166 "[BDW][media][Decode]segmentation fault when testing for vp9 decoding"
1. Testing Env:
Libva:                    (staging)9d128cf241830f7ead49fa5b104248b44c680873
Libva_intel_driver: (hybrid_vp9_rebase2)a343161979984b4307a015233e79380b55ab2d4f
Ffmpeg:                 (master)037b527d62500cfde89d3bda5d4ac04ce8b8d959
Libyami:                 (master)8cc7e42ca49ea407b7e49db0e200f794e20fc49c
2. Test command:
(1)use following command to get dump yuv file
/home/wenxin1/lib

[2015-01-13 04:47] wenxin2 opened #167 "[BDW][Media][Decode] md5 value is not equal to the value using software tools when doing YamiUnitTest for Vp9 decoding"
1.Testing Env:
 Libva: (staging)9d128cf241830f7ead49fa5b104248b44c680873
 Libva_intel_driver: (hybrid_vp9_rebase2)a343161979984b4307a015233e79380b55ab2d4f
 Ffmpeg: (master)037b527d62500cfde89d3bda5d4ac04ce8b8d959
 Libyami: (master)8cc7e42ca49ea407b7e49db0e200f794e20fc49c

2.Test command:
 (1)use following command to get dump yuv file
 /home/wenxin1/libyami/omx/libyami/tests/yamidecode -i /home/wen

[2015-01-13 04:56] wenxin2 opened #168 "[BDW][Media][Decode]yamidecode blocks at XGetWindowAttributes() after libva dlopen"
1. Test Env:
Libva:                          (master)e97ac9e78cd475a13e722c455e34d5d39d0f059d
Libva_intel_driver:       (master)43bd81abdde40b50ac71f6f44eb04e4eaf5af5f6
libyami:                        (master) 8cc7e42ca49ea407b7e49db0e200f794e20fc49c
2..Test command:
/home/wenxin1/libyami/omx/libyami/tests/yamidecode -i /media/ts/H264_176x144_frame320.mp4 -m 1
input file: /media/ts/H264_176x144_fr

[2015-01-13 06:53] wenxin2 opened #169 "[BDW][Media][Decode]segmentation fault when doing yamidecode for .mp4 with no render (-m -1)"
1.Test Env:
Libva:                                (master)e97ac9e78cd475a13e722c455e34d5d39d0f059d
Libva_intel_driver:             (master)43bd81abdde40b50ac71f6f44eb04e4eaf5af5f6
Libyami:                             (master)8cc7e42ca49ea407b7e49db0e200f794e20fc49c

2.Test command:
(1)use following command to get dump yuv file
/home/wenxin1/libyami/omx/libyami/tests/yamidecode -i /media/ts/H264_17

[2015-01-13 07:08] wenxin2 opened #170 "[BDW][Media][Decode]libyami can not work when doing v4l2decode for .mp4 format with (-m 0/3/4)"
1.Test Env:
Libva: (master)e97ac9e78cd475a13e722c455e34d5d39d0f059d
Libva_intel_driver: (master)43bd81abdde40b50ac71f6f44eb04e4eaf5af5f6
Libyami: (master)8cc7e42ca49ea407b7e49db0e200f794e20fc49c

2.Test command:
(1)use following command to get dump yuv file
/home/wenxin1/libyami/omx/libyami/tests/v4l2decode -i /media/ts/H264_176x144_frame320.mp4 -m 0
the result is that:
libyami can not work

[2015-01-20 01:07] #116 closed

[2015-01-20 01:09] xuguangxin commented on #168
Hi Jiankang:
seems hard to fix, look at it only if you have time.

[2015-01-20 05:30] xuguangxin commented on #169
fix by a72bff04b08d679d7a478aa2de0dcf4d2af8d353

[2015-01-20 05:32] xuguangxin commented on #167
It's resolution change clips. Driver have issue to handle this. We will check this when driver fixed it.

[2015-01-20 05:33] xuguangxin commented on #170
similar issue as [BDW][Media][Decode]yamidecode blocks at XGetWindowAttributes() after libva dlopen #168
we will look at this after it's fixed.

[2015-02-03 17:45] skibey opened #174 "VP9 decode does not work on ChromeOS with Libyami"
After running VP9 decode with hybrid driver on ChromeOS, I found some changes were missing in Libyami. I have added the changes to this pull request:
https://github.com/01org/libyami/pull/173

After these changes, VP9 decode works fine on ChromeOS. Please review and merge.

[2015-02-05 10:28] waiter89 opened #175 "lack of const"
in  VideoDecoder class
    virtual const VideoRenderBuffer* getOutput(bool draining = false) = 0;
it return "const " value,but
    virtual void renderDone(VideoRenderBuffer * renderBuf);
has no "const".

[2015-02-05 12:57] Hedda opened #176 "VC-1 (VC1) and WMV 9 (WMV3) support missing"
Request SMPTE decoder support for VC-1 (VC1/WVC1) and Windows Media Video 9 (WMV3) decode:

http://en.wikipedia.org/wiki/VC-1

SMPTE 421M, informally known as VC-1, is a video coding format. It was initially developed as a proprietary video format based on WMV 9 (Windows Media Video 9) by Microsoft in 2003 and officially approved as a SMPTE video codec standard on April 3, 2006. VC-1 is today a su

[2015-02-06 02:13] xuguangxin commented on #176
Our first priority are vp9 and hevc. VC1 is in our todo list. But it's not gonna be in next release. If you have strong request for this, we can rearrange our priority. But its not a promise.
Other option is someone help us to implement is ;). We treat mpeg2/mpeg4/vc1 as legacy codec. We have codec parser for them but no decoder implement yet. Codec parser done  most of dirty things. The decoder s

[2015-02-06 10:13] Hedda commented on #176
Yes I would strongly recommend prioritizing VC-1 (WMV9) over HEVC (H.265) right now because the are so many more real-world examples out there of VC-1 encoded video compared to available HEVC videos.

One perfect example is that approximately 10-20% of all Blu-Ray Disc movies that have been sold are are still being sold are encoded in  VC-1 (WMV9). So while you can still playback 80-90% of all  Bl

[2015-02-09 05:16] xuguangxin commented on #176
We put vp9 and hevc to high priority base on our hardware spec. And also there are requests from customer, google need vp9, video surveillance customer need hevc.
mpeg2 is most head ache format. The spec is too old. There are many existed encoders will generate error streams. We need workaround them. It's hard to implement a robust mpeg2 decoder. So we will put this after VC1.

[2015-02-10 06:18] YuJiankang commented on #175
This issue is fixed by the the following commit, patch is merged to trunk code.
bc55f96e12e758f70f84e63eeed7ef2f278f43c0

[2015-02-10 06:21] YuJiankang commented on #108
Checked the jpeg conformance test spec. Suggested QA to try the better way to check the quality of jpeg decoder
                a)Each coded stream is decoded using the decoder under test.
                b)Difference between the decoded outputs and original reference YUV image are measured
                c)add more test stream to increase the test coverage
               d)YUV image decoded by l

[2015-02-10 07:14] wenxin2 opened #180 "[SKL][Media][Encode]fps value was set error when doing vp8 encoding test"
1.Testing environment:
libva:                             (staging) d9626b77f865ce7bdbc8c78988a86d3e4f55d67b
intel driver:                    (staging) a8ca5f911c7c19b5ede3f96ac6113606b9dd4d95
libyami:                          (master) 7730d21bcbcc6511f86bfc74ec7e6763c76dcae5
omxil-core:                     (master) d6f6edef3119d5622f9066521fc4b53004410a27
omx-components:          (master) 464135a

[2015-02-10 08:03] wenxin2 opened #181 "[SKL][media][Encode] frame numbers in the head of file are not same with real frames"
1.Testing environment:
libva:                          (staging) d9626b77f865ce7bdbc8c78988a86d3e4f55d67b
intel driver:                 (staging) a8ca5f911c7c19b5ede3f96ac6113606b9dd4d95
libyami:                       (master) 7730d21bcbcc6511f86bfc74ec7e6763c76dcae5
omxil-core:                  (master) d6f6edef3119d5622f9066521fc4b53004410a27
omx-components:       (master) 464135af23ac7d3ae5d3a9

[2015-02-10 08:16] wenxin2 opened #182 "[SKL][Media][Encode]corrupt occured when doing vp8 encoding test for MOBILE_352x288_30_orig_01.yuv"
1.Testing environment:
libva:                          (staging) d9626b77f865ce7bdbc8c78988a86d3e4f55d67b
intel driver:                 (staging) a8ca5f911c7c19b5ede3f96ac6113606b9dd4d95
libyami:                       (master) 7730d21bcbcc6511f86bfc74ec7e6763c76dcae5
omxil-core:                  (master) d6f6edef3119d5622f9066521fc4b53004410a27
omx-components:       (master) 464135af23ac7d3ae5d3a9

[2015-02-11 06:15] xuguangxin commented on #176
Hi Hedda:
Ok, we start to work on vc1 decoder, it should finish all conformance test in 2-3 weeks. Hope it not block you.

[2015-02-18 10:46] Hedda commented on #176
Thanks! What is you reference hardware and devices for YAMI/libyami?

[2015-02-25 00:38] xuguangxin commented on #176
We use Haswell, but it should work on
  * Intel Sandybridge, Ivybridge, Haswell and Broadwell (HD Graphics)
  * Intel Baytrail

[2015-02-27 03:12] xuguangxin commented on #175
thanks waiter89 & Jiankang

[2015-02-27 03:12] #175 closed

[2015-03-05 00:35] xuguangxin commented on #174
merged and commented at #173

[2015-03-05 00:35] #174 closed

[2015-03-30 01:05] waiter89 opened #201 "encoder support VIDEO_DATA_MEMORY_TYPE_SURFACE_ID ?"
你好，打扰了！编码时候只能传VIDEO_DATA_MEMORY_TYPE_RAW_POINTER？ 不支持直接在显卡解码后生产的surface转给编码？
VideoFrameRawData vfd;
        memset(&vfd,0,sizeof(vfd));
        vfd.memoryType = VIDEO_DATA_MEMORY_TYPE_SURFACE_ID;
        vfd.internalID = vrb->surface;
        vfd.handle = (intptr_t)vrb->display;
        vfd.flags = VIDEO_FRAME_FLAGS_KEY;
        vfd.width = 1280;
        vfd.height = 720;
        vfd.fourcc = VA_F

[2015-03-30 02:26] xuguangxin commented on #201
Yes. as workaround,  you can get VIDEO_DATA_MEMORY_TYPE_RAW_POINTER from decoder and send it to encoder. We have a demo about this in EncodeInputDecoder.cpp. It's not efficient. Since it force cpu/gpu sync and copy  bits from decode surface to encode surface. But it's dependent your usage.  May it's enough for you.
We will add vpp(video post process) interface in near future, it enable you share s

[2015-04-13 06:24] jsorg71 opened #206 "vaPutSurface flags"
We need a way to pass a value to the last parameter of vaPutSurface.
Currently, you always hard code a zero.
See VaapiDecoderBase::getOutput.
I can do a pull request but I want to know how you prefer to do this.
Options include.

1 - add a parameter to the function calls ie VaapiDecoderBase::getOutput.  This will touch many files.
2 - add a class member to "class VaapiDecoderBase"  Someting like
p

[2015-04-13 07:33] xuguangxin commented on #206
Hi Jay:
which flag you want use, Is it gone dynamic change?

[2015-04-13 07:43] jsorg71 commented on #206
VA_SRC_BT601 and VA_SRC_BT709
RemoteFX H264 uses VA_SRC_BT709 which is not default.
I currently have to patch this and ship a modified libyami.
I guess it does not need to be dynamic but I can see the possible need.

[2015-04-13 07:58] xuguangxin commented on #206
If you use option 2, you still need a function to set the m_putSurfaceFlags. and this function is not needed by other getOutput.
Maybe, option 1 is better. you do not need modify too many file since you can use default param.
just like  frameX.

By The Way, in middle term. We want getOutput only output VaSurface(with some wrapper). You can do what you want when you get the surfacd id.

[2015-04-13 08:06] jsorg71 commented on #206
Ok, I'll create a PR.

[2015-04-13 08:10] xuguangxin commented on #206
thanks

[2015-05-22 06:35] andyLiuChina commented on #180
fixed by  8b999407572209d88a143331f31002d279fed0fa

[2015-05-22 06:36] andyLiuChina commented on #181
fixed by d230ae1778b41dad962160f2cf9f866911d9622b

[2015-05-22 06:41] andyLiuChina commented on #117
non-reproducible bug

[2015-05-22 06:49] andyLiuChina commented on #182
fixed by 2684c8d66d802fc364af785e9c5235293fd12d1b

[2015-06-05 08:10] wenxin2 opened #228 "[BDW][Media][Decode/Encode]The usage information of yamivpp feature is not comprehensive and not detailed"
1.Testing environment:
Libva:                      (master)4763db1c2133d4e6b92355938ecb6f23a7767b6b
Libva_intel_driver:   (master)4a1c4d21f3428b08ef765d7f7de75b97006514ac
libyami:                    (master)5c64c7237e06e41d0c64b4bc97c5d74900531786
 2.Test command
 (1) /home/wenxin/libyami/libyami/tests/yamivpp -h
usage: yamivpp input_1920x1080.i420 output_320x240.yv12
(2) there are little detailed

[2015-06-05 08:25] wenxin2 opened #229 "[BDW][Media][Decode/Encode]some relevant package for build libyami should be detailed expecially when adding the parameter --enable-gles"
1.Testing environment:
 Libva: (master)4763db1c2133d4e6b92355938ecb6f23a7767b6b
 Libva_intel_driver: (master)4a1c4d21f3428b08ef765d7f7de75b97006514ac
 libyami: (master)5c64c7237e06e41d0c64b4bc97c5d74900531786
 2.Test command
 (1) the steps of build for libyami
git clean -dxf && ./autogen.sh --prefix=$LIBYAMI_PREFIX --enable-tests --enable-tests-gles && make -j8 && make install
(2)check the build r

[2015-06-08 01:41] wenxin2 commented on #108
yes, it is ok now

[2015-06-08 01:41] #108 closed

[2015-06-08 02:06] #169 closed

[2015-06-08 02:22] #168 closed

[2015-06-08 03:08] wenxin2 opened #230 "[BDW][Media][Decode]The MD5 value is not the same with the VPG data when doing vp8 decoding"
1.Testing environment:
 Libva: (master)4763db1c2133d4e6b92355938ecb6f23a7767b6b
 Libva_intel_driver: (master)4a1c4d21f3428b08ef765d7f7de75b97006514ac
 libyami: (master)5c64c7237e06e41d0c64b4bc97c5d74900531786
2.Test command
(1)/home/wenxin/libyami/libyami/tests/yamidecode -i /media/vp8_vpg/vp8_rev05_InterFrame_CoefPartition_14_Crew0.webm -m 0 -f I420
(2)compare the md5 value
vp8_vpg/vp8_rev05_Inte

[2015-06-11 15:20] uartie opened #235 "Add "Contributing" section to README"
A "Contributing" section in the README would advertise to developers the expected method for contributing patches to this project, even if it seems obvious.  Also, is there a mailing list for this project?

[2015-06-11 15:33] chivakker commented on #235
mailing list is libyami@lists.01.org

[2015-06-16 16:40] uartie opened #243 "Compiler Warnings introduced in 0a07bf2da34c (#242)"
Merged pull request #242 (i.e. 0a07bf2da34c) introduces a bunch of these compiler warnings (GCC 4.8.3):

[code]

And this one from `vaapidecoder_base.h`:

[code]

Compiler warnings should be avoided with every commit... Please Fix!

[2015-06-17 01:24] xuguangxin commented on #243
Ok, @andyLiuChina  will work on fix it. There are so many warning in compile log. Hard to know which one is new introduced.@andyLiuChina will add treat warning as error to compile flag. It will help us improve code quality.

[2015-06-17 10:06] zhongcong commented on #229
wenxin, maybe your libyami pkg-config find the egl.pc and glesv2.pc.
But the egl and glesv2 library location is not right.
Pls check again.

[2015-06-19 01:56] wenxin2 commented on #182
it is ok .

[2015-06-19 01:56] #182 closed

[2015-06-26 19:19] uartie commented on #229
Newer versions of Mesa don't have these defined in their symbol table... we need to use eglGetProceAddress instead.  I have a patch in the pipline...

[2015-07-15 02:26] zhongcong commented on #230
After finishing the vp8: fix loop_filter_level flag error bug. #256 , most of the clips decode ok.
Now only 3 clips the MD5 value is not the same with vpg data.
clips: vp8_rev05_InterFrame_CoefPartition_14_Crew0.webm,vp80-03-segmentation-1425.ivf,vp80-03-segmentation-1436.ivf

[2015-07-15 02:29] zhongcong opened #257 "The MD5 value is not the same with the correct md5 when doing vp9 hybrid decoding."
issue clips:
Smaller_VP9_209_extra_smaller_1.1.vp9
Stress_VP9_1920x1080_150_inter_stress_1.1.vp9
Stress_VP9_1920x1080_208_extra_lossless_stress_1.1.vp9
Stress_VP9_1920x1080_250_extra_stress_1.1.vp9
Stress_VP9_3840x2160_150_inter_stress_1.1.vp9
Stress_VP9_3840x2160_208_extra_lossless_stress_1.1.vp9
Stress_VP9_3840x2160_250_extra_stress_1.1.vp9
Stress_VP9_432x240_150_inter_stress_1.1.vp9
Stress_VP9_

[2015-07-15 02:46] xuguangxin commented on #39
we will note support gstreamer omx plugins. so close it

[2015-07-15 02:46] #39 closed

[2015-07-15 02:49] xuguangxin commented on #170
Can we close this since #168 closed,

[2015-07-17 01:46] #180 closed

[2015-07-17 08:32] lizhong1008 commented on #181
@andyLiuChina update a patch to set the frame_num in ivf header. However, the frame_num in ivf header is larger than the set frame number: "yamiencode -N"
I have given a patch to fix this issue and waiting for review: https://github.com/lizhong1008/libyami/commit/9cb9b67972c70d93db4df68c56d89ef457f69b7e

[2015-07-20 05:09] xuguangxin commented on #243
close this since we reverted this comit

[2015-07-20 05:09] #243 closed

[2015-07-20 07:02] xuguangxin commented on #235
good suggestion done at https://github.com/01org/libyami/commit/2170aa04aa90df422702f59a8e5cbf1e868af8db

[2015-07-20 07:02] xuguangxin commented on #235
thanks uartie and Daniel

[2015-07-20 07:07] xuguangxin commented on #206
Hi Jay:
we have new interface SharedPtr<VideoFrame>IVideoDecoder::getOutput(), VideoFrame.surface is a VASurface. So you can use it do any thing you want. You can see https://github.com/01org/libyami/blob/master/examples/simpleplayer.cpp for usage.

thanks

[2015-07-20 07:10] xuguangxin commented on #201
Hi wait89:
Now, you can use SharedPtr<VideoFrame> IVideoDecoder::getOutput() && IVideoEncoder::encode(const SharedPtr<VideoFrame>& frame) to achieve this.
details you can refer to https://github.com/01org/libyami/blob/master/examples/simpleplayer.cpp && https://github.com/01org/libyami/blob/master/tests/vppoutputencode.cpp
thanks.

[2015-07-20 07:10] xuguangxin commented on #181
merged to master

[2015-07-20 08:41] zhongcong commented on #167
after my verify, now the libyami decode this clip is correct.

Test env:
Libva: (master)5d07b29687db6d17811b7ecf9b779377e9851a27
Intel-hybrid-driver: (master) f48a04bf1688dc5dc4f3d6f7fddefed454ef80bc
Ffmpeg: (master)b409748bc4412fa2d8e642585c4e5ab8a4d136cb
libyami: (master)2170aa04aa90df422702f59a8e5cbf1e868af8db

[2015-07-20 08:59] zhongcong commented on #166
after my verify, this clip decode without Segmentation fault.
Test env:
Libva: (master)5d07b29687db6d17811b7ecf9b779377e9851a27
Intel-hybrid-driver: (master) f48a04bf1688dc5dc4f3d6f7fddefed454ef80bc
Ffmpeg: (master)b409748bc4412fa2d8e642585c4e5ab8a4d136cb
libyami: (master)2170aa04aa90df422702f59a8e5cbf1e868af8db

[2015-07-21 02:43] zhongcong commented on #166
using latest libvpx decode this clip. it shows out that "Bitstream not supported"

./vpxdec --progress --codec=vp9 -o aa.I420 /work/video/vp9/andrei_480p.webm
Warning: Failed to decode frame 60: Bitstream not supported by this decoder
Warning: Additional information: Invalid frame marker

[2015-07-23 05:47] jsorg71 commented on #206
@xuguangxin Thanks, I'll check it out.

[2015-07-24 05:54] keqiaox opened #264 "[media][Encode]Green block appeared when using VEGA tools to playback H264 CQP 4K encoded bitstream,set qp=7"
![4k](https://cloud.githubusercontent.com/assets/13446640/8868153/90a9240a-3206-11e5-802d-688c6d93821d.PNG)
1.Testing environment:
 Libva: (master)70b80c0dd2effb4956b208775641f7c68a67a9df
Libva_intel_driver: (master)611d8ea9d75dc026c203e3ebe53b434769d4587c
libyami: (master) 0cfc3a48e6eb4af3adc437879f082351a0cff2b2
 ffmpeg: (master) da8b70b810bb2703f976d737af8c68d35716f5ea
2.Test command:
1.$/home/

[2015-07-24 06:39] lizhong1008 commented on #181
@wenxin2 , can this issue be closed now?

[2015-07-24 07:23] zhongcong commented on #167
@wenxin2 can this issue be closed?

[2015-07-24 07:31] keqiaox opened #265 "[HSW][media][Encode]error message "Unexpected byte value after Emulation byte .found 30 allowed 0,1,2,3" appeared after using VEGA tool to playback H264 cqp encode bitstream"
1.Testing environment:
libva: (staging) d9626b77f865ce7bdbc8c78988a86d3e4f55d67b
intel driver: (staging) a8ca5f911c7c19b5ede3f96ac6113606b9dd4d95
libyami: (master) 7730d21
omxil-core: (master) d6f6edef3119d5622f9066521fc4b53004410a27
omx-components: (master) 464135af23ac7d3ae5d3a9240f2fd7a058eb2d7c
gst-omx: (master) f178afe59e507ea7113bbc630affd6d502a2418c

2. Test command:
 use VEGA tool to playb

[2015-07-24 07:34] keqiaox opened #266 "[HSW][media][Encode]error message "Compression ratio found 2.54 in Access Unit for level 4.0 ..." appeared after using VEGA tool to playback H264 cqp encode bitstream"
1.Testing environment:
libva: (staging) d9626b77f865ce7bdbc8c78988a86d3e4f55d67b
intel driver: (staging) a8ca5f911c7c19b5ede3f96ac6113606b9dd4d95
libyami: (master) 7730d21
omxil-core: (master) d6f6edef3119d5622f9066521fc4b53004410a27
omx-components: (master) 464135af23ac7d3ae5d3a9240f2fd7a058eb2d7c
gst-omx: (master) f178afe59e507ea7113bbc630affd6d502a2418c

2.Test command:
    use VEGA tool to pla

[2015-07-24 08:15] wenxin2 commented on #181
Yes,it is ok now.

[2015-07-24 08:15] #181 closed

[2015-07-25 04:27] lizhong1008 commented on #266
Create a commit to fix this issue: https://github.com/lizhong1008/libyami/commit/4612f42589430fdda48e8c4fadf7e6fa13946f11
Waiting for review.

[2015-07-25 04:28] lizhong1008 commented on #265
Create a commit to fix this issue: lizhong1008@4612f42
Waiting for review.

[2015-07-25 04:33] lizhong1008 commented on #264
I try to use libva test case "avcenc" to encode this yuv video, and set qp=7:
 avcenc 3840 2160 4K_2013_3840_2160_300frames.yuv avcenc_4k_qp7_level52.h264 qp=7 mode=1
The encoded frame_number of 187 also have green block.
So I think it's a libva-intel-driver bug, not libyami. My suggestion is closing this issue and firing a bug to libva-intel-driver.

[2015-07-27 01:44] zhongcong commented on #257
now 4 clips passed.
https://github.com/01org/libyami/pull/261

[2015-07-27 07:13] #266 closed

[2015-08-03 01:40] zhongcong commented on #257
#270 ,  fixframesize larger than CacheBufferSize issue  in some vp9 clips.

[2015-08-03 01:42] zhongcong opened #273 "vp9 ref_frame_sign_bias flag set error."
in some vp9 clips,  ref_frame_sign_bias_flag set error.
clip: Stress_VP9_3840x2160_150_inter_stress_1.1.vp9

[2015-08-03 01:45] zhongcong commented on #273
Find out that libyami should set ref_frame_sing_bias to zero when Reset the segment feature data to the default stats but libyami forget that.

[2015-08-03 02:47] bluceldg opened #274 "H264 decode demo,ColorConvert :: NV12ToI420 very Low Performance"
When I use the tests / decode.cpp, decoding H264 (1280 * 960) video, and output yuv file , the process and the results are normal, but ColorConvert :: NV12ToI420 very Low Performance, I do the conversion using ffmpeg's sws_scale, the same efficiency has not improved significantly. Tests found the problem is that memcpy with the pointer vaMapBuffer       
     I used to do hard libav11.4 test solut

[2015-08-03 04:04] zhongcong commented on #273
see #275 , this bug is fixed.

[2015-08-04 02:05] lizhong1008 commented on #264
Hi @keqiaox @wenxin2 : How about close this issue and file a bug to libva project?

[2015-08-04 07:09] zhongcong commented on #257
#273 vp9 ref_frame_sign_bias flag set error.

[2015-08-04 07:11] zhongcong opened #277 "vp9: SegmentationInfoData mistake"
clip: Stress_VP9_3840x2160_208_extra_lossless_stress_1.1.vp9

[2015-08-05 03:07] #235 closed

[2015-08-05 03:08] xuguangxin commented on #235
close since it fix

[2015-08-06 07:07] zhongcong commented on #277
find the root : SegmentationInfoData mistake, after fix this, all clips can pass except the core dump clips.

[2015-08-06 08:04] zhongcong commented on #277
see #279 , this issue is fixed.

[2015-08-06 08:06] zhongcong commented on #257
#277 fix segmentaitonInfoData mistake.

[2015-08-06 08:10] zhongcong commented on #257
After add #261,#270,#273,#277,  the result mismatch issues are fixed. The remains are Segmentaiton fault issue clips.

Clips:
Syntax_VP9_432x240_206_extra_repeat_existing_1.1.vp9
Stress_VP9_1920x1080_250_extra_stress_1.1.vp9
Stress_VP9_3840x2160_250_extra_stress_1.1.vp9
Stress_VP9_432x240_250_extra_stress_1.1.vp9
Syntax_VP9_1920x1080_205_extra_onfly_scaling_1.1.vp9
Syntax_VP9_432x240_205_extra_onf

[2015-08-07 02:55] keqiaox opened #280 "[media][decode] Green screen appeared when doing multisession test+ render with 720P"
1.Bug detailed description:
  Green screen appeared when we were doing multisession decode and render test with 720P, but 3x3 and 6x6 sessions have not found this issue.
2.Testing environment:
  Libva: (master)70b80c0dd2effb4956b208775641f7c68a67a9df
  Libva_intel_driver: (master)611d8ea9d75dc026c203e3ebe53b434769d4587c
  libyami: (master) edec75e19a7aea126654064abe8ae387c6e0e6ba
  ffmpeg: (master

[2015-08-10 02:29] xuguangxin commented on #265
hi keqiao:
it's merged. Please help to verify if you have time

[2015-08-10 02:36] xuguangxin commented on #277
Hi cong:
can we close this?

[2015-08-10 02:39] xuguangxin commented on #274
Hi Bluceldg:
The NV12ToI420 is only for  conformance test. to verify decoder result.You should use IVideoPostProcess api to do vpp things.

[2015-08-10 02:39] xuguangxin commented on #273
Hi Cong:
can we close this?

[2015-08-10 02:40] zhongcong commented on #273
yes, it can be closed now.

[2015-08-10 02:40] #273 closed

[2015-08-10 02:41] zhongcong commented on #277
yes, it can be closed now.

[2015-08-10 02:41] #277 closed

[2015-08-10 02:43] xuguangxin commented on #201
Hi waiter89:
If you think this issue is not fixed. Please repoen it.
thanks

[2015-08-10 02:43] #201 closed

[2015-08-10 02:46] xuguangxin commented on #166
Hi cong:
Is any possible to make sure this clip not crash the application?

[2015-08-10 02:53] zhongcong commented on #166
hi guangxin:
i have used libvpx to test this clip. And it can be decoded without segment.

Test env:
Libva: (master)5d07b29687db6d17811b7ecf9b779377e9851a27
Intel-hybrid-driver: (master) f48a04bf1688dc5dc4f3d6f7fddefed454ef80bc
Ffmpeg: (master)b409748bc4412fa2d8e642585c4e5ab8a4d136cb
libyami: (master)2170aa04aa90df422702f59a8e5cbf1e868af8db

[2015-08-10 02:56] xuguangxin commented on #206
Hi @jsorg71 :
How was this goingon?

thanks

[2015-08-10 02:59] zhongcong commented on #257
After adding linwei's patch for fixing segment, the segmentation fault issue still remains. I will work on the issue.

[2015-08-10 19:59] jsorg71 commented on #206
@xuguangxin

I'm using the capi.
Here is some sample code how I'm using the decode and vaPutSurface.
This works great and I have access to all the capabilities of vaPutSurface.

Jay

    memset(&ib, 0, sizeof(ib));
    ib.data = cdata;
    ib.size = cdata_bytes;
    status = g_decode(self->dec, &ib);
    if (status == 2) /* DECODE_FORMAT_CHANGE */
    {
        fi = g_getFormatInfo(self->dec);

[2015-08-11 02:44] keqiaox opened #284 "Libyami does not support specifying the number of frames to be decoded"
Current libyami does not support this function.so the result get from libyami does not match with the reference values.

[2015-08-11 04:49] xuguangxin commented on #280
Hi Keqiao:
Tried this on 1080 display, it do not have this problem. Do I need get 4k display?

[2015-08-11 04:50] xuguangxin commented on #206
great! so I will close this issue.

[2015-08-11 04:50] #206 closed

[2015-08-11 04:50] xuguangxin commented on #206
thanks Jay

[2015-08-11 05:55] keqiaox commented on #265
Hi Guangxin,
 After re-testing these cases with the latest commit, did not found this issue,so close the bug.

[2015-08-11 05:55] #265 closed

[2015-08-11 08:10] xuguangxin commented on #284
Hi keqiao:
it fixed by 73b2078a6b5412df2e24af430bea4c5ac9288065.
please have a try.

[2015-08-12 01:03] keqiaox commented on #284
hi Guangxin,

  It's OK now,yamidecode can get the right MD5 values mostly with the specific number of frames.But error messages appear when decoding, the messages show:"libyami error(vaapidecoder_base.cpp, 329): surface pool is not initialized yet " .

[2015-08-12 01:24] xuguangxin commented on #284
Hi Keqiao:
it's not cause by this commit. So I will close this issue.Please help to create other issue for "surface pool is not initialized yet "
thanks.

[2015-08-12 01:24] #284 closed

[2015-08-12 01:59] #167 closed

[2015-08-12 03:37] keqiaox commented on #264
hi zhong,

 I can also duplicated this issue with libva intel driver, so I will close this bug and open a new one for libva driver.

Thanks~

[2015-08-12 03:37] #264 closed

[2015-08-12 07:41] keqiaox opened #286 "[media][decode] 1 AVC clips' MD5 values are not the same as the reference data, decode 50 frames"
1.Testing environment:
Libva: (master)70b80c0dd2effb4956b208775641f7c68a67a9df
Libva_intel_driver: (master)611d8ea9d75dc026c203e3ebe53b434769d4587c
libyami: (master) 73b2078a6b5412df2e24af430bea4c5ac9288065
ffmpeg: (master) da8b70b810bb2703f976d737af8c68d35716f5ea
2.Test command:
   1.$ ./yamidecode -i /media/avc_vpg/$filename  -m 0 -n 50 -f I420
   2.$ md5sum $filename.I420
3.Failed cases:
    1.

[2015-08-12 07:49] keqiaox opened #287 "[media][decode] error message appeared when doing AVC decode test"
1.Testing environment:
Libva: (master)70b80c0dd2effb4956b208775641f7c68a67a9df
Libva_intel_driver: (master)611d8ea9d75dc026c203e3ebe53b434769d4587c
libyami: (master) 73b2078
ffmpeg: (master) da8b70b810bb2703f976d737af8c68d35716f5ea
2.Reproduce Steps:
  $ ./yamidecode -i /media/avc_vpg/Allegro_Inter_CAVLC_07_5x6_4.6.264 -m 0 -n 50 -f I420
3.Bug detailed description:
 when doing AVC decode test, sys

[2015-08-13 02:59] zhongcong commented on #257
now both yami+ vp9 + otc libva and mv_adv_decoder + vp9+ otc libva test the left 7 clips fail.

[2015-08-13 05:47] zhongcong commented on #229
#252 can fix this issue, @xuguangxin will you add this patch into libyami?

[2015-08-14 03:09] keqiaox opened #288 "[SKL][Regression][decode] decodecapi tool stopped there but without any error message when doing the test"
1.Testing environment:
Libva: (master)70b80c0dd2effb4956b208775641f7c68a67a9df
Libva_intel_driver: (master)611d8ea9d75dc026c203e3ebe53b434769d4587c
libyami: (master) 73b2078
ffmpeg: (master) da8b70b810bb2703f976d737af8c68d35716f5ea

2.Test command:
1.$ ./decodecapi -i $filename  -m 0 -f I420

3.Bug detailed description
 decodecapi tool stopped there but without any error message when doing the tes

[2015-08-17 04:42] #229 closed

[2015-08-18 05:01] xuguangxin commented on #280
HI @keqiaox
can not reproduce on my board, can you check it?

[2015-08-18 05:01] xuguangxin commented on #274
close this since it is not issue

[2015-08-18 05:01] #274 closed

[2015-08-18 05:03] xuguangxin commented on #288
Hi @andyLiuChina
Is https://github.com/01org/libyami/pull/289 fixed this issue?

[2015-08-18 05:08] xuguangxin commented on #176
Hi Hedda:
Sorry, we always have other things to interrupt this. And we may not have enough resource to add this in recently. I will notify you if we have fixed this.
BR.

[2015-08-18 05:11] xuguangxin commented on #166
Close this since it verified by Cong

[2015-08-18 05:11] #166 closed

[2015-08-19 01:20] keqiaox commented on #280
hi Guangxin,

 After verified, this issue only happens on SKL platform, no issue found on BSW.

[2015-08-19 02:11] xuguangxin commented on #280
it's a driver issue. so close it

[2015-08-19 02:11] #280 closed

[2015-08-19 06:37] keqiaox commented on #117
Hi Guangxin,

 I have tested this issue with the latest driver, it's OK with render mode 2/3/4, but not OK with mode 5, print screen as "lt-decodecapi: decodeoutput.cpp:634: static DecodeOutput* DecodeOutput::create(YamiMediaCodec::IVideoDecoder*, int): Assertion `0 && "do not support this render mode"' failed.
Aborted (core dumped)"

[2015-08-19 06:40] keqiaox commented on #288
Hi all,

 After tested with the latest commit(68d4ea1690c31e61647ec188a8802cc0eb095ee8), not found this issue, so close it.

[2015-08-19 06:41] #288 closed

[2015-08-19 07:50] andyLiuChina commented on #117
Do not support mode 5 at the present time, it is no need to test mode 5.

[2015-08-19 07:59] keqiaox commented on #117
If so, it's OK to close this bug.

[2015-08-19 07:59] #117 closed

[2015-08-24 01:42] xuguangxin commented on #228
HI Keqiao:
it's fixed by #291. Please help to verify.
thanks

[2015-08-24 01:43] xuguangxin commented on #170
Hi @keqiaox
Can we close this,Or you have update on this?

[2015-08-24 02:27] keqiaox commented on #228
hi Guangxin,

 After verified, the usage for yamivpp is detailed now, list as following:
./yamivpp -h
a tool to do video post process, support scaling and CSC
we can guess size and color format from your file name
current supported format are i420, yv12, nv12
usage: yamivpp input_1920x1080.i420 output_320x240.yv12

so this bug can be closed.

[2015-08-24 02:27] #228 closed

[2015-08-24 03:11] keqiaox commented on #170
Hi Guangxin,

 After tested with andy's patch, this issue doesn't exists. so close this bug.

[2015-08-24 03:11] #170 closed

[2015-08-24 03:39] zhongcong commented on #287
There are sps,pps,sei nalu before decoding SLICE nalu(the real codec frame data),  so the first decode unit in h264 is SPS nalu, it return DECODE_SUCCESS but does not setupVA(create display, surface pool and context). And then renderOutputFrames will show out "surface pool is not initialized yet".

[2015-08-24 06:56] zhongcong commented on #287
#294 can fix this

[2015-08-25 06:50] keqiaox commented on #287
hi all,

 After applied zhongchong's latest patch and retest, the error message does not exists anymore, so this bug can be closed.

[2015-08-25 06:50] #287 closed

[2015-09-01 06:10] keqiaox opened #297 "[Decode][H265] The MD5 values are not the same as the reference date when doing H265 decode test by using JVT clips"
1.Testing environment:
Libva: (master)c74f846b8e9c94a4b52b2e32f12d8c9fe62a93af
Libva_intel_driver: (master)ae75deb4fcb9743803c07adef9b23776c399aae3
libyami: (master)183e322d3bd96bb57d451cebca3bcc2b499ba4bc
ffmpeg: (master) 859731d64271f4b30b1ceb9412092023d5991b1d
2.Test command:
1.$ ./yamidecode -i /media/HEVC/JVT10.0/$filename -m -2 -f I420
2.Failed cases:
  1---PICSIZE_A_Bossen_1.bin
  2---PICSI

[2015-09-02 02:32] zhongcong commented on #257
now libyami + vp9 + otc libva test result 3 clips fail, the 3 clips are driver issue.

clips:
Syntax_VP9_16384x240_201_extra_tiles_1.1.vp9
Syntax_VP9_4320x240_201_extra_tiles_1.1.vp9
Stress_VP9_1920x1080_250_extra_stress_1.1.vp9

[2015-09-02 02:54] keqiaox opened #300 "[HEVC][encode] dmesg showed GPU hang error when encoding 1080p bitstream"
1.Testing environment:
Libva: (master)fdd6ee00c916f530e4d0aa1b250633643999dcf1
Libva_intel_driver: (master)29f4234504fd99299997a3fc2f01393fb77030b7
libyami: (hevc-rebased) 4316692be0c3a77758792cb337762e53a8bfd792
ffmpeg: (master) 4c39892b6741c8553689fb73d5a2f64cd2a3c9eb

2.Test command:
./yamiencode -W 1920 -H 1080 -i /root/media_tools/encoder/encoderbitstreams/1080p_blue_sky.yuv -o 1080p_blue_sky

[2015-09-02 04:02] keqiaox opened #301 "[HEVC][decode] error message “libyami error(vaapidecoder_base.cpp, 330): surface pool is not initialized yet” appeared when doing HEVC decode test"
1.Testing environment:
Libva: (master)fdd6ee00c916f530e4d0aa1b250633643999dcf1
Libva_intel_driver: (master)29f4234504fd99299997a3fc2f01393fb77030b7
libyami: (h265dec) 8a003f1
ffmpeg: (master) 4c39892b6741c8553689fb73d5a2f64cd2a3c9eb
2.Test command:
1.$ ./yamidecode -i /media/HEVC/JVT10.0/$filename -m -2 -f I420
3. error message：
libyami error(vaapidecoder_base.cpp, 330): surface pool is not initia

[2015-09-06 16:02] elfring opened #303 "Complete build options for Pthread API"
Would you like to add the configuration script "[AX_PTHREAD](https://www.gnu.org/software/autoconf-archive/ax_pthread.html "How to build C programs using POSIX threads?")" to [your build specification](https://github.com/01org/libyami/blob/a1ed1064697bdb345411bb0e905132fe0a2c05a9/configure.ac#L228 "Configuration checks")?

[2015-09-06 16:10] elfring opened #304 "Completion of error handling"
I have looked at a few source files for your current software. I have noticed that some checks for return codes are missing.

Would you like to add more error handling for return values from functions like the following?
- [printf](http://pubs.opengroup.org/onlinepubs/9699919799/functions/printf.html "Print formatted output.") ⇒ [FpsCalc::log](https://github.com/01org/libyami/blob/af3991ab97d95dc5

[2015-09-08 04:15] xuguangxin commented on #304
Hi elfring:
thanks for comments. But printf and ptreahd_mutex_init only return error in extremely error happened, If this happens, system is unstable. We can't do any thing on this condition.

[2015-09-08 04:17] xuguangxin commented on #303
not familiar with this configuration, but we will check this later. thanks for suggestion.

[2015-09-08 04:18] xuguangxin commented on #301
should fixed by https://github.com/01org/libyami/commit/8d64174072a3611c40bcfd0c63a6fd8457779cd6
but need double check this after we rebased h265dec.

[2015-09-08 04:19] xuguangxin commented on #300
@lizhong1008 , any comments on this?

[2015-09-08 04:20] xuguangxin commented on #297
need update status after we rebased code.

[2015-09-08 04:21] xuguangxin commented on #257
https://github.com/01org/libyami/commit/a4cb390bec76d260e5af24b3ff6a5feeaf022938 have regression  to some ivf file. So still make this open

[2015-09-08 04:22] xuguangxin commented on #176
we will reopen this after we get time to implements vc1 decoder.
thanks Hedda.

[2015-09-08 05:28] lizhong1008 commented on #300
It has been fixed. Please verify my lastest personal tree

[2015-09-08 05:46] keqiaox opened #306 "[Decode][vp9] 2 clips (test suits1)decoding failed with error message "fail to init input stream""
1.Testing environment:
Libva: (v1.6-branch)f7fbdccc65147b2a4b18db9855217a40b56f43aa
Libva_intel_driver: (v1.6-branch)bae95b257043c8376b222cba2fc19d639c6c73c6
libyami: (master) a4cb390
ffmpeg: (master) 61009a709c76ec2a8529c0fcf15057d82bed6454
cmrt:(master) def7965ab7ed16f5f0dfed61107687209b430cd4
intel-hybrid-driver:(master) d4089062024183edf54278ec9080667639a3d6a8

2.Test command:
./yamidecode -i

[2015-09-08 05:50] keqiaox opened #307 "[Decode][vp9] 3 clips (test suits2) decoding failed"
1.Testing environment:
Libva: (v1.6-branch)f7fbdccc65147b2a4b18db9855217a40b56f43aa
Libva_intel_driver: (v1.6-branch)bae95b257043c8376b222cba2fc19d639c6c73c6
libyami: (master) a4cb390
ffmpeg: (master) 61009a709c76ec2a8529c0fcf15057d82bed6454
cmrt:(master) def7965ab7ed16f5f0dfed61107687209b430cd4
intel-hybrid-driver:(master) d4089062024183edf54278ec9080667639a3d6a8

2.Test command:
./yamidecode -i

[2015-09-08 06:04] elfring commented on #304
I suggest to avoid [ignorance of return values](https://cwe.mitre.org/data/definitions/252.html "Unchecked return values") a bit more.

Are you interested to apply [aspect-oriented software development](http://aspectc.org/ "AspectC++")?
How do you think about to encapsulate error detection and corresponding exception handling as [a reusable aspect](http://en.wikipedia.org/wiki/Aspect_%28computer_p

[2015-09-08 06:11] keqiaox opened #308 "[Decode][vp9] 19 clips (test suits3) decoding failed with error message "fail to init input stream""
1.Testing environment:
Libva: (v1.6-branch)f7fbdccc65147b2a4b18db9855217a40b56f43aa
Libva_intel_driver: (v1.6-branch)bae95b257043c8376b222cba2fc19d639c6c73c6
libyami: (master) a4cb390
ffmpeg: (master) 61009a709c76ec2a8529c0fcf15057d82bed6454
cmrt:(master) def7965ab7ed16f5f0dfed61107687209b430cd4
intel-hybrid-driver:(master) d4089062024183edf54278ec9080667639a3d6a8

2.Test command:
./yamidecode -i

[2015-09-09 08:27] keqiaox commented on #306
It's not a real bug, I made a mistake before, so close it.

[2015-09-09 08:27] #306 closed

[2015-09-10 01:07] zhongcong commented on #307
these 3 decoding failed clips are filed in #257 , so this issue can be closed.

[2015-09-10 02:20] keqiaox opened #311 "[HEVC][encode]error message appeared when using VEGA tool to playback HEVC CQP 4K encoded bitstreams"
1.Testing environment:
Libva: (master)575be3f0b5868f842b12473fe21ceab72360cde0
Libva_intel_driver: (master)6f2ea35f5caaf39e81617e7087f20f4885b51985
libyami: (hevc-rebased) 97f8a3ebd4f04869fe321f08b90d1f426dbc3dcc
ffmpeg: (master)  61009a709c76ec2a8529c0fcf15057d82bed6454

2.Test command:
./yamiencode -W 3840 -H 2160 -i /$input/4K_2013_3840_2160_300frames.yuv -o /$output/4k_qp10_ipb_0.265 --ipbmode

[2015-09-10 02:29] lizhong1008 commented on #311
Issue fixed. Please check my latest hevc-rebased branch.

[2015-09-10 03:09] keqiaox commented on #311
After verified with the latest hevc-rebased branch, this issue has not existed anymore, so close this bug.

[2015-09-10 03:09] #311 closed

[2015-09-10 05:42] keqiaox commented on #300
After verified with the latest hevc-rebased branch, this issue has not existed anymore, so close this bug.

[2015-09-10 05:42] #300 closed

[2015-09-10 06:47] keqiaox commented on #301
hi Guangxin,
  Found this issue on h265dec branch.

[2015-09-15 01:43] xuguangxin commented on #304
are robot?

[2015-09-15 08:10] xuguangxin commented on #286
@clearlylin , could you update this

[2015-09-15 08:11] xuguangxin commented on #304
close since elfring is robot

[2015-09-15 08:11] #304 closed

[2015-09-15 08:12] xuguangxin commented on #307
@keqiaox ,could we close this as cong suggested

[2015-09-15 08:41] keqiaox commented on #307
It's OK to me, so close this bug and track #257 for this issue.

[2015-09-15 08:41] #307 closed

[2015-09-15 10:12] clearlylin commented on #286
1.blue_sky_420_1280x720.264
2.pedestrian_area_420_720x576.264
3.V30313_B_D-Traffic_AVC_MP_num_ref_frames_6.264
Dropping frames when decoding these three videos，have fixed the bug.

6.MR6_BT_B.264
7.MR8_BT_B.264
These  two videos belong to extended profile of the spec.
The driver do not support the profile, so yami  also do not support it.

4.V30320_A_D-Traffic_AVC_MP_frame_cropping_2x2.264
5.V3034

[2015-09-15 17:57] elfring commented on #304
A biological system would prefer that strict error detection will become less optional in important software.
Is [the importance of software robustness](https://en.wikipedia.org/w/index.php?title=Robustness_%28computer_science%29 "Making software more robust?") increasing for the affected media library?

[2015-09-16 02:20] #303 closed

[2015-09-21 01:37] xuguangxin commented on #301
should fixed in 0.3.0 RC. please help to check

[2015-09-21 01:38] xuguangxin commented on #297
hi @andyLiuChina , please update this.

[2015-09-21 02:13] andyLiuChina commented on #297
OK,  I had updated!

[2015-09-21 23:39] jsorg71 opened #318 "Need a way to get libyami version"
libva has a good method for getting the version both at compile time and run time.
va_version.h for compile time and vaInitialize for run time.
Can we add similar version info for libyami?

[2015-09-22 07:17] keqiaox opened #320 "[Decode][H265]The MD5 values are not the same as the reference data when doing H265 decode test by using test suits4 clips"
1.Testing environment:
  Libva: (v1.6-branch) 613eb962b45fbbd1526d751e88e0d8897af6c0e0
  Libva_intel_driver: (v1.6-branch) 35858c69166b845c59ca32e19a3dbb0b758df209
  Cmrt: (master)393ba334aa50aac31da64c2f9855cb66e43b067d
  intel-hybrid-driver(master) 37f6af6abf20f267efdacd4ccf0f82f351fa28db
  libyami: (master) 183e322d3bd96bb57d451cebca3bcc2b499ba4bc
  ffmpeg: (master) 61009a709c76ec2a8529c0fcf150

[2015-09-23 02:07] keqiaox commented on #301
Not found this error message with the latest master branch, so close it.

[2015-09-23 02:07] #301 closed

[2015-09-23 07:49] xuguangxin commented on #318
OK, we will add this in next release.thanks for report

[2015-10-09 06:02] xuguangxin opened #330 "registry factory is not work in static link mode."
1. configure yami with this configuration: ./configure --with-pic --enable-static --disable-shared
2. run "yamidecode -i xxx.264"
you will see
"libyami error(vaapidecoder_host.cpp, 55): Failed to create decoder for mimeType: 'video/h264'"
seem h264 decoder did not registered.

after search the web, I find it maybe related to static member's init problem. c++ do not guarantee the static member's in

[2015-10-09 14:52] uartie commented on #330
I will look into this... it should be possible to make it work.

[2015-10-10 01:10] xuguangxin commented on #330
Great! Thanks very much.

From: U. Artie Eoff [mailto:notifications@github.com]
Sent: Friday, October 9, 2015 10:53 PM
To: 01org/libyami
Cc: Xu, Guangxin
Subject: Re: [libyami] registry factory is not work in static link mode. (#330)

I will look into this... it should be possible to make it work.

—
Reply to this email directly or view it on GitHub<https://github.com/01org/libyami/issues/330#issu

[2015-10-10 03:31] uartie commented on #330
xuguangxin, can you verify that this fixes all the tests and examples?

[2015-10-14 05:17] uartie commented on #330
#333 should fix this now.

[2015-10-16 08:39] #330 closed

[2015-10-17 00:32] uartie opened #334 "H265 Decoder Fails to Compile with g++ (GCC) 5.1.1 and -fpermissive"
The following compile error occurs when compiling vaapidecoder_h265.cpp with g++ version 5.1.1 (this is the minimum version provided with Fedora 22).  With g++ version 4.9.2, the same compile error occurs unless ```-fpermissive``` is in the compiler flags.  This compiler flag is specified in all the libyami Makefile.am files, so the compilation works with g++ 4.9.2 by default.  However, this same

[2015-10-17 00:44] uartie commented on #334
Here is a minimal/generic c++ example that exposes this compile error; perhaps we need to file this as an upstream compiler bug... but in the meantime libyami still needs some kind of workaround/fix:

[code]

With g++ 4.9.2:
 ```g++ -o simple simple.cpp``` - Does NOT Compile
 ```g++ -fpermissive -o simple simple.cpp``` - Compiles

With g++ 5.1.1
 ```g++ -o simple simple.cpp``` - Does NOT Compile

[2015-10-17 00:58] uartie commented on #334
Ok, this post explains why you can't use std::remove_if on a std::set:

http://stackoverflow.com/questions/11141651/why-cant-i-remove-a-string-from-a-stdset-with-stdremove-if

... thus, this is strictly a libyami bug.

[2015-10-17 01:11] uartie commented on #334
The fix is to use the std::set::erase method instead.

[2015-10-19 16:28] chivakker commented on #334
I have seen other problems when updating to Fedora22, in particular an h.264 compilation issue.  In my experience with that patch was to also test the solution on Ubuntu so that there's no problem with older versions of gcc.  I also initially thought it would be a compiler issue but then I realized it was something to be fixed on libyami.

My $0.02 anyways.

[2015-10-19 17:41] uartie commented on #334
@chivakker would you be able to verify #335 works for you on Ubuntu?

[2015-10-19 20:49] chivakker commented on #334
@uartie, I did on the patch series.

[2015-10-19 20:54] uartie commented on #334
@chivakker thank you!

[2015-10-20 06:25] #334 closed

[2015-10-20 06:28] xuguangxin commented on #334
sorry for my mistake. thanks for you guys.

[2015-10-30 01:46] keqiaox opened #339 "[AVC][decode] the MD5 values are not the same as the reference data when using the ffmpeg contents"
1.Testing environment:
Libva: (master) d3b24b76dfde4daef9d463743971c7522a307092
Libva_intel_driver: (master) 4640d06a8ccb0a12e91bbd00cc3e2423d17ee243
libyami: (master) af5040059901645feb13a0bdd1002945e54bfe2f
ffmpeg: (master) 74e4948235bc8f8946eeca20525258bbf383f75d
Cmrt: (master)393ba334aa50aac31da64c2f9855cb66e43b067d
intel-hybrid-driver(master) 37f6af6abf20f267efdacd4ccf0f82f351fa28db

2.Test c

[2015-10-30 01:50] keqiaox opened #340 "[HEVC][decode] the MD5 values are not the same as the reference data when using the ffmpeg contents"
1.Testing environment:
Libva: (master) d3b24b76dfde4daef9d463743971c7522a307092
Libva_intel_driver: (master) 4640d06a8ccb0a12e91bbd00cc3e2423d17ee243
libyami: (master) af50400
ffmpeg: (master) 74e4948235bc8f8946eeca20525258bbf383f75d
Cmrt: (master)393ba334aa50aac31da64c2f9855cb66e43b067d
intel-hybrid-driver(master) 37f6af6abf20f267efdacd4ccf0f82f351fa28db

2.Test command:
$ ./yamidecode -i ./$file

[2015-11-12 02:58] keqiaox opened #346 "[VP9][decode] the MD5 values are not the same as the reference data when using the ffmpeg contents"
1.Testing environment:
Libva: (master) d3b24b76dfde4daef9d463743971c7522a307092
Libva_intel_driver: (master) 4640d06a8ccb0a12e91bbd00cc3e2423d17ee243
Cmrt: (master)a4b0f2aefabfdbaf020f617deee40bc07b5992c9
intel-hybrid-driver(master)=0375a7287e556fedaf7628a85b143c1233a9ef84
ffmpeg: (master)=9ac61e73d0843ec4b83f4e3d47eded73234e406e
libyami: (master)=8fe2149fa5ddba8a47fb43c0f371dc7681186e9c

2.Test c

[2015-11-13 01:55] keqiaox opened #347 "[VP9][decode][Regression] found 13 new failed cases with test suite 3"
1.Testing environment:
libva(master)d3b24b76dfde4daef9d463743971c7522a307092
intel_driver(master)4640d06a8ccb0a12e91bbd00cc3e2423d17ee243
cmrt(master)a4b0f2aefabfdbaf020f617deee40bc07b5992c9
intel_hybrid_driver(master)0375a7287e556fedaf7628a85b143c1233a9ef84
ffmpeg(master)9ac61e73d0843ec4b83f4e3d47eded73234e406e
libyami(master)8fe2149fa5ddba8a47fb43c0f371dc7681186e9c

2.Test command:
./yamidecode

[2015-11-16 01:00] halleyzhao opened #349 "v4l2_wrapper.h include path issue"
VideoCommonDefs is installed to "libyami_decoder/VideoCommonDefs.h"; different from it in original source code.

patch is too small, please correct it in your convenient way.

diff --git a/v4l2/v4l2_wrapper.h b/v4l2/v4l2_wrapper.h
index ac7eaa5..749fef8 100644
--- a/v4l2/v4l2_wrapper.h
+++ b/v4l2/v4l2_wrapper.h
@@ -27,7 +27,7 @@
 #else
 #include <EGL/egl.h>
 #endif
-#include "interface/VideoCommon

[2015-11-16 01:03] halleyzhao opened #350 "signed/unsigned comparison warning issue in libyami"
there are still many warning on signed/unsigned comparison issue during yami build.
please help to correct them.

the warning is treated as error in my build server (local build and cross-build use the same toolchain).
though, I had tried to work around them on my side; it's better to re-evaluate  these issues (may start from the variable definition).

thanks.

[2015-11-16 01:50] xuguangxin commented on #350
We tried this before. but it's too huge efforts. Especially some thing from codec parser. So we just ignore this on https://github.com/01org/libyami/blob/master/configure.ac#L287. Why you still see this error.Is this fix not work for you?

[2015-11-17 02:53] halleyzhao opened #351 "h264 decoder issue exposed during build"
Ubuntu 15.10 + braswell
it seems to be a real bug.

vaapidecoder_h264.cpp: In member function 'void YamiMediaCodec::VaapiDecoderH264::initPicturePOC0(const PicturePtr&, const SliceHeaderPtr&)':
vaapidecoder_h264.cpp:360:33: error: comparison of constant '2' with boolean expression is always false [-Werror=bool-compare]
             (m_prevPicStructure == VAAPI_PICTURE_STRUCTURE_BOTTOM_FIELD ?

[2015-11-17 03:43] halleyzhao opened #353 ""v4l2decode -m 0" fails in some build configuration"
halley@halley-braswell:~/yami/libyami/tests$ ./v4l2decode -m 0 -i /home/halley/video-contents/output.h264
input file: /home/halley/video-contents/output.h264, renderMode: 0
libva info: VA-API version 0.38.0
libva info: va_getDriverName() returns 1
libva error: va_getDriverName() failed with operation failed,driver_name=i965
libyami error(vaapiutils.h, 62): vaInitialize: operation failed
libyami er

[2015-11-17 03:44] halleyzhao commented on #353
here is my build configuration:

*======================current configuration=============================
* VAAPI_PREFIX:               /home/halley/yami_install/vaapi
* LIBYAMI_PREFIX:             /home/halley/yami_install/libyami
* LD_LIBRARY_PATH:            /home/halley/yami_install/vaapi/lib/:/home/halley/yami_install/libyami/lib/:
* PATH:                       /home/halley/yami_install/vaap

[2015-11-17 04:19] xuguangxin commented on #353
this because we default open x on VaapiDisplay. We will refact this. and send patch for this every soon.

[2015-11-17 04:45] xuguangxin commented on #351
Hi @halleyzhao :
Did you use a old version of libyami? It should be fixed by daniel's patch https://github.com/01org/libyami/commit/37958b645953498c749c6d85be56eb6ccdf7e048

[2015-11-17 05:10] halleyzhao commented on #351
I uses the release branch.

maybe I should use master instead.

[2015-11-17 05:50] xuguangxin commented on #351
yes. this because we do not release new version yet.

[2015-11-17 06:01] halleyzhao commented on #353
seems my mistake. maybe I used system libva instead. now it works for me:

[yami_make] halley@halley-braswell:~/yami/libyami/tests$ ./v4l2decode -m 0 -i ~/video-contents/output.h264
input file: /home/halley/video-contents/output.h264, renderMode: 0
libva info: VA-API version 0.38.0
libva info: va_getDriverName() returns 0
libva info: Trying to open /home/halley/yami_install/vaapi/lib/dri/i965_drv_

[2015-11-17 06:03] halleyzhao commented on #353
in order to make sure i'm in the correct env of yami build, I added the following to the previous setup_env scripts:

if test -z "$PS1_OLD"; then
    export PS1_OLD=$PS1
fi

export PS1="\[\033[0;31m\][yami_make]\[\033[0m\] $PS1_OLD"

[2015-11-17 06:34] halleyzhao commented on #350
because I work on a build server which enables [-Werror=sign-compare].
the configuration of the server is out of my scope.

utils.cpp: In function 'uint32_t YamiMediaCodec::guessFourcc(const char*)':
utils.cpp:49:29: error: comparison between signed and unsigned integer expressions [-Werror=sign-compare]

[2015-11-17 07:40] xuguangxin commented on #350
ok, we will fix this

[2015-11-18 01:34] halleyzhao commented on #353
又像是个随机的问题了，vainfo去查找了正确的i965 driver;但是yamidecode/v4l2deco没有相关的log信息：

[yami_make] halley@halley-braswell:~/yami$ v4l2decode -m 0 -i /home/halley/video-contents/output.h264
input file: /home/halley/video-contents/output.h264, renderMode: 0
libva info: VA-API version 0.38.0
libva info: va_getDriverName() returns 1
libva error: va_getDriverName() failed with operation failed,driver_name=i965
libyami

[2015-11-18 02:20] xuguangxin commented on #353
@clearlylin , please help to check. thanks.

[2015-11-18 04:35] clearlylin commented on #353
@xuguangxin
building and running in my computer, the problem can not reappear.

[2015-11-18 05:58] halleyzhao commented on #353
it is reproduced when current user is not in "video" group.
while vainfo is ok even when current user is not in "video" group.

so, we still need investigate it futhure.

[2015-11-19 10:59] xuguangxin commented on #351
close this since it's not a problem

[2015-11-19 10:59] #351 closed

[2015-11-20 04:43] xuguangxin commented on #353
@clearlylin, please help to check this.

[2015-11-23 01:38] xuguangxin commented on #349
+1 for patch

[2015-11-23 05:39] xuguangxin commented on #349
close this since merged it as 1dddbab5bd05a09f01f7e833d8937ffa270e2fd1
thanks Halley.

[2015-11-23 05:39] #349 closed

[2015-11-27 03:02] xuguangxin commented on #353
@clearlylin , any update on this?

[2015-11-27 03:31] lizhong1008 commented on #347
Hi Keqiao:
     Are you sure all these bitstreams are regression? As I know, at least these videos can't decoded in last release vesion(And it is driver issue).
Stress_VP9_3840x2160_250_extra_stress_1.1.vp9
Stress_VP9_432x240_250_extra_stress_1.1.vp9
Syntax_VP9_432x240_205_extra_onfly_scaling_1.1.vp9
    I guess these vp9 files are the same as the video context of these webm files.

[2015-11-27 03:44] clearlylin commented on #353
@xuguangxin , no

[2015-11-30 05:38] keqiaox commented on #308
Remove the unsupported bitstreams:
Syntax_VP9_16384x240_201_extra_tiles_1.1.vp9.webm
Syntax_VP9_4320x240_201_extra_tiles_1.1.vp9.webm
vp9_max_tile_row2_col6_CrowdRun_8192x2160.vp9.webM
vp9_seg_hybridpred_sf_GOLD_LAST_ALT_INTRA_beans_8192x64_8184x56_8192x48.vp9.webM

[2015-12-07 09:50] jeason2014 opened #371 "compile error"
compiler:gcc version 5.2.1 20151003 (Ubuntu 5.2.1-21ubuntu2) )
==================================================
In file included from /usr/include/c++/5/algorithm:62:0,
                 from vaapidecoder_h265.cpp:38:
/usr/include/c++/5/bits/stl_algo.h: In instantiation of '_ForwardIterator std::__remove_if(_ForwardIterator, _ForwardIterator, _Predicate) [with _ForwardIterator = std::_Rb_tree_con

[2015-12-07 16:59] uartie commented on #371
This is a duplicate of #334... and has already been fixed.

[2015-12-08 03:53] xuguangxin commented on #371
Hi jeason2014
you can try latest version in master

[2015-12-09 21:48] chivakker opened #375 "compiler error"
compiler error with gcc (GCC) 5.1.1 20150618 (Red Hat 5.1.1-4)

when configuring with --enable-v4l2-glx the following linking exception occurs

g++ -DHAVE_CONFIG_H -I. -I.. -I.. -I.. -I../interface -I/home/dcharles/include      -g -O2 -Wno-unused-function -Wno-sign-compare -Wno-cpp -Wall -Werror -MT v4l2decode.o -MD -MP -MF .deps/v4l2decode.Tpo -c -o v4l2decode.o v4l2decode.cpp
v4l2decode.cpp:130:

[2015-12-10 09:00] xuguangxin opened #377 "libyami compile error when static enabled."
this also mentioned in https://github.com/01org/libyami/pull/368

reproduce steps:
configure option:
./autogen.sh --prefix=$LIBYAMI_PREFIX --enable-tests --enable-vp9dec --enable-docs --enable-dmabuf --disable-debug --enable-v4l2 --enable-static && make -j8

errors:
ts/yami/release/libyami/decoder/vaapidecoder_h265.cpp:520: undefined reference to h265_quant_matrix_8x8_get_raster_from_uprightdiagon

[2015-12-10 15:58] jeason2014 opened #378 "Hi,Do you have plan to add vp9 encoder?"

[2015-12-10 15:59] seanvk commented on #378
Once there is support in Hardware, VP9 Encoder support will be added.

[2015-12-10 16:53] uartie commented on #377
Specifying `--disable-shared` when using `--disable-static` is the recommended workaround for now.

[2015-12-11 01:25] xuguangxin commented on #378
Yes, it's in plan. But you only get it when hardware opened to public.Sorry about this.

[2015-12-11 04:27] xuguangxin commented on #375
fixed by #374
thanks Daniel

[2015-12-11 04:27] #375 closed

[2015-12-11 04:28] xuguangxin commented on #371
close this since it fixed by #334 .

Hi @jeason2014
you can reopen this if it still have this issue.

[2015-12-11 04:28] #371 closed

[2015-12-11 19:00] uartie opened #380 "Compile error with --enable-debug --enable-h265enc"
[code]

[2015-12-11 20:35] uartie opened #382 "CXXFLAGS and CFLAGS should not be specified in configure.ac or Makefile.am"
Commit 7e2556efc8223b0f0289894364012e47cb6de548 moved these *user* flags out of the autogen.sh script, which is good.  However, although they don't belong in autogen.sh, they don't belong in configure.ac or any of the Makefile.am files, either.

As far as I can tell, it looks like the project is trying to globally enforce various compiler/preprocessor flags (e.g. -Wall -Werror), which is great.  H

[2015-12-14 18:09] seanvk commented on #382
We need to remove this and use AM_flags in Makefile.am.
+1

[2015-12-14 18:12] seanvk commented on #378
Not planned at this time, until hardware supports.

[2015-12-14 18:12] #378 closed

[2015-12-14 18:16] seanvk commented on #377
This issue is OS platform specific.  For Ubuntu, the recommendation is as above mentioned by @uartie

Alternative suggestion, let's disable mixed configuration of static *and* shared or just don't do it.

I vote for just don't do it.

[2015-12-14 18:16] #377 closed

[2015-12-14 18:19] seanvk commented on #350
I think this should fall under a bigger issue that states that we need to cleanup all warnings.  This is critical for upstreaming to distributions (gentoo, debian, fedora)

[2015-12-14 18:19] seanvk opened #384 "Investigate CI use for vetting incoming pull requests"
This would help to avoid needless iterations of review.

[2015-12-14 18:21] seanvk opened #385 "Clean up Warnings in all build configurations"
It will point to errors in build configurations and the code as well.

[2015-12-14 18:22] seanvk commented on #347
Please advise on location of stress test clips and AC (acceptance criteria) for which they are assigned.

[2015-12-14 18:27] seanvk opened #386 "Consider creation of more simplified functional test code"
Yamidecode is not a good choice for API validation and we need both single purpose API Validation and a good clean reference for API implementation.

[2015-12-14 18:28] seanvk opened #387 "Developers must reference "Issues" in their pull requests"
Otherwise, there is no clarity on issue resolution.

[2015-12-14 23:46] uartie commented on #382
As a note, preprocessor/compiler flags specified in AM_C[XX]FLAGS can be negated by their user variable counterparts.  For example, AM_C[XX]FLAGS="-Wall -Werror" can be negated by the user with C[XX]FLAGS="-Wno-all -Wno-error".  I think it's better since it's more explicit and it won't silently override other project-configured compiler/preprocessor flags.  Also consider that if I want to debug th

[2015-12-15 01:42] xuguangxin commented on #377
But --enable-static is standard configure option. It's should not depends on OS platform. I think @uartie can repeat this on centos(correct me if i am wrong). Since we find a workaround, we can flag it as low priority. But i tend to treat it as an issue in our configuration script.

[2015-12-15 01:43] xuguangxin commented on #350
yes. @wudping is work on this. and the patch is under review.

[2015-12-15 01:49] xuguangxin commented on #385
yes. we have treat all warning as error. in
https://github.com/01org/libyami/blob/master/configure.ac#L299
But the difficult thing is we have too many --enable-xxx build options. some are exclusive. Hard test it all.

[2015-12-15 01:52] xuguangxin commented on #386
for decode we have simple API usage demo application https://github.com/xuguangxin/libyami/blob/master/examples/simpleplayer.cpp.
less than 200 line of code. demo all decode apis

[2015-12-15 02:34] uartie commented on #377
I only tried this on Fedora and Ubuntu.  It works fine on Fedora but not on Ubuntu.  I'm not sure why Ubuntu can't handle it but Fedora can.  Possibly something different with the compiler/linker tools and their settings and/or versions.

During the link phase on Fedora, the `dependency_libs` in all of the `.la` dependencies are expanded for the link command.  On Ubuntu, this expansion is not done

[2015-12-15 04:48] xuguangxin commented on #377
We can't choose this for customer... It will give them negative feedback

[2015-12-15 04:48] uartie commented on #377
I found that this is a common problem on Debian (thus, Ubuntu):

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=702737

The problem is that these distros patched libtool to set `link_all_deplibs=no`.  Apparently this goes against what the libtool documentation states/recommends.

The only reasonable hack to fix this, based on my research, is to do a sed replacement from configure.ac on the gene

[2015-12-15 04:52] xuguangxin commented on #377
ok, maybe i can file this in FAQ. thanks U.Artie and Sean

[2015-12-15 05:12] uartie commented on #377
Oops, I didn't see your last comment before submitting the pull request to workaround the problem.  If you'd still rather explain this in a FAQ then I can retract the pull request on your command.

[2015-12-15 05:30] xuguangxin commented on #377
seems it's to ugly. File a FQA maybe better. Thanks for good finding

[2015-12-15 06:44] xuguangxin commented on #377
ok it added to https://github.com/01org/libyami/wiki/FAQ

[2015-12-15 17:51] uartie opened #389 "Add important wiki links to README"
Important project links to coding-style, build, faq, and code review process should be accessible from the project README.  The README is displayed on the first page when users come to this project site and the README is often the first thing users read after cloning the source.  Adding the links to the README would bring them front-and-center so that they are not overlooked by potential users.

[2015-12-15 18:01] uartie opened #390 "The pre-commit hook does not follow coding-style"
https://github.com/01org/libyami/wiki/Coding-Style states that libyami uses the Webkit coding style.  However, the `pre-commit` hook does a very poor job at formatting the code according to the Webkit coding-style guidelines.  We should either fix the pre-commit hook to follow the coding style or stop asking users to use the hook and remove it from the source tree.

[2015-12-15 22:40] scott-d-phillips opened #391 "Source files are marked executable"
Source files should not be marked executable.

[2015-12-16 01:16] #380 closed

[2015-12-16 01:20] #391 closed

[2015-12-16 01:23] xuguangxin commented on #390
Seems  the hook do bad things for c++ file. and we did not find a right tool for them. Remove it is good

[2015-12-16 01:31] xuguangxin commented on #387
OK, We can do this.

[2015-12-17 00:02] #390 closed

[2015-12-17 05:19] uartie opened #394 "Enabling capi and tests should not skip yami[decode|encode|vpp|transcode] compilation"
`tests/Makefile.am` has rules to skip `yami[decode|encode|vpp|transcode]` compilation if `ENABLE_CAPI` is defined (i.e. `--enable-capi --enable-tests`).

I'm not sure if there is any technical reason why we can't compile both sets of programs.  Let's not skip the `yami[decode|encode|vpp|transcode]` compilation due to --enable-capi.

[2015-12-17 20:09] uartie opened #397 "Compile fails with VA-API version 0.36 (libva 1.4.1)"
The configure.ac defines the minimum libva version requirement as 0.36.  The following libyami options fail to compile against libva 0.36:

1.  --enable-vp9dec
vaapidecoder_vp9.h:29:27: fatal error: va/va_dec_vp9.h: No such file or directory

2. --enable-h265dec (default is yes, btw)
vaapidecoder_h265.h:124:24: error: 'VAPictureHEVC' has not been declared

3. --enable-jpegenc
vaapiencoder_jpeg.h:2

[2015-12-18 00:16] xuguangxin commented on #397
LinHai  already submit a patch check   headers https://github.com/clearlylin/libyami/commit/988daf2f4f4267952eeecb3405a2efbf5f808365
but it still under review..
and we should fix item 5 late

[2015-12-21 02:31] jeason2014 opened #398 "why is the 'wa' so high?"
Hi,
My Linux kernel is 4.2.First, I ran 20 yamiencode on skl platform to test encode performance,and then I ran 'top' to know CPU cost:
%Cpu0  : 17.4 us, 10.9 sy,  0.0 ni,  2.2 id, 68.5 wa,  0.0 hi,  1.1 si,  0.0 st
%Cpu1  : 18.0 us, 14.0 sy,  0.0 ni,  0.0 id, 68.0 wa,  0.0 hi,  0.0 si,  0.0 st
%Cpu2  : 13.3 us, 15.3 sy,  0.0 ni,  0.0 id, 71.4 wa,  0.0 hi,  0.0 si,  0.0 st
%Cpu3  : 19.2 us, 13.1 s

[2015-12-21 03:19] xuguangxin commented on #398
you should use yamitranscode. yamiencode will map and copy decoded surface to encode input and yamitranscode will not. But current yamitranscode do not accept encode param. when it supports,  we will remove yamiencode.
here is yami transocode  command line
"yamitranscode  -i  640x480.264 -o 640x480_output.264"

[2015-12-21 05:55] jeason2014 commented on #398
Hi xu,
you mean the high 'wa' is caused by memcpy? is it in this function:SurfacePtr VaapiEncoderBase::createSurface(VideoFrameRawData* frame)?

in addition,what's the difference between new memory 、surface memory and encode intput memory?

thanks!

[2015-12-21 07:27] xuguangxin commented on #398
Hi Jeason:
Yes. in createSurface(VideoFrameRawData* frame). We will remove this in future.

There are two type of memory in this context
tiled memory: mainly for gpu. cpu write is moderate slow. cpu read is extremely slow. CPU will disable cache for this memory.
untiled (linear) memory: mallocaed memory.
gpu (decode, encode, vpp) always use tiled memory.
In YamiEncode case it will copy decoded mem

[2015-12-21 08:55] jeason2014 commented on #398
Hi xu,
Thank you so much,I got it.
But,I will be encode the yuv data which from PCIe ,so  cpu have to write tiled memory.
Do you have any idea?

[2015-12-21 10:41] jeason2014 commented on #398
you mean the high 'wa' is caused by memcpy? is it in this
function:SurfacePtr VaapiEncoderBase::createSurface(VideoFrameRawData*
frame)?

in addition,what's the difference between new memory 、surface memory and
encode intput memory?

thanks!

-----------------------------------------
苏州科达通信技术发展有限公司上海分公司
Add:上海市虹梅路2071号远中产业园四期1号楼4楼（201103）
Tel：7872
Email：fanchao@kedacom.com
------------------------

[2015-12-22 01:10] xuguangxin commented on #398
Hi Jeason:
write is ok, since we have [write combine](https://en.wikipedia.org/wiki/Write_combining).But you need avoid read.
why you need copy from PCIe. do you use nv card?

[2015-12-22 01:12] xuguangxin commented on #398
Yes. cause by read untiled memory. It's no cache.

[2015-12-22 02:09] jeason2014 commented on #398
Hi xu,
I don't use nv card, the yuv data from other chips by Pcie.
Now,I have two problems:
1、the yuv before encode ,which is from other chips by pcie,
2、the yuv after decode, which be sent to other chips by pcie.
So, is there a way to avoid memcpy between tiled and untiled?
if the pcie memory  is non-cache and continuous physical address, it can be used to codec directly?

thanks!

[2015-12-22 04:44] xuguangxin commented on #398
seems no way to avoid copy if your memory in pcie.
for encoder,  you need copy the yuv to encode input surface. it not slow since it have write combine.
for decoder, you can create tiled memory like [this](https://github.com/thuutin/hardware_intel_common_libmix/blob/master/videodecoder/VideoDecoderBase.cpp#L899) and use yami's vpp function to copy tiled memory to untiled. then copy data from until

[2015-12-22 17:47] BtbN opened #399 "pc file for capi"
The capi library is missing a pkgconfig pc file, which makes it realy hard to use it from other projects.

[2015-12-23 01:40] jeason2014 commented on #398
Hi xu,
thanks! I will be try.
In addition,I ran "./yamidecode -i 4k2k.264 -m -1",the 'wa' is high too.
it's caused by memcpy between tiled and untiled?

[2015-12-23 02:24] clearlylin commented on #399
will merge libyami_capi.so to libyami.so.

[2015-12-23 03:50] xuguangxin commented on #399
Hi BtbN:
Thanks for patch. But we moveforward to merge all libyamixxx.so to libyami.so. It should fix the problem, right?

[2015-12-23 11:19] BtbN commented on #399
Yep, sounds like an even better solution to me. Thanks

[2015-12-25 14:59] clearlylin commented on #347
have fixed  the regress fail.

[2015-12-28 05:44] xuguangxin commented on #347
fixed by LinHai's pull request

[2015-12-28 05:44] #347 closed

[2015-12-28 07:29] xuguangxin commented on #398
Hi Jeanson:
I tried a 4kx2k video on my HSW. the wa is about 11.
%Cpu(s):  0.7 us,  5.4 sy,  0.0 ni, 82.9 id, 11.0 wa,  0.0 hi,  0.0 si,  0.0 st

So did you use a ssd ?

[2015-12-29 02:39] #399 closed

[2015-12-29 02:42] xuguangxin commented on #394
It's history reason. We have different memory layout for capi and c++ api. Maybe we need change it in feature. to support capi and c++ api at same time.

[2015-12-29 05:10] #387 closed

[2015-12-29 06:20] xuguangxin commented on #386
mentioned this in readme https://github.com/01org/libyami/pull/402/files

[2015-12-29 06:20] #386 closed

[2015-12-29 08:31] xuguangxin commented on #297
hi @andyLiuChina , do we have this 4 clips in regression test set? If yes maybe we can close it

[2016-01-04 03:02] xuguangxin opened #403 "set VppOutputEncode's input format to I420 is harmful to transcode performance."
Our hardware's native format is NV12. So decode's output format is NV12. If we set encoder's input format to I420. The transcode application will convert NV12 to I420 and driver(libva) will convert I420 to NV12 again.  It really hurt the performance.

[2016-01-04 03:06] xuguangxin opened #404 "do not guess output format in VppOutputEncode."
we should let VppOutputEncode EncodeOutput::create() do it. Else we get duplicate code and subset of output formats.

[2016-01-05 05:15] xuguangxin commented on #398
Hi Jeason:
Do you have any feedback about this?

[2016-01-05 05:31] #403 closed

[2016-01-05 05:37] xuguangxin opened #407 "encoder should pass all reconstuct frames to vaCreateContext"
it's required for va api.

[2016-01-05 05:38] xuguangxin opened #408 "we should not pass reference frame for I frame"

[2016-01-05 05:41] xuguangxin opened #409 "decoder should support external allocated frames"
It's core part of zero copy. With this we can allocate NV12 surface directly from display, decode and display it.

[2016-01-05 05:42] xuguangxin opened #410 "android libva will complain about missed color standard for vpp input and output"

[2016-01-06 11:35] jeason2014 commented on #398
Hi xu:
the ssd is Solid State Disk,right?
I don't use ssd.
root:/home/media# lsscsi
[0:0:0:0]    disk    ATA      WDC WD20PURX-64P 0A80  /dev/sda

[2016-01-07 01:54] xuguangxin commented on #398
Hi Jeanson:
Maybe this the reason. you can try to put the encoder input and output to a ram directory.such as /tmp.

[2016-01-07 02:24] xuguangxin commented on #404
close by #405

[2016-01-07 02:24] #404 closed

[2016-01-08 04:30] xuguangxin opened #415 "transcode will get error bitstream if we assign a bit rate"
"DISPLAY=:0   tests/.libs/yamitranscode  -i ~/projects/bits/cin.264 -o  1280x720.264 -N 1500  -b 2500"
it will print out "Unrepairable overflow", the bit stream is not correct.
but "DISPLAY=:0   tests/.libs/yamitranscode  -i ~/projects/bits/cin.264 -o  1280x720.264 -N 1500" do not have this problem

[2016-01-08 05:14] lizhong1008 commented on #415
How about "DISPLAY=:0 tests/.libs/yamitranscode -i ~/projects/bits/cin.264 -o 1280x720.264 -N 1500 --rcmode CBR -b 2500" and "DISPLAY=:0 tests/.libs/yamitranscode -i ~/projects/bits/cin.264 -o 1280x720.264 -N 1500 --rcmode CBR -b 5000"?

[2016-01-11 02:40] xuguangxin commented on #415
I tried this in command line in yamiencode and yamitranscode. It print error too.

[2016-01-12 08:33] #407 closed

[2016-01-13 06:44] #410 closed

[2016-01-13 06:45] #409 closed

[2016-01-13 06:45] #408 closed

[2016-01-13 07:02] xuguangxin commented on #398
Hi Jeason:
any  update on this?

[2016-01-13 07:09] xuguangxin commented on #389
fix by #402 .thanks uartie

[2016-01-13 07:09] #389 closed

[2016-01-21 02:17] uartie opened #428 "[regression] compile failure v4l2 caused by #421"
Pull #421 causes compile regression...

[code]

[code]

[2016-01-21 02:57] xuguangxin commented on #428
seems too much build option for us...

[2016-01-21 03:05] uartie commented on #428
This should simplify my point:

[code]

[2016-01-21 03:07] xuguangxin commented on #428
glx it for old chrome os, we can simply remove it.

[2016-01-21 03:07] xuguangxin commented on #428
let me do this

[2016-01-27 21:21] uartie opened #430 "Memory Leak in JPEG encoder"
The packed_header_buffer at
https://github.com/01org/libyami/blob/0412d64f1c8468a87eff5c88c45d7fc061ee5e3a/encoder/vaapiencoder_jpeg.cpp#L458 is not free'd after it has been added to the picture and results in a memory leak.  The picture passes this buffer to vaCreateBuffer() where it gets copied and therefore should be deleted afterwards by the encoder.

[2016-01-28 07:22] xuguangxin commented on #428
fix by https://github.com/01org/libyami/pull/429

[2016-01-28 07:22] #428 closed

[2016-01-28 07:52] keqiaox opened #432 "[yamiVPP][regression] Green block appear when doing scaling test"
1.Testing environment:
libva: (master) cb418f6ef36b6e6f0d632bf7c0aaf035a271400b
intel_driver: (master) 2110b3a0bca6cecb42defd0b01d32530f5807b04
cmrt: (master) fb93006e483c32601b374d4ced71d5f911d2d416
intel_hybrid_driver: (master) 0375a7287e556fedaf7628a85b143c1233a9ef84
ffmpeg: (master) 1d8f9b7d1ad2a58f612b47e769d00e6f8891d881
libyami: (master) 7df2e93d98ab3d0b9fe2bf1725eb491edcb6d37d

2.Test comm

[2016-02-01 15:17] Hedda commented on #176
Time to reopen? ...Why? Again, VC-1 is part of the Blu-ray Disc specification standard for BD-ROM.

_For Blu-ray Disc hardware, all players are required to support decodingH.262/MPEG-2 Part 2, H.264/MPEG-4 Part 10: AVC, and SMPTE VC-1. BD-ROM titles with video must store video using one of the three mandatory formats; multiple formats on a single title are allowed. _

Regardless, I think that you

[2016-02-02 08:16] xuguangxin commented on #176
Ok, sorry for long waiting. actually we have plan for this now. It should finished in mid of Q2. But, again, it's not promise.;)

[2016-02-03 09:30] Hedda opened #437 "[REQUEST] libyami decoders and encoders for Google's MediaCodec API (on Android OS)"
Please consider porting each libyami decoder and encoder to Google's MediaCodec API (on Android).

Google's MediaCodec API is the somewhat newish de facto standard Android class to allow software applications to access low-level media codecs, i.e. encoder/decoder components.

Note that while this MediaCodec API used to be poorly documented, since Android 6.0 Marshmallow (API 23) the official docum

[2016-02-03 16:28] seanvk opened #438 "Break out utilities into separate project"
@chivakker We need to have a separate project for the libyami utilities.  Should be straightforward.  I'll create a repo.

Sean

[2016-02-03 16:28] seanvk commented on #438
libyami-utils?

[2016-02-03 16:34] chivakker commented on #438
I am okay with the name.

[2016-02-03 16:53] uartie commented on #438
The name seems reasonable to me.

[2016-02-03 17:05] seanvk commented on #438
Done.

https://github.com/01org/libyami-utils

[2016-02-03 17:23] seanvk commented on #437
Currently limited support is planned for Android environments.

[2016-02-04 09:48] Hedda commented on #437
@seanvk Cool, but please consider planning to have the implementation use Google's MediaCodec API as standard (and default) and not some other custom integration on Android.

[2016-02-05 00:09] uartie opened #439 "Don't abort in encoder if fourcc not supported/handled"
If the encoder doesn't support a particular fourcc in createNewSurface() then we should not be asserting and forcing the client program to terminate.  Instead we should log an error and return an uninitialized SurfacePtr so the encoder can gracefully propagate the error state back to the client.  This will allow the client program to decide how to recover if needed.

https://github.com/01org/libya

[2016-02-16 03:42] qianzhang5 opened #442 "can't create a jpeg encoder"
command>  "tests/yamiencode -i ~/Videos/out_1920x1080.yuv -W 1920 -H 1080  -s I420  -o  zzz.jpeg"

The encoder registered list could be overwritten.
**added one line trace code into "common/factory.h"**
-   static bool register_(const KeyType& key)
-      {
- 	printf("TRACE--- registered %s %d \t %p\n", key.data(), (int)getCreators().size(), getCreators());
-         std::pair<iterator, bool> resu

[2016-02-16 04:33] uartie commented on #442
There are actually 3 different factories (encoder, decoder, and video postprocess factories)... this is why you see 3 different addresses for the getCreators() return address.

What configuration options did you use?  Did you specify '--enable-jpegenc' in your configure options.  JPEG encoding is disabled by default.

[2016-02-16 04:50] uartie commented on #442
`./autogen.sh --help` or `./configure --help` will show you what is enabled/disabled by default.

[2016-02-16 05:50] qianzhang5 commented on #442
After enable jpeg encoder, I got error by "tests/yamiencode -i
~/Videos/out_1920x1080.yuv -W 1920 -H 1080 -s I420 -o zzz.jpg"

libva info: VA-API version 0.38.0
libva info: va_getDriverName() returns 0
libva info: Trying to open /usr/lib/x86_64-linux-gnu/dri/i965_drv_video.so
libva info: Found init function __vaDriverInit_0_38
libva info: va_openDriver() returns 0
libyami error 30513 (vaapiutils.h

[2016-02-16 06:22] uartie commented on #442
JPEG hardware encode is not supported on i5-3470

[2016-02-16 07:05] lizhong1008 commented on #442
"vainfo" can check HW and libva-intel-driver can support JPEG Enc or not.

[2016-02-16 07:14] qianzhang5 commented on #442
vainfo: VA-API version: 0.38 (libva 1.6.0)
vainfo: Driver version: Intel i965 driver for Intel(R) Ivybridge Desktop - 1.6.0
vainfo: Supported profile and entrypoints
      VAProfileMPEG2Simple            :	VAEntrypointVLD
      VAProfileMPEG2Simple            :	VAEntrypointEncSlice
      VAProfileMPEG2Main              :	VAEntrypointVLD
      VAProfileMPEG2Main              :	VAEntrypointEncSlice

[2016-02-16 07:16] lizhong1008 commented on #442
"VAProfileJPEGBaseline : VAEntrypointVLD", only Jpeg decoder supported.

[2016-02-16 07:21] qianzhang5 commented on #442
There should be a "hardware capabilities" API.

[2016-02-16 18:27] chivakker commented on #442
@qianzhang5 you can use from your application:

VAStatus vaQueryConfigProfiles (
    VADisplay dpy,
    VAProfile *profile_list,	/* out */
    int *num_profiles		/* out */
);

VAStatus vaQueryConfigEntrypoints (
    VADisplay dpy,
    VAProfile profile,
    VAEntrypoint *entrypoint_list,	/* out */
    int *num_entrypoints		/* out */
);

[2016-02-16 19:54] qianzhang5 commented on #442
I'm fine for me with this solution, but for a user to use YAMI framework It's better not touch the vaapi layer again. as it seems to me isolating vaapi to provide a simple video interface is one of YAMI's goal.

[2016-02-16 21:32] chivakker commented on #442
Yes definitely and we will address this problem so that libyami can report both profiles and entrypoints as well.

[2016-02-17 02:39] xuguangxin commented on #442
this line means "libyami error 30513 (vaapiutils.h, 62): vaCreateConfig : the requested
VAEntryPoint is not supported" hardware accelerator is not supported. Maybe we can make it more clearer.

Hi all:
It's very tedious to provide hardware caps enumeration api. It's normally hard to use. And user only care about they can/can't create decoder. not care about the detailed hardware cpas. We'd better

[2016-02-17 03:27] chivakker commented on #442
I think in reality what's not supported is the Profile in this case, so an error message more useful can read: Profile VAProfilexxxx is not supported on this hardware. If the Entrypoint is the one missing then error can read: Entrypoint XXX is not supported on this hardware.

I agree we don't need to expose a one to one function with vaapi, but definitely we need to inform user when such condition

[2016-02-17 04:18] uartie commented on #442
Close this issue... the original problem has been addressed.

Please open a different issue to discuss the hw capabilities query support.

[2016-02-17 04:19] #442 closed

[2016-02-17 04:22] chivakker opened #443 "provide an error message when Profile or Entrypoint are not supported"
libyami client should have a meaningful error message displayed when either the Profile or Entrypoint are not supported.  User should realize that the particular generation of hardware doesn't support a Profile or Entrypoint that is going to be used. .

[2016-02-17 04:32] uartie commented on #443
In addition, perhaps `yamiinfo` should be capable of relaying this information, too?

[2016-02-17 07:16] xuguangxin commented on #398
Hi Jeason:
I will close this, please reopen it if you still have problem. thanks

[2016-02-17 07:16] #398 closed

[2016-02-24 08:30] clearlylin commented on #397
@xuguangxin
[988daf2](https://github.com/clearlylin/libyami/commit/988daf2f4f4267952eeecb3405a2efbf5f808365) can not solve the problem. if vaapi/header install to directory of system, that way is ok. if the installation directory is custom directory, that is useless.

[2016-03-04 06:21] mypopy opened #453 "yami encoder will pading the width"
this issue can be reproduce used the yamitranscode.

1. yamitranscode -i skyfall2-trailer.mp4 -o 1111x720.264, then used the mediainfo check 1111x720.264, you will get the width is 1112, not 1111.

[2016-03-04 07:10] lizhong1008 commented on #453
For H264, if input yuv format is YUV420 or YUV422, luma_width is twice of chroma_width. Thus means luma_width should be multiples of two.

[2016-03-04 07:10] #453 closed

[2016-03-11 01:28] wudping opened #455 "265 encoding with a few wrong color"
1.Testing environment:
 libyami: (master)684272026f5533300efc02e77ec125b945965c22
 2.Test command
yamiencode -i ss_1280x720.I420 -W 1280 -H 720 -o dd1.265 -c EVC  -s NV12
yamidecode -i dd1.265
3. Test result
1) in the last frame, an error is: Nal Data is incomplete while parsing coeff_abs_level_remaining syntax variable of Slice Data
2) In some frames, there are a few  wrong color bars between two

[2016-03-11 06:28] lizhong1008 commented on #455
Hi,Dongping: I can't reproduce test result 1, can you try it agian? I've reproduce result 2.

[2016-03-11 09:34] wudping commented on #455
sorry, I can't reproduce it again, even encoding the same I420 file.

[2016-03-18 11:05] hcg2008 opened #457 "B Frames cause error displaying order for h264 sequence"
how to adjust the output order?

[2016-03-18 11:48] hcg2008 commented on #457
Finded reason:

my sequence has 3 refs, changing the following function in vaapidecoder_h264.cpp

numRefLists = 3;

bool VaapiDecoderH264::fillRefPicList(VASliceParameterBufferH264 * sliceParam,
                                        const SliceHeaderPtr& sliceHdr)
{
    uint32_t i, numRefLists = 0;
    VaapiDecPicBufLayer::Ptr& DPBLayer = m_DPBManager->DPBLayer;

    sliceParam->num_ref_idx_l0_a

[2016-03-18 11:48] #457 closed

[2016-03-21 01:39] xuguangxin commented on #457
Hi @hcg2008
Could you attach your file here.We have test this for B frame. it's no problem. Maybe it's related to special stream. Your finding should not be a root cause. Because  numRefLists is reflist count. The max value is 2. One for forward reference list, one for backward. it never be 3.

[2016-03-22 01:35] hcg2008 commented on #457
sorry, like your comment, it wasn't the real reason by more testing.

The reason should be gpu overload:
if you using args -c 5 & -r 5 to run grid decoding 1080p 264 sequence, you will find picture flipping like frame reversing.
My laptop CPU: I5-3317U 1.7G

After I added usleep() in grid.cpp, the display seem to be normal.
The example's render didn't control the output frame rates.

void renderOu

[2016-03-23 05:20] mypopy opened #459 "run2run is not bit match in h264 encoder"
When setting ipperiod with 3 for 1920x1080 h.264 encoder, run2run  is not bit match in h264 encoder

root@tests# ./yamiencode -i ../../ffmpeg_yami_testcast/foo-200.yuv -W 1920 -H 1080 -N 100 -s NV12 -c AVC --ipperiod 3 -o test-3-1.h264
libva info: VA-API version 0.39.0
libva info: va_getDriverName() returns 0
libva info: Trying to open /opt/yami/vaapi/lib/dri/i965_drv_video.so
libva info: Found in

[2016-03-24 07:07] mypopy opened #461 "yamitranscode can't work when setting ipperiod more than 5"
In master branch, yamitranscode can't work when setting ipperiod more than 5.

tests# ./yamitranscode -i ../../ffmpeg_yami_testcast/1920x1080.h264 -o 1920x1080.h264 -ipperiod 6
libva info: VA-API version 0.39.0
libva info: va_getDriverName() returns 0
libva info: Trying to open /opt/yami/vaapi/lib/dri/i965_drv_video.so
libva info: Found init function __vaDriverInit_0_39
libva info: va_openDriver()

[2016-03-25 04:08] xuguangxin commented on #457
frame reversing? You mean gitter?

[2016-04-28 08:51] mypopy opened #469 "yami hevc decoder don't support MP4 bit stream format.(AVCC)"

[2016-04-29 00:49] xuguangxin commented on #469
https://github.com/01org/libyami/pull/465. This pull request  can fix the issue. But we did not  merged it since we have internal changes to push. You can try this.

[2016-05-13 03:10] mypopydev opened #470 "Libyami encoder only support CQP/CBR ratecontrol method"
VAAPI can support CQP/CBR/VBR/VCM ratecontrol methood, but libyami just support  CQP/CBR ratecontrol method.

[2016-05-16 07:28] xuguangxin commented on #470
Interface defined VBR and VCM. But the driver only support CQP and CBR mode.

[2016-06-08 22:58] uartie opened #473 "decoder/unittest Factory tests crash with memory corruption in debug build"
After commit 89ef3dea365930d430d00df457446fcd347d43d9 decoder/unittest Factory tests crash with memory corruption error when built with --enable-debug.

[code]

The crash occurs during virtual destruction of the decoders.  It seems `VaapiDecoderBase::renderPictureCount` is part of one compilation step but not another and therefore causes data/memory layout inconsistencies.  This happens when `conf

[2016-06-12 07:19] xuguangxin commented on #297
this should close since we do not support so large picture size in driver.

[2016-06-13 20:29] seanvk opened #478 "GTest should be disabled by default"
It is currently enabled by default and for normal builds we should not be including building of test software unless explicitly requested.  @xuguangxin

[2016-06-13 21:02] uartie commented on #478
It defaults to disabled for me

[2016-06-13 22:10] seanvk commented on #478
Never mind.  For some reason I was seeing it being enabled PEBKAC

[2016-06-13 22:10] #478 closed, assigned to nobody

[2016-06-14 03:56] #473 closed, assigned to nobody

[2016-06-14 04:00] xuguangxin opened #479 "codec parser for mpeg2 unit test failed."
all mpeg unit test failed as below

[2016-06-14 04:02] xuguangxin opened #480 "encoder unit test failed."
all encoder unit test failed as below:

[2016-06-14 04:20] uartie commented on #480
Which OS? Which version of gtest?  Can you attach your configure output?  All except the last 3 pass for me.  And the last three fail for different reason on my system than reported here.

[2016-06-14 04:26] xuguangxin commented on #480
14.04.1-Ubuntu. gtest 1.7.0, wired thing is if i run unittest more times. I will see 3 items pass too.
But it's pass or failed is totally random.

[2016-06-14 06:15] uartie commented on #480
The last three will always fail on HW older than SKL.

[2016-06-14 06:29] uartie commented on #480
If you declare the destructors as `virtual` for VaapiEncoderH264, VaapiEncoderHEVC, and VaapiEncoderVP8, does it fix the std::bad_alloc errors?

Does `gdb` tell you anything?

[2016-06-14 16:11] achrisan opened #481 "Libyami build failed: only absolute run-paths are allowed"
I am getting the following build with the latest libyami (apache branch).
libtool: link: only absolute run-paths are allowed
Makefile:557: recipe for target 'libyami.la' failed
make[2]: **\* [libyami.la] Error 1

I am building on a Haswell system which has the below libva and video driver version installed. I only tried to build libyami - ./autogen.sh --prefix=\$LIBYAMI_PREFIX , and LIBYAMI_PREFIX

[2016-06-14 17:16] uartie commented on #481
Remove the `\` in `--prefix=\$LIBYAMI_PREFIX`

[2016-06-14 17:19] uartie commented on #481
It should be `--prefix=$LIBYAMI_PREFIX`

[2016-06-14 17:23] achrisan commented on #481
thanks, that worked. I t builds fine now.

[2016-06-14 17:23] #481 closed, assigned to nobody

[2016-06-14 17:24] uartie commented on #481
Another solution is `--prefix=\${LIBYAMI_PREFIX}` or `--prefix=${LIBYAMI_PREFIX}`

[2016-06-14 18:02] chivakker commented on #479
I am checking this report

[2016-06-14 20:36] chivakker commented on #480
I can confirm that on the current ToT the use cases failing for me are due to being run on old hardware. This is 100% reproducible and expected.

[2016-06-14 20:44] uartie commented on #480
This is a case where we need a mechanism to skip tests (or expect failure) on hw that doesn't support it.

[2016-06-15 06:00] xuguangxin commented on #481
Hi achrisan:
you can't copy the command directly from `https://github.com/01org/libyami/wiki/Build#example-script-for-build-environments`, you need source it first.

here is my eaxmple

then you can copy and paste it:

[2016-06-15 07:49] #382 closed

[2016-06-15 08:23] xuguangxin commented on #480
yes. may need add some caps query api

[2016-06-16 07:06] #479 closed, assigned to chivakker

[2016-06-16 07:11] xuguangxin commented on #438
close this since it done

[2016-06-16 07:11] #438 closed

[2016-06-17 01:43] xuguangxin commented on #430
Hi @uartie
Is this fixed in Apache branch?

[2016-06-17 01:50] uartie commented on #430
yes, this is fixed in apache branch.

[2016-06-17 01:50] #430 closed

[2016-06-28 03:08] xuguangxin commented on #459
gstreamer vaapi have this issue too.
Please report this to libva

[2016-06-28 03:08] #459 closed

[2016-06-28 04:21] xuguangxin commented on #480
@uartie ：
Seems if i disable jpeg encoder unit test, it will be good. I guess this maybe a gtest issue.

My local gtest env is from Lizhong, I want build my own to reproduce this issue. But it can't find gtest-config. Do we need do some thing for gtest-config? If yes, maybe we need add something to readme.

[2016-06-28 05:34] uartie commented on #480
The `gtest-config` script is generated during `configure`.  How are you building gtest?  I use the `autotools` method.  I don't think the `cmake` method generates rules for `gtest-config`.

This is how I build gtest:

[code]

...then to build libyami with gtest:

[code]

[2016-06-28 05:58] xuguangxin commented on #480
Great! it's fixed by your method.
I did see this command in gtest's readme.
Is it ok if I add this to readme?

thanks

[2016-06-28 14:45] uartie commented on #480
yes

[2016-06-30 04:34] xuguangxin commented on #480
created as #490

[2016-06-30 04:34] xuguangxin commented on #480
close this since it's a gtest configuration issue

[2016-06-30 04:34] #480 closed, assigned to nobody

[2016-07-04 06:26] mypopydev opened #493 "[Apache]Libyami decoder interface decode() will block forever after consumed all internal surfaces"
In my mind,  **decode()/getOutPut()** is not block function ever we can't decode sucess/get a full decoded frame, and we need to decoupling the decode()/getOutput().
1.  **decode()** to give the decoder raw compressed data(queueing) and return is no-blocking.
2. After decoding, call **getOutput()**. On success, it will return an uncompressed video data and release internal surface resource.

And i

[2016-07-04 06:35] mypopydev opened #494 "[Apache] h264 decoder DPB implement not follow the h264 spec"
Now h264 decoder DPB management is not follow the h264 spec, and always used 16 surfaces, it's not a good action in the low memory system.

[2016-07-05 02:42] xuguangxin commented on #493
Yes, for historic reason, we use the blocking behavior in v4l2decoder.

If we change this, it will break v4l2decoder. It may need more time to change v4l2decoder related things.
One of work around is never make decode blocking, always make sure you have enough surface before you call decode.
Our allocator will allocate needed surface + an extra size (5 in current design). This means if you hold le

[2016-07-05 03:00] waiter89 opened #495 "infinite loop when decode h264 with error bits"
#0  0x00007fffdfc732cb in YamiParser::BitReader::read(unsigned int) (this=this@entry=0x7fffb9c7e7b0, nbits=nbits@entry=1) at bitReader.cpp:99
#1  0x00007fffdfc7d8c0 in YamiParser::NalReader::readUe() (this=this@entry=0x7fffb9c7e7b0) at nalReader.cpp:72
#2  0x00007fffdfc75690 in YamiParser::H264::Parser::parseSps(std::tr1::shared_ptrYamiParser::H264::SPS&, YamiParser::H264::NalUnit const*) (this=th

[2016-07-05 03:02] xuguangxin commented on #495
Hi @waiter89 :
could give some steps or stream to reproduce this?

[2016-07-05 03:13] waiter89 opened #496 "dead lock when decode h264 ？"
bitReader.cpp:100
 tmp <<= toBeReadBits;

when toBeReadBits==0, it will deak lock ?

[2016-07-05 03:17] xuguangxin commented on #496
attach this comments to other thread, so close this one

[2016-07-05 03:17] #496 closed, assigned to nobody

[2016-07-05 03:39] waiter89 commented on #495
bitReader.cpp:72
   tmp = m_cache << ((CACHEBYTES << 3) - m_bitsInCache) >> ((CACHEBYTES << 3) - nbits);

deak lock  again

[2016-07-05 03:41] waiter89 commented on #495
m_bitsInCache==0

[2016-07-05 04:24] xuguangxin commented on #495
Hi @waiter89
thanks for reporting, but if we do not have the bit stream, we can't verify the code even we fix it. Could you share your stream or tel us how to generate it ?

thanks

[2016-07-05 05:51] mypopydev commented on #493
I think clean the v4l2decoder/internal surface pool management  is the right way. :). And I know **releaseLock()** have maked with deprecated.

BTW: I guess some caller don't want to touch the external allocator :)

[2016-07-06 03:25] xuguangxin commented on #461
hi @mypopy
Do we still have this problem in apache?

[2016-07-06 03:26] xuguangxin commented on #455
close this since you can't reproduce it

[2016-07-06 03:26] #455 closed

[2016-07-06 03:30] xuguangxin commented on #397
Hi @wudping
Do we still have this issue?

[2016-07-06 03:33] xuguangxin commented on #318
Hi jsorg:
I think this fixed in apache branch right?

[2016-07-06 03:34] xuguangxin commented on #297
close this since driver do not support this size

[2016-07-06 03:34] #297 closed

[2016-07-06 03:40] xuguangxin commented on #385
Hi @seanvk
We already treat warning as error in compile flag. Do you think it's ok to close this

[2016-07-06 03:42] xuguangxin commented on #384
Hi @seanvk :
Is any follow up on this for me?

[2016-07-06 03:43] xuguangxin commented on #353
Hi @halleyzhao :
you still have this problem?

[2016-07-06 03:54] xuguangxin commented on #350
this fix in apache branch. so close it

[2016-07-06 03:54] #350 closed

[2016-07-06 03:57] xuguangxin commented on #470
Hi @mypopydev
Do you think it's ok to close this?

[2016-07-06 03:58] xuguangxin commented on #443
This need run time driver caps check

[2016-07-06 05:39] xuguangxin commented on #230
Hi @wudping
No need fix it yet. Just assign you as owner

[2016-07-06 06:30] mypopy commented on #470
You can closed it.

2016-07-06 11:57 GMT+08:00 Xu Guangxin notifications@github.com:

##

#

Pixelworks
Room 301-303 No. 88,Lane 887 Zuchongzhi Road, Zhangjiang Hi-tech Park,
Shanghai 201203, China
Best Regards,
Jun zhao/赵军
+++++++++++++++++++++++++++++++++++++++

[2016-07-06 06:42] mypopydev commented on #461
Now its will block when ipperiod > 9 in our test env

[2016-07-06 07:05] xuguangxin commented on #470
ok,thanks

[2016-07-06 07:05] #470 closed

[2016-07-06 23:01] jsorg71 commented on #318
It looks like we have
#define YAMI_API_MAJOR_VERSION    0
#define YAMI_API_MINOR_VERSION    2
#define YAMI_API_MICRO_VERSION    0
for compile time and
void yamiGetApiVersion(uint32_t *apiVersion);
for run time.

I did not test but it looks to be fixed.

Jay

[2016-07-07 01:05] xuguangxin opened #498 "yami-utils project did not treat warning as error"
If you add this line to a build file, It will report a warning not error.

[code]

see https://github.com/01org/libyami-utils/pull/1#issuecomment-228230975 for details.

[2016-07-07 01:16] xuguangxin opened #499 "yami-utils project will report error when add --enable-dmabuf"
configure:

it will report:

[2016-07-07 01:19] xuguangxin commented on #499
Sorry, close this since it related to https://github.com/01org/libyami-utils/pull/3

[2016-07-07 01:19] #499 closed, assigned to chivakker

[2016-07-07 08:56] xuguangxin commented on #469
fixed by https://github.com/01org/libyami/pull/488

[2016-07-07 08:56] #469 closed

[2016-07-07 09:05] lizhong1008 commented on #494
We already followed the h264 DPB management spec, else it can't be decoded.
16 decoded surfaces are the max value as spec. Yeah, we will optimize it to reduce DPB surfaces as h264 level value.

[2016-07-08 08:23] xuguangxin commented on #461
Hi Dongping:
Please help to fix this

[2016-07-08 08:25] wudping commented on #461
ok.

[2016-07-08 08:29] xuguangxin commented on #318
Great! Do not hesitate to open a issue if you have.
thanks

[2016-07-08 08:29] #318 closed

[2016-07-08 09:08] lizhong1008 commented on #494
Hi Donging:
     Let's discuss how to do it before you start to do it. I can give you some guideline.

[2016-07-08 09:37] wudping commented on #494
Thanks LiZhong, ok.

[2016-07-12 03:22] xuguangxin commented on #385
Hi @seanvk :
Temporarily close this. If you think this still a issue, please report it.
thanks.

[2016-07-12 03:22] #385 closed

[2016-07-12 06:02] xuguangxin commented on #495
@wudping :
lizhong is busy with other things. Please help check this. thanks.

[2016-07-12 06:08] xuguangxin commented on #353
Hi @halleyzhao
close this first, If you still have this problem. Please reopen it.
thanks

[2016-07-12 06:08] #353 closed

[2016-07-12 06:12] xuguangxin commented on #384
Hi @seanvk
close this first, if you still think this is an issue, please reopen it.
thanks

[2016-07-12 06:12] #384 closed

[2016-07-12 06:19] wudping commented on #495
ok, Guangxin

[2016-07-12 19:46] chivakker commented on #498
Fixed here https://github.com/01org/libyami-utils/pull/4/

[2016-07-14 02:56] zackxue opened #503 "Does the vpp support i420 to nv12 or nv12 to i420"
In the yamivpp, it seem support, but in the VaapiPostProcessScaler, it seems that do not support?

[2016-07-14 05:56] xuguangxin commented on #503
Yes, you can try this yamivpp 320x240.i420 1920x1080.nv12.  VaapiPostProcessScaler will convert any format for you, if driver supported it.

[2016-07-15 02:03] mypopydev opened #505 "mpeg2 yami decode can't get format change event"
When call yami decoder API, we need to get the YAMI_FORMAT_CHANGE status after call decode( ) function, then we can used getFormatInfo( ) to get some format info, but now, mpeg2 decoder can't get this status, it's will break getFormatInfo() function in this case.

[2016-07-15 02:43] xuguangxin commented on #505
Hi @chivakker
Caller need format change to get format information, but seems mpeg did not return this.

[2016-07-15 23:15] chivakker commented on #505
@mypopydev can you explain  how your call tree looks like?  How different is from this below?

start (configBuffer); //does it include stream information? like initial buffers?
decode(videoBuffer); //is this the first stream information buffer?

//after the first call to decode with stream information with the Sequence Header Information you expect a FORMAT_CHANGE
getFormatInfo();

[2016-07-17 15:14] mypopydev commented on #505
Yes, @chivakker, in our case, we put the stream information in the statr(configBuffer), and when first call the decode() or some format change, I need the DECODE_FORMAT_CHANGE status, then use the getFormatInfo() to get some infos.

[2016-07-18 01:37] xuguangxin commented on #505
Hi @mypopydev
Did you send codec data to start()? If yes, we may not generate format change. You need getFormatInfo after you call start.

[2016-07-18 02:22] mypopydev commented on #505
@xuguangxin in h264/HEVC decoder, even if we put the extradata(VideoConfigBuffer.data for SPS/PPS) in start(), we can get the DECODE_FORMAT_CHANGE after call decode().

BTW: I will try your suggestion.

[2016-07-18 02:34] xuguangxin commented on #505
Hi @lizhong1008
Coulc you confirm h264 thing?If yes, maybe we need change h264dec's behavior. We need return format change only when we detect real change in stream.

[2016-07-18 20:29] chivakker commented on #505
For Mpeg2.  You can call start with a config buffer that has stream information, the assumption is that such buffer will contain at least one valid nal unit from the stream.  Typically that nal unit could contain the SequenceHeader or not, but keep in mind that you can only send SequenceHeader once before starting vaapi for the first time.

Per your description above I am sending a pull ruquest th

[2016-07-18 22:50] chivakker commented on #505
@mypopydev can you give the referenced patch a try?

[2016-07-19 00:39] mypopydev commented on #505
@chivakker I will try this patch quickly, tks, and pls refer to the code review comments.

[2016-07-19 01:44] mypopydev opened #509 "[Request] Performance tune consider for transcode/decode"
Some consider for yami performance tune
1. Now yamidecode output the RAW data is slowly. The link [Copying Accelerated Video Decode Frame Buffers](https://software.intel.com/en-us/articles/copying-accelerated-video-decode-frame-buffers) give a SSE4 optimization for this case.
2. I have a quick try to split the encoder encode() / getOutput()  function in 2 thread, get some data in our test bed.
- y

[2016-07-19 02:57] lizhong1008 commented on #505
H264dec will decode codec data in start(), then it may return YAMI_DECODE_FORMAT_CHANGE. I think it's ok because it will only happen at the first time.

[2016-07-19 08:15] xuguangxin commented on #509
Hi @mypopydev
For item 1, maybe you can create a untiled surface and use vpp to copy  to it, it use gpu do memcpy, should faster than SSE4 version.
For item 2, is it related to encoder params? I checked this using default param before. It do not have visible improvement. I can double check this late.

[2016-07-19 08:26] xuguangxin commented on #505
Hi @lizhong1008
Seems VaapiDecoderH264::start only  return YAMI_FAIL or YAMI_SUCCESS. Jun's question is why we generate format change in decode when format is not changed.

[2016-07-19 08:31] xuguangxin commented on #503
Hi @zackxue
I will close this, if you still have issue please reopen it.
thanks

[2016-07-19 08:32] #503 closed, assigned to nobody

[2016-07-19 09:10] lizhong1008 commented on #505
@xuguangxin if has codec_data and not AVCC format, start() will call decodeAvcRecordData and decode() function. Please refer: https://github.com/01org/libyami/blob/apache/decoder/vaapidecoder_h264.cpp#L1138

[2016-07-19 09:26] lizhong1008 commented on #505
@xuguangxin , we check YAMI_DECODE_FORMAT_CHANGE in funcion ensureContext() at slice level decoding. That's why put the extradata(VideoConfigBuffer.data for SPS/PPS, but without slice_data), we will get YAMI_DECODE_FORMAT_CHANGE when decoding slice. It happens on the first decode() called.

[2016-07-19 09:30] lizhong1008 commented on #505
For H264 decoding, we can move ensureContext() to decodeSps().  Then start() can get YAMI_DECODE_FORMAT_CHANGE

[2016-07-19 11:17] mypopydev commented on #505
@xuguangxin @lizhong1008  and all:

I hope I can give more clearer question about this issue.

1). When the caller get the YAMI_DECODE_FORMAT_CHANGE event?
2). When the caller can use getFormatInfo() to get the stream format information?

Currently, I suppose start() just return  YAMI_FAIL or YAMI_SUCCESS, and the first decode() return YAMI_DECODE_FORMAT_CHANGE, or when format is  changed in decod

[2016-07-19 11:28] mypopydev commented on #509
@xuguangxin
Is VPP copy  deterministic in OTC gfx driver?

[2016-07-19 17:32] chivakker commented on #509
These requests apply for libyami-utils and not libyami.

Also, both yamidecode and yamitranscode are reference applications for libyami Clients to create their own applications.  It is good that you have a 2 threaded application that produces more fps but it is not in the scope of yamitranscode.

For yamidecode we could improve the memory copy but it is not the main interest for the utilities proj

[2016-07-19 17:32] #509 closed, assigned to nobody

[2016-07-20 04:52] xuguangxin commented on #505
Hi @mypopydev:
1. start will return YAMI_SUCCESS, YAMI_FAIL, or other fail return in future, like unsupported profile.
2. decode will return format change when it detected format change.(we falsely report a format change at first frame, we can change it late)
3. User need check really change in getFormatInfo, Like some one may only care about video size change to larger.

Hi @all
Do you think this

[2016-07-20 04:52] xuguangxin commented on #498
thanks Daniel.

[2016-07-20 04:52] #498 closed, assigned to chivakker

[2016-07-20 04:58] mypopydev commented on #505
@xuguangxin
It's make sense for me.

[2016-07-22 04:28] xuguangxin commented on #495
Hi @waiter89
This fixed by https://github.com/01org/libyami/pull/514.

[2016-07-22 06:38] waiter89 opened #515 "YAMI_VPP_OCL_BLENDER blend.cl error"
every float in blend.cl must add “f”
 y_dst = 0.299f \* (float4) (rgba[0].x, rgba[1].x, rgba[2].x, rgba[3].x);
    y_dst = mad(0.587f, (float4) (rgba[0].y, rgba[1].y, rgba[2].y, rgba[3].y), y_dst);
    y_dst = mad(0.114f, (float4) (rgba[0].z, rgba[1].z, rgba[2].z, rgba[3].z), y_dst);
    y_dst *= (float4) (rgba[0].w, rgba[1].w, rgba[2].w, rgba[3].w);
    y1_dst.x = mad(1 - rgba[0].w, y1.x, y_dst.x

[2016-07-22 07:28] waiter89 opened #516 "yami h264 decode one stream with different resolution format"
please see the test.h264,the older version yami is ok to decode

[2016-07-25 01:53] xuguangxin commented on #516
Hi @waiter89
 I did not see the file. Could you put the video file to somewhere. So we can download it.

[2016-07-25 01:54] xuguangxin commented on #515
Hi @dspmeng
Please help to answer this question. thanks.

[2016-07-25 02:33] waiter89 commented on #516
[test.zip](https://github.com/01org/libyami/files/380665/test.zip)

[2016-07-25 05:38] xuguangxin commented on #516
thanks @waiter89

[2016-07-25 05:45] xuguangxin opened #517 "We should check read beyond boundary in h264 codec parser."
We should check read beyond boundary in every read. Else, we will encounter serious error. like #495

[2016-07-25 06:56] xuguangxin commented on #432
Hi @wang-fei & @keqiaox
Can't reproduce this issue, Could you double check this or provide some platform information to me using internal mail?

[2016-07-25 07:51] xuguangxin opened #518 "We should not return YAMI_DECODE_FORMAT_CHANGE in IVideoDecoder::start"
IVideoDecoder::start should only return

It not include YAMI_DECODE_FORMAT_CHANGE.
We should return YAMI_DECODE_FORMAT_CHANGE only we detect format change in IVideoDecoder::decode.

[2016-07-25 18:02] seanvk commented on #505
@xuguangxin Sounds good to me.

[2016-07-25 18:02] #437 closed

[2016-07-25 18:03] seanvk commented on #176
Supported now upstream.

[2016-07-25 18:03] #176 closed

[2016-07-26 01:25] ghost commented on #432
checked with:
7f2e0329121ddd6b4a48df97d871fc2b47bfde47 apache branch
no this issue. So close it.

[2016-07-26 01:25] #432 closed

[2016-07-26 06:06] dspmeng commented on #515
1. blend.cl
   I don't find issue on my Haswell with latest beignet. But it's good suggestion to add float suffix. I can submit a fix.
2. blend.cpp
   There are tow issues in your change:
   a) i and j are reversed
   b) you'd better modify two row of pixels, because the background image is NV12 (UV are shared)
                                   // here changed
           if (i == image.width/2 &&

[2016-07-26 07:05] xuguangxin commented on #517
I will submit a fix for h264. Other codec may need component owner fix.

[2016-07-28 03:19] mypopydev opened #521 "Need to clear the VideoDecoderDefs.h/VIDEO_BUFFER_FLAG flags"
I find a lot of  flags  in VideoDecoderDefs.h/VIDEO_BUFFER_FLAG don't used in the core lib, need to clear them if don't use.

BTW: Only HAS_VA_PROFILE/HAS_SURFACE_NUMBER use in Vp8/h264/h265 decoder.

[2016-07-29 06:13] xuguangxin commented on #521
We can remove them, but it maybe need move to next quarter, since we are busy with other things.

[2016-07-29 06:56] mypopydev commented on #521
I will submit a patch for this :)

[2016-07-29 09:07] xuguangxin commented on #521
Great! thanks

[2016-08-02 05:18] xuguangxin commented on #517
h264 related code have been submit to https://github.com/01org/libyami/pull/524

[2016-08-02 05:20] xuguangxin commented on #495
Hi @waiter89
this fixed by e3c2744b0b3bb9f15fd7293cf698193a5aa19192.
BR.

[2016-08-02 05:20] #495 closed, assigned to xuguangxin

[2016-08-03 06:19] xuguangxin opened #526 "We should check read beyond boundary in h265 codec parser."
Please refer to #517 for issue details and #524 for  h264 related fix

[2016-08-03 06:20] xuguangxin opened #527 "We should check read beyond boundary in vc1 codec parser."
Please refer to #517 for issue details and #524 for  h264 related fix

[2016-08-03 06:21] xuguangxin opened #528 "We should check read beyond boundary in mpeg2 codec parser."
Please refer to #517 for issue details and #524 for h264 related fix

[2016-08-08 05:48] ghost opened #530 "[HEVC][container] the MD5 values are not the same as the reference data when using the ffmpeg."
1.Testing environment:
Libva: (master) 1517fd276e12cac14c018d5a30792177eb6c59de
Libva_intel_driver: (master) 1cd67951974c944b060e2d5d88a76abb34c0c99b
libyami: (apache) 509d0cda8071073e302a11b9f17cdfbc71144721

2.Test command:
$ ./yamidecode -i ./$filename -m -2 -f I420

[2016-08-08 06:07] #530 closed, assigned to nobody

[2016-08-08 06:09] ghost commented on #530
I will report this bug on jira.

[2016-08-09 07:14] xuguangxin commented on #461
Hi @mypopy ,
this fixed by https://github.com/01org/libyami-utils/pull/11

[2016-08-09 07:14] #461 closed

[2016-08-10 22:18] #505 closed, assigned to chivakker

[2016-08-16 08:11] xuguangxin commented on #521
fixed by https://github.com/01org/libyami-utils/pull/14

[2016-08-16 08:11] #521 closed, assigned to mypopydev

[2016-08-16 08:14] xuguangxin commented on #494
fixed by https://github.com/01org/libyami/pull/519

[2016-08-16 08:14] #494 closed, assigned to lizhong1008

[2016-08-22 04:59] xuguangxin opened #538 "We should have one single header file for user to include."
Currently we have many header files for user,

How about create a file named Libyami.h (or LibyamiC.h for C api) , user need only include this single header file, they do not need know include details in Libyami.h.
Gstreamer’s gst.h is good example:
https://github.com/GStreamer/gstreamer/blob/master/gst/gst.h

[2016-08-22 11:27] wudping commented on #415
print out error CMD:
yamitranscode -i ../cin.264  -o dd_1280x720.264 -N 1500 --rcmode CBR -b 5000 1>dd1.txt

will not print out error CMD:
yamitranscode -i ../cin.264  -o dd_1280x720.264 -N 1500 --rcmode CBR -b 1000 1>dd1.txt

It seems like that the bitrate is too large for hardware to malloc a buffer for encoder.

[2016-08-23 02:25] xuguangxin commented on #517
fixed by #524

[2016-08-23 02:25] #517 closed, assigned to xuguangxin

[2016-08-25 05:38] xuguangxin commented on #397
fixed by https://github.com/01org/libyami/pull/540

[2016-08-25 05:38] #397 closed

[2016-08-26 06:25] popkartyeah opened #545 "[H264][decoder]decode fail with sps->mui.max_dec_frame_buffering is 0"
when sps->mui.max_dec_frame_buffering value is 0 in some streams (such as extreme-plane-pred.h264 in ffmpeg), the yamidecode will break, follow is yamidecode run result:
libva info: VA-API version 0.39.2
libva info: va_getDriverName() returns 0
libva info: Trying to open /usr/lib/dri/i965_drv_video.so
libva info: Found init function __vaDriverInit_0_39
libva info: va_openDriver() returns 0
libyami

[2016-08-26 08:03] xuguangxin commented on #545
This may related to https://github.com/01org/libyami/issues/494.
@lizhong1008 , please help to check it

[2016-08-29 01:08] wudping commented on #415
I used an upper limit and a bottom boundary as the bitrate in following commands. It printed  waring "unrepairable overflow", but the decoded H264 files are correct.
yamitranscode -i ../cin.264 -o dd_1280x720.264 -N 1500 --rcmode CBR -b 5000 1>dd1.txt
yamitranscode -i ../cin.264 -o dd_1280x720.264 -N 1500 --rcmode CBR -b 1 1>dd1.txt

The following command is ok.
yamitranscode -i ../cin.264 -o dd_1

[2016-08-30 05:33] yizhouwei commented on #439
@xuguangxin it seems that the problem has already solved.
I tested with .yv12 files and the program printed unsupportted fourcc.
although it still abortted in the end.

[2016-08-30 07:25] xuguangxin commented on #415
ok, we should close this

[2016-08-30 07:25] #415 closed

[2016-08-31 09:24] lizhong1008 commented on #545
@popkartyeah solved by c3714fa8db5b4b13afc7b963a5c1a7e989556379, please help to verify it.

[2016-08-31 20:47] laxigithub opened #549 "libyami command for VP8/VP9 encode and decode"
Could you help with the command to use for VP8/VP9 encode and decode.

[2016-08-31 20:49] laxigithub opened #550 "What version of libyami supports VP8/VP9 and HEVC encode and decode"
Could you help what version of libyami support VP8/VP9 and HEVC encode and decode.

from yamiinfo , the API I am getting is: 0.2.0.
Please help if this is the right way to know the libyami  version info.

[2016-08-31 20:59] chivakker commented on #549
On Wed, Aug 31, 2016 at 1:47 PM, Laxman notifications@github.com wrote:

You can use libyami-utils tests as examples on how to use libyami.
 libyami-utils has a set of tests (yamidecode, yamiencode, yamitranscode)
that will exercise the enc/dec depending on your h/w and configuration.
libva utils (vainfo) can help you understand what is supported by your
hardware.  If the Entrypoint or profile doe

[2016-08-31 21:01] chivakker commented on #550
On Wed, Aug 31, 2016 at 1:49 PM, Laxman notifications@github.com wrote:

yamiinfo will also list the compiled components

i.e. $yamiinfo

libyamiutils 0.1.0 - https://github.com/01org/libyami-utils

API: 0.2.0

decoders:
        image/jpeg
        video/avc
        video/h264
        video/mpeg2
        video/x-vnd.on2.vp8

encoders:
        video/avc
        video/h264
        video/x-vnd.on2.vp9

[2016-09-01 05:20] popkartyeah commented on #545
@lizhong1008 yeah, I think it had be fixed.

[2016-09-01 05:20] #545 closed, assigned to lizhong1008

[2016-09-01 18:35] laxigithub commented on #550
the playback with libyami appears to be fast forward playback like 2X speed. is it dependent on any rendering framework ? Please suggest how this could be fixed ?

[2016-09-01 20:00] chivakker commented on #550
On Thu, Sep 1, 2016 at 11:35 AM, Laxman notifications@github.com wrote:

yamidecode (an example test for video decoding) is running without a clock
or any synchronization mechanism, depending on the mode you're choosing it
can be throttled to different speeds (but not because yamidecode can do
such thing).  We would need to know more how your multimedia stack looks
like to provide more insight on

[2016-09-02 22:12] #550 closed, assigned to nobody

[2016-09-02 22:12] #549 closed, assigned to nobody

[2016-09-02 22:16] chivakker opened #554 "[vp9 encoder]: implement reference frame scheme with last, gold and alt being last 3 inter frames"
Provide the vp9 encoder user with a method to choose which frames are used as reference for encoding.  The scheme should use previous frame as last reference, one before that as gold reference and one before that the alternate reference.  This functionality has to be combined with libyami-utils fix for issue https://github.com/01org/libyami-utils/issues/26

[2016-09-06 08:02] waiter89 opened #559 "yami h264 decode one stream with different resolution format"
const VideoFormatInfo\* getFormatInfo() return a wrong resolution when decoding a  h264 stream with different resolution.
![192 168 1 136_16-09-06-15_52_6](https://cloud.githubusercontent.com/assets/10821071/18266057/5a43e1d8-744b-11e6-8bda-e7e6c41babb9.jpg)

[2016-09-07 06:39] Hedda commented on #437
Any change in priority and updates on this now that both MediaCodec API and Android apps also runs in Chromium OS on Google Chromebooks as well?

Looks like Google is slowly merging the Android OS and Chromium OS platforms, or at least making them share some APIs, like the MediaCodec API.

If there was libyami decoders and encoders for the MediaCodec API then those could be used on both Android OS

[2016-09-07 08:26] waiter89 opened #561 "compile error,std::auto_ptr -> std::shared_ptr"
In file included from vaapiDecoderJPEG.cpp:22:0:
vaapiDecoderJPEG.h:53:10: error: ‘template<class> class std::auto_ptr’ is deprecated [-Werror=deprecated-declarations]
     std::auto_ptrVaapiDecoderJPEG::Impl m_impl;
          ^~~~~~~~
In file included from /usr/include/c++/6/memory:81:0,
                 from /usr/include/c++/6/tr1/memory:39,
                 from ../interface/VideoCommonDefs.h:2

[2016-09-07 15:46] uartie commented on #561
Yes, since GCC version 6 the deprecation is treated as an error.  We can use SharedPtr instead (defined in VideoCommonDefs.h).

[2016-09-08 03:48] waiter89 opened #564 "only one thread decode 16 h264 streams,but deak lock sometimes"
//here is my code,only in one thread
SharedPtr<VideoFrame> vb = yami->decoder_->getOutput(); //invoke getOutput before decode
status = yami->decoder_->decode(&inputBuffer);

//here deak lock
#0  0x00007ffff568d09f in pthread_cond_wait@@GLIBC_2.3.2 () from /lib64/libpthread.so.0
#1  0x00007fffd932ce51 in YamiMediaCodec::Condition::wait (this=0x7fffb85bf058) at ../common/condition.h:41
#2  YamiMedia

[2016-09-08 04:36] xuguangxin commented on #559
is this fix you problem? https://github.com/01org/libyami/pull/544/files

[2016-09-08 04:38] xuguangxin commented on #564
Put decode in diffrent thread maybe helpful,becuase you need get things from network or render. you can refer to our video wall application, it will decoder in diffrent thread,  https://github.com/01org/libyami-utils/blob/master/examples/grid.cpp

[2016-09-08 04:40] xuguangxin commented on #564
You need make vb out of scope when you used it, did you push vb to some queue?

[2016-09-08 04:43] xuguangxin commented on #561
We shold not use auto_ptr, is not well designed, shared_ptr is better than auto_ptr....Wired, I missed this in code review.

[2016-09-08 04:48] xuguangxin commented on #526
this fixed by #546

[2016-09-08 04:48] #526 closed, assigned to nobody

[2016-09-08 04:50] xuguangxin commented on #564
this mentioned in https://github.com/01org/libyami/issues/493 too.

[2016-09-08 08:13] dspmeng commented on #515
fix in #567

[2016-09-08 08:22] xuguangxin commented on #515
Hi @waiter89
Please help to verify.

[2016-09-08 16:39] uartie opened #570 "Unittest Failures: VaapiEncoderJpegTest/SimpleDataTest.Encode/*"
On hardware that supports JPEG encode (e.g. SKL+), the VaapiEncoderJpegTest/SimpleDataTest.Encode/\* unittests fail due to [YAMI_ENCODE_BUFFER_TOO_SMALL](https://github.com/01org/libyami/blob/332fc9fe8e7a7db12bb501c4163a5d6a0d553bb4/encoder/vaapiencpicture.cpp#L84).  This issue was mentioned in the commit message (bd64504b8b63d2f8f2d95955cee4574787f99d24) that added these tests.

Execute:

`$ ./en

[2016-09-08 17:17] uartie opened #571 "TR1 vs C++11"
We need to isolate the usage of tr1 and C++11 in the entire project.  We need a common interface that can be used that transparently uses either C++11 or TR1 APIs depending on compilation mode (i.e. ANDRIOD vs. everything else).  Currently, this is partially done in [VideoCommonDefs.h](https://github.com/01org/libyami/blob/apache/interface/VideoCommonDefs.h) and [Functional.h](https://github.com/0

[2016-09-08 17:36] d-scott-phillips commented on #571
also consider changing `#ifdef ANDROID` to `#if __cplusplus > 199711L` in cases where the conditional is really about language version and not about the platform itself.

[2016-09-08 18:23] uartie commented on #571
I've started work on this... please assign to me.

[2016-09-08 19:45] uartie opened #572 "Unittest Segmentation Fault: VaapiPostProcessScalerTest.mapToRange"
On platforms that don't support `vaQueryVideoProcFilterCaps` (e.g. Ivybridge), the `VaapiPostProcessScalerTest.mapToRange` test will segfault.  This is because `caps` is a NULL pointer and we try to deference it.  Before dereferencing the pointer, there should be an ASSERT_TRUE(bool(caps)) before to ensure the test does not continue when it's NULL.

`$ ./vpp/unittest`

[code]

[2016-09-08 20:07] chivakker commented on #571
@uartie your name is not on the list yet.

[2016-09-09 00:11] xuguangxin commented on #571
Hi @uartie ,
I have add you to collaboration list https://github.com/01org/libyami/settings/collaboration. But final solution is add you to 01org/media team at https://github.com/orgs/01org/teams/01-org-media . I do not know who have this right. Maybe @sean can help you.

[2016-09-09 00:46] uartie commented on #571
Hi @xuguangxin ,
The 01org/media team link does not work for me.  I talked to @seanvk today and he's looking into getting me added.  Thanks.

[2016-09-09 06:44] #561 closed, assigned to nobody

[2016-09-09 07:53] xuguangxin commented on #439
seems this fixed

[2016-09-09 07:53] #439 closed

[2016-09-09 09:01] xuguangxin commented on #516
Hi  @waiter89
this fixed by #526, Could you check it

[2016-09-09 13:04] xuguangxin commented on #437
Hi @Hedda ,
Due to our resource, we still have limited support on android. Maybe you can try it your self,MeidaCodec’s interface is similar to yami. I guess you can get a bare bone in less than 1K source code, 2 k source should enough for a decent MediaCodec implementation for yami.

[2016-09-12 09:51] ghost opened #578 "[yamitranscode] Fail to guess input width and height even we provide one"
$ yamitranscode -i 1080p_blue_sky.yuv -s I420 -W 1920 -H 1080 -c AVC --rcmode CQP -t 1 --priorityid 4 --intraperiod 10 -o 1080p_blue_sky.h264

It should be remove guess w/h when the cmd line specified the weight and height.

[2016-09-12 10:16] waiter89 commented on #559
Thanks，It's ok now

[2016-09-13 04:55] #571 closed, assigned to uartie

[2016-09-13 11:30] xuguangxin commented on #538
fixed by https://github.com/01org/libyami/pull/552

[2016-09-13 11:31] xuguangxin commented on #527
bixec by https://github.com/01org/libyami/pull/577

[2016-09-13 11:32] xuguangxin commented on #516
fixed by #516

[2016-09-13 20:12] chivakker opened #582 "vp9 encode fails with special 2K yuv input"
$ yamiencode -i somefile_300frames.yuv -s I420 -W 2048 -H 858 -c VP9 --rcmode CQP -o ./samefile_300frames.yuv.vp9
[IMGUTILS @ 0x7ffd372c02e0] Picture size 0x0 is invalid
libva info: VA-API version 0.39.3
libva info: va_getDriverName() returns 0
libva info: Trying to open /opt/yami//vaapi/lib/dri/i965_drv_video.so
libva info: Found init function __vaDriverInit_0_39
libva info: va_openDriver() retur

[2016-09-13 23:05] chivakker opened #583 "vpx encoders won't use the force keyframe flag"
libyami client can set the flag for keyframe at the interval desired.  Implementation should honor those requests.

[2016-09-14 02:52] #528 closed, assigned to chivakker

[2016-09-14 06:15] waiter89 opened #584 "deak lock when decoding hevc"
(gdb) bt
#0  0x00007ffff3b7142d in std::_Rb_tree_increment(std::_Rb_tree_node_base const*) () from ./libstdc++.so.6
#1  0x00007fffe1699cfc in std::_Rb_tree_const_iteratorstd::tr1::shared_ptr<YamiMediaCodec::VaapiDecPictureH265 >::operator++ (this=<optimized out>) at /usr/include/c++/4.8/bits/stl_tree.h:270
#2  std::__find_ifstd::_Rb_tree_const_iterator<std::tr1::shared_ptr<YamiMediaCodec::VaapiDec

[2016-09-14 06:28] xuguangxin commented on #584
Hi @waiter89
seems somthing happen in dpb bump, could you help to provide the clip

[2016-09-14 06:29] waiter89 commented on #584
another stack

(gdb) bt
#0  YamiMediaCodec::VaapiDecoderH265::DPB::checkLatency (this=this@entry=0x1dfb588, sps=sps@entry=0x1fb0e40) at vaapidecoder_h265.cpp:356
#1  0x00007f177294b0f2 in YamiMediaCodec::VaapiDecoderH265::DPB::init (this=this@entry=0x1dfb588, picture=..., slice=slice@entry=0x7f174805bc00, nalu=nalu@entry=0x7f176d0968a0, newStream=<optimized out>) at vaapidecoder_h265.cpp:397
#2  0

[2016-09-14 06:31] xuguangxin commented on #584
Hi @waiter89
Please attach the clip, without it, we cant't do any debug.

[2016-09-14 06:34] lizhong1008 commented on #584
Maybe hevc decoder can refer this commit: https://github.com/01org/libyami/commit/e0a5f44da3c08637e0833eb0e32e1c284c90dc11

[2016-09-14 06:47] ghost commented on #582
@chivakker , I checked with the following resolution and it seems image width and height should be alignd with 8.
2560x1440 (normal 2k resolution)  Pass
198x150 (w/h aligned with 2)         Fail
396x300 (w/h aligned with 4)         Fail
792x600 (w/h aligned with 8)         Pass

[2016-09-14 07:00] xuguangxin commented on #584
Yeah, @waiter89 , you can try add bump check like e0a5f44.And get some feedback for us

[2016-09-14 07:21] lizhong1008 commented on #582
I see the comment in  in libva (va_enc_vp9.h), "The source and recon surfaces allocated should be 64x64(SB) aligned". We need do Align64(width) and Align64(heigh) when we create these surfaces.

[2016-09-14 07:35] #554 closed, assigned to chivakker

[2016-09-14 09:17] waiter89 opened #585 "h264 decoding crash"
(gdb) bt
#0  YamiMediaCodec::VaapiDecoderH264::DPB::initReference (this=this@entry=0x2137588, picture=..., slice=slice@entry=0x7fff8402d460) at vaapidecoder_h264.cpp:575
#1  0x00007fffe1b64bd6 in YamiMediaCodec::VaapiDecoderH264::decodeSlice (this=this@entry=0x2137400, nalu=nalu@entry=0x7fff957f9820) at vaapidecoder_h264.cpp:1759
#2  0x00007fffe1b64c9b in YamiMediaCodec::VaapiDecoderH264::decodeNa

[2016-09-14 09:20] xuguangxin commented on #582
If we do need alloc  64 aligned surface, we should pay attention to unused area in right and bottom.
see https://cgit.freedesktop.org/vaapi/intel-driver/commit/?id=a478779c8c6b296c2069ab0fbc6f71c2e55c6a85 for detials

[2016-09-14 09:26] xuguangxin commented on #585
You have error bits in your stream. This may hang the hardware. Do you have mechanism in upper layer to make sure no packet lost?

[2016-09-14 09:26] waiter89 commented on #584
@xuguangxin  yes,it works,thanks

[2016-09-14 09:27] xuguangxin commented on #585
The this specific problem you can refer to https://github.com/01org/libyami/blob/apache/decoder/vaapidecoder_h265.cpp#L1034 to fix it

[2016-09-14 09:28] xuguangxin commented on #584
You have wrong bitstream?

[2016-09-14 09:54] waiter89 commented on #585
it's unavoidable to lost packet. this crash is h264 stream, no h265 stream
@xuguangxin

[2016-09-15 21:36] chivakker commented on #582
I confirmed that aligning it to 8 will make the use cases pass although the border clean is adding a green line in right and bottom.   I need to figure out a way to just do this only when creating the surfaces but keeping the file size the same.

Aligning to 64 will make the borders bigger, I'd prefer to align to 8; objections?

[2016-09-18 02:11] lizhong1008 commented on #585
@waiter89 , could you help to attach the video?

[2016-09-18 03:56] #584 closed, assigned to nobody

[2016-09-18 05:49] xuguangxin opened #591 "We did not support none zero start point of crop window in h264 and h265."
We always set crop window x, y to 0, 0, since codec parser do not carry out the value.
See https://github.com/01org/libyami/blob/apache/decoder/vaapidecoder_h264.cpp#L1674
and https://github.com/01org/libyami/blob/apache/codecparsers/h264Parser.cpp#L481 for details.

This make us failed on some conformance test. We need fix this in codecc parser.
H265 have this problem too.

[2016-09-18 07:24] xuguangxin opened #593 "Move all interface file to Interface directory."
Currently, we install header file from different directory. like VideoDecoderCapi.h from capi, YamiVersion.h from common.  It is better if we can put all public interface file to interface directory.

[2016-09-18 07:35] xuguangxin opened #594 "add H264 SVC-T CBR mode support to libyami"
SVC temporary scalability (see https://en.wikipedia.org/wiki/Scalable_Video_Coding) is important to real-time communication or IP camera users, It adjust reference order to make sure you can get some decode able frame when reference frame dropped. Currently, yami have SVC-T CQP support, We'd better support CBR when libva driver is ready

[2016-09-18 07:43] xuguangxin commented on #585
fixed by https://github.com/01org/libyami/pull/587

[2016-09-18 09:50] lizhong1008 commented on #578
Sent a pull request as https://github.com/lizhong1008/libyami-utils/commit/43a09803ae976e3d1815a4867fc37e5f0804dce3. @wang-fei ,please help to verify it. Thanks

[2016-09-20 08:49] #578 closed, assigned to lizhong1008

[2016-09-20 17:28] uartie commented on #570
The cause mentioned in bd64504:

[code]

is a good hint.  `643` is the exact size of the packed JPEG header.  Thus, the size of the header needs to be included in the max output size result.

[2016-09-21 01:37] xuguangxin commented on #570
Hi @uartie , we will check this after Q3 release

[2016-09-21 01:38] xuguangxin commented on #572
Hi @uartie ,
We will check it after Q3 release

[2016-09-21 01:39] ghost opened #598 "[HEVC][encode] lose frame when set '--ipperiod' as 2."
$ yamiencode -W xxx -H xxx -c HEVC -i input.I420 -o out.h265 --qp xxx --ipperiod 2
$ yamidecode -i out.h265 -m 0 -f I420

Then the dumped out.h265.I420 file size is less than input.I420. For the correct result, the file size should be same.

[2016-09-21 01:43] lizhong1008 commented on #598
Yeah, we need flush the last B frames in cached buffer. Bob has fixed the same issue for h264, I will port it to hevc.

[2016-09-21 01:43] xuguangxin commented on #286
@wudping ,could help to check the status of this bug ? Could we close it ?

[2016-09-21 01:44] xuguangxin commented on #340
@wudping ,Please help to check this.

[2016-09-21 01:51] wudping commented on #340
okay, @xuguangxin .

[2016-09-21 03:04] xuguangxin commented on #598
@wang-fei & @lizhong1008 why this passed in last test

[2016-09-21 03:18] wudping commented on #286
hi @xuguangxin, except the unsupported clips, we have only one clip issue to fix. I am still working on it know, and consult with @lizhong1008  for help.
please keep it opening.

[2016-09-21 03:19] ghost commented on #598
@xuguangxin , last test happened in ww32, and info:
Libva: 1517fd276e12cac14c018d5a30792177eb6c59de
intel_driver: 1cd67951974c944b060e2d5d88a76abb34c0c99b
libyami: 509d0cda8071073e302a11b9f17cdfbc71144721 (apache)
libyami-utils: 5c1a7e28cb62bc2e1d76d75d2f5cb94cb060292b (master)

So I think there should be some patch after 509d0c caused this issue.

[2016-09-21 03:22] wudping commented on #340
hi @xuguangxin , we have only one clip issue except the unsupported; That clip issue is fixed by

so it can be closed.
thanks.

[2016-09-21 03:53] lizhong1008 commented on #598
@wang-fei , it should not regression, you can double-check the ww32 result.

[2016-09-21 04:07] xuguangxin commented on #598
@lizhong1008 , Do we really need fix it if it's not regression? Seems it will introduce many code

[2016-09-21 04:34] lizhong1008 commented on #598
@xuguangxin , yeah, we need fix it, but maybe not this quarter release.

[2016-09-21 05:55] lizhong1008 commented on #598
I have discussed with dongping how to fix it.  @wudping will fix it.

[2016-09-21 07:28] ghost commented on #340
I will check this issue during RC2 test.

[2016-09-21 07:35] ghost commented on #585
RC1 test ok.

[2016-09-21 07:35] #585 closed, assigned to nobody

[2016-09-21 07:38] ghost commented on #583
RC1 test OK.

[2016-09-21 07:38] #583 closed, assigned to nobody

[2016-09-21 07:40] ghost commented on #559
RC1 test ok.

[2016-09-21 07:40] #559 closed, assigned to nobody

[2016-09-21 07:41] ghost commented on #538
RC1 test OK.

[2016-09-21 07:41] #538 closed, assigned to nobody

[2016-09-21 07:41] ghost commented on #527
RC1 test OK.

[2016-09-21 07:41] #527 closed, assigned to nobody

[2016-09-21 07:43] ghost commented on #516
RC1 test OK.

[2016-09-21 07:43] #516 closed, assigned to nobody

[2016-09-21 07:45] ghost commented on #515
RC1 test OK.

[2016-09-21 07:45] #515 closed, assigned to nobody

[2016-09-21 07:46] ghost commented on #394
RC1 test OK.

[2016-09-21 07:46] #394 closed

[2016-09-22 04:46] waiter89 opened #599 "h264 decoding crash again"
Program received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fa84db1f700 (LWP 17047)]
0x00007fa8893a137f in YamiMediaCodec::VaapiDecoderH264::DPB::init (this=this@entry=0x2e3d328, picture=..., prevPicture=..., slice=slice@entry=0x7fa8282875e0,
    nalu=nalu@entry=0x7fa84db1e910, newStream=<optimized out>, contextChanged=false, maxDecFrameBuffering=5) at vaapidecoder_h264.cpp:1004
1

[2016-09-22 05:11] xuguangxin commented on #599
Hi @waiter89
could you dump the file for us, so we can add this to our daily regression, make it never failed again

[2016-09-22 05:13] xuguangxin commented on #599
Hi @waiter89
Also we will add more error bit test in Q4, so could you provide some error bitstream for us?
thanks

[2016-09-23 01:01] xuguangxin opened #602 "default value for --enable-h265dec config is mismatched with the help information"
this fixed by https://github.com/01org/libyami/pull/596

[2016-09-23 01:43] xuguangxin commented on #582
fixed by #601

[2016-09-27 05:34] ghost commented on #602
1.0.0 RC2 verify OK.

[2016-09-27 05:34] #602 closed, assigned to nobody

[2016-09-27 05:52] ghost commented on #598
Bug still exist in 1.0.0 RC2 test.

[2016-09-27 06:21] ghost commented on #340
@wudping @xuguangxin  1.0.0 RC2 test still 6 fail case:

decode_hevc_ffmpeg/BUMPING_A_ericsson_1.bit  FAIL
decode_hevc_ffmpeg/CONFWIN_A_Sony_1.bit  FAIL
decode_hevc_ffmpeg/NoOutPrior_B_Qualcomm_1.bit  FAIL
decode_hevc_ffmpeg/OPFLAG_B_Qualcomm_1.bit  FAIL
decode_hevc_ffmpeg/OPFLAG_C_Qualcomm_1.bit f FAIL
decode_hevc_ffmpeg/TSKIP_A_MS_2.bit  FAIL

[2016-09-27 07:27] ghost commented on #340
Double checked with dongping, md5 same with ffmpeg, and remove CONFWIN_A_Sony_1.bit case for not support crop.

[2016-09-27 07:27] #340 closed

[2016-09-27 07:31] xuguangxin commented on #598
@wudping ,could you double check this with wangfei?
thanks

[2016-09-27 07:32] wudping commented on #598
okay, you are welcome.

[2016-09-29 01:57] ghost commented on #598
By using 'Video analyzer Tool', the encoded file show the correct frame number. So this should be the other issue in hevc decode. I will close this issue and create a hevc decode bug to track it.

[2016-09-29 01:57] #598 closed, assigned to nobody

[2016-09-29 02:01] ghost opened #606 "[HEVC][decode] lose frame when set encode file option '--ipperiod 2'."
$ yamiencode -W xxx -H xxx -c HEVC -i input.I420 -o out.h265 --qp xxx --ipperiod 2
$ yamidecode -i out.h265 -m 0 -f I420

Then the dumped out.h265.I420 file size is less than input.I420. For the correct result, the file size should be same.

[2016-09-29 02:07] ghost commented on #582
1.0.0 RC2 test OK.

[2016-09-29 02:07] #582 closed, assigned to chivakker

[2016-09-29 02:39] ghost commented on #346
1.0.0 RC2 test update, remove odd resolution case, and then only one fail case:
vp90-2-10-show-existing-frame.webm

[2016-09-29 02:46] ghost commented on #308
1.0.0 RC2 test update:
Those case all are odd resolution case, remove it from our test case.

[2016-09-29 02:46] #308 closed

[2016-09-30 01:41] LindaYu17 opened #607 "There are mosaic frames from about 1000 frames in following video"
http://vodcdn.video.taobao.com/oss/ali-video/3536edc0480d4eacb2a3718a452702ce/1453047226/video.mp4

[2016-09-30 02:12] LindaYu17 commented on #607
this is the cut off .h264 with only one mosaic frames(from 1000 to 1045 frames from orignal video.mp4). Since github does not accept .h264 file, I zip it. please unzip to get original one.
[final.zip](https://github.com/01org/libyami/files/502036/final.zip)

[2016-09-30 07:18] xuguangxin opened #610 "better have some instructions in encbase to tell derive class developer call flush"

[2016-10-09 06:27] waiter89 opened #613 "decode h264 Segmentation fault."
(gdb) bt
#0  __atomic_add_dispatch (__val=1, __mem=0x12d) at /usr/include/c++/4.8/ext/atomicity.h:96
#1  _M_add_ref_copy (this=0x125) at /usr/include/c++/4.8/tr1/shared_ptr.h:128
#2  __shared_count (__r=..., this=0x34d53d8) at /usr/include/c++/4.8/tr1/shared_ptr.h:348
#3  __shared_ptr (this=0x34d53d0) at /usr/include/c++/4.8/tr1/shared_ptr.h:541
#4  shared_ptr (this=0x34d53d0) at /usr/include/c++/

[2016-10-09 06:29] xuguangxin commented on #613
could you provide the bitstream to us. It's hard to debug without it.

[2016-10-10 02:48] xuguangxin commented on #613
Hi @waiter89
Is it ok to add some dump function before you sent to yami. We can catch and replay the error bitstream. It will help us debug the code. It is hard to debug the issue if we only have stack.

[2016-10-12 05:40] xuguangxin commented on #570
@wudping , Please help to verify this in skl+

[2016-10-12 05:59] wudping commented on #570
okay, @xuguangxin

[2016-10-12 09:02] wudping commented on #570
verify + 1

[2016-10-13 01:44] halleyzhao opened #618 "re-configure external allocated video buffer when there is decoder format change in v4l2"
libyami/v4l2 accepts external video buffer for decoding, for example, buffers deque from android surface.
the surface/buffer size is configured by video format/resolution.

when video resolution changes on the fly, surface buffer should be reconfigured.
this scenario hasn't been taken care of in libyami/v4l2

[2016-10-13 04:42] #570 closed, assigned to nobody

[2016-10-13 05:34] xuguangxin commented on #610
fixed by #609

[2016-10-13 05:34] #610 closed, assigned to nobody

[2016-10-13 05:37] xuguangxin commented on #607
fixed by #608

[2016-10-13 05:37] #607 closed, assigned to nobody

[2016-10-17 03:24] taste1981 opened #620 "Decode vp8 stream from libvpx results in video with macroblocks"
the vp8 decoder, when decoding attached vp8 stream(unzip to output.ivf), will show many macroblocks and unexpected color blocks. This does not happen if we decode using libvpx.

[output.zip](https://github.com/01org/libyami/files/532372/output.zip)

[2016-10-17 07:58] xuguangxin commented on #620
Seems it's a vp8 conformance issue after 169 frames

[2016-10-17 15:23] chivakker commented on #620
I'll take a look and report back.  I have to confirm a fix is in place.

[2016-10-18 04:37] xuguangxin opened #624 "HEVC 10 bits decoder"
Support HEVC 10bits in libyami, this is gap between libva and libyami

[2016-10-18 04:38] xuguangxin opened #625 "VP9 10 bits decoder"
Support vp9 10bits in libyami, this is gap between libva and libyami

[2016-10-18 04:43] xuguangxin opened #626 "AVC low power encoder"
VAEntrypointEncSliceLP will get better encoder quality and  lower power consumption.
We need  we need support it in libyami

[2016-10-18 04:46] xuguangxin opened #627 "HEVC 10 bit encoder"
This is gap betwen libyami and libva

[2016-10-18 04:47] xuguangxin opened #628 "10bit scaling"
When libva driver support 10bit scaling we need support this in libyami

[2016-10-18 04:48] xuguangxin opened #629 "ProcAmp (video settings for Brightness, Contrast, Hue, and Saturation)"
support ProcAmp in yami vpp, this should include unittest too

[2016-10-18 04:50] xuguangxin opened #630 "Add decoder and encoder latency log to yamidecode and yamitranscode(for performance test)"
add latency information to yami-utils

[2016-10-18 04:51] xuguangxin opened #631 "Add bitrate calculate to yamitranscode(for quality test)"
add bitrate calculation to yami-utils

[2016-10-18 04:52] xuguangxin opened #632 "Run time check for yami and va support features"
We should have runtime check for va support features. It should include
8bit, 10bit, low power query.

[2016-10-18 05:41] taste1981 opened #633 "WebRTC: Encoded vp8 stream contains yellow color blocks and video quality not good"
transcoding the vp8 stream I shared for issue #620  to 1080p-vp8-4Mbps@30fps, we get output vp8 stream with many yellow color blocks on the video, and video quality is not very good.

[2016-10-18 06:17] dspmeng opened #634 "H.264 encoded bit stream has redundant start code at beginning"
$ yamiencode -i test.yuv -o test.h264 -W 1920 -H 1080 --rcmode=CBR -b 4000 -c AVC -s I420
the encoded bit stream has a redundant start code at beginning as below.
00 00 00 01 00 00 00 01 67 4D 40 29 AB 40 3C 01 ....

Some stream analyzer (say Intel Video Pro Analyzer 2017 2.3.0.4478) can't recognize such stream as AVC.

[2016-10-18 06:23] jsorg71 commented on #634
Yes, I see this too.

[2016-10-18 06:25] xuguangxin commented on #634
It caused by this line https://github.com/01org/libyami/blob/apache/encoder/vaapiencoder_h264.cpp#L696
Hi @lizhong1008 , could you help to fix it?

[2016-10-18 06:27] xuguangxin commented on #634
unlike sps and pps, we do not always have sei. When we not have sei, this line will append 00 00 00 01 only

[2016-10-18 08:35] taste1981 commented on #633
driver 1.7.0 and 1.7.2 are checked. CBR mode is used for encoding.

[2016-10-19 01:59] lizhong1008 commented on #634
@xuguangxin , yeah, I will send a patch to fix it today or tomorrow.

[2016-10-20 05:21] lizhong1008 commented on #634
@dspmeng , could you help to verify https://github.com/01org/libyami/pull/636?

[2016-10-20 06:47] #634 closed, assigned to lizhong1008

[2016-10-21 06:41] jsorg71 commented on #634
Is this fixed?  I still get invalid encoded data but it may be another issue.

[2016-10-21 06:43] xuguangxin commented on #634
Hi @jsorg71
It should fixed by lizhong's patch, maybe you can share your command and stream for us.
thanks

[2016-10-21 07:48] xuguangxin opened #637 "vp9decoder should skip p frame if we did not saw key frame before."
Please see https://github.com/01org/libyami/pull/623 for vp8 fixes

[2016-10-23 04:29] jsorg71 commented on #634
It does fix the 2 start codes in a row at the beginning but  I still see 2 start codes per frame.
There is one at the beginning and one about 5 bytes in.
example

[code]

[2016-10-24 06:56] xuguangxin commented on #613
Hi @waiter89
Any update on this?

[2016-10-24 06:56] xuguangxin commented on #599
Hi @waiter89
any update on this?

[2016-10-24 08:44] xuguangxin commented on #606
this fixed by #622

[2016-10-25 04:47] jsorg71 commented on #634
You can reproduce this with yamiencode
yamiencode -i luke-642x390-nv12.yuv -W 642 -H 390 -c AVC -s NV12 -o luke.h264

[2016-10-25 10:29] xuguangxin commented on #634
@lizhong1008 , could you help to  check this?thanks

[2016-10-27 04:33] lizhong1008 commented on #634
OK，I'll check it tomorrow.

[2016-10-27 04:37] lizhong1008 commented on #634
@jsorg71 It is not redundant start code, it is the necessary start code of each nal unit for Annex B.

[2016-10-27 06:56] jsorg71 commented on #634
hum, can you explain more?  Why is it necessary?
x264 does not do 2 start codes, nvenc does not do 2 start codes, older libyami does not do 2 start codes.  All annex B.
This is confusing my decoders that are expecting one start code per frame.

[2016-10-27 07:09] lizhong1008 commented on #630
move it to yami-util (https://github.com/01org/libyami-utils/issues/52) and close it.

[2016-10-28 02:12] xuguangxin commented on #633
This is driver's issue, Haihao will working on this

[2016-10-28 08:33] jsorg71 commented on #634
I provide a diff of what libyami used to do so we can compare.

[2016-10-28 08:42] lizhong1008 commented on #634
@jsorg71 can you share your encoded bitstream? Including both the laster yami encoded bistream, and older yami encoded bitstream.

[2016-10-31 08:49] lizhong1008 commented on #594
merged as 0a241d2307d554b704c0eb0158b446adc9a9a1e2

[2016-10-31 09:41] halleyzhao opened #640 "Remove extra VPP in V4l2Decode"
libyami alloc video surface by itself.
in order to support buffer assigned from client, v4l2decode introduce extra video-post-processing to copy/convert yami video frame to client buffer.
this extra vpp process introduce additional GPU load, memory consumption, extra power consumption as well.

we'd remove this vpp process, to let yami core accept extra buffer.

[2016-10-31 14:35] lizhong1008 commented on #634
@jsorg71 the two start code you see it that, one is for the prefix Nal unit, the other is for slice data Nal unit. We add the prefix Nal Unit is for avc simulcast usage, simulcast request to set the priority_id in the prefix Nal Unit.

[2016-10-31 22:12] seanvk commented on #640
I have no objections.  I believe we added it in the first place as a part of Android and then to Wayland.  This was a part of the dealing with display and color format conversion.  I agree we should not presume that.

@xuguangxin, any concern?

[2016-11-01 04:03] xuguangxin commented on #640
Hi @seanvk:
My big concern is schedule. We need change many things to make it work:
1. We need to adjust core library. To return format change before we actually allocate the decoder surface. This gives v4l2/omx a chance to ask surfaces from display
2. We need to adjust v4l2decoder, it needs pause decoder task before upper layer allocates surface from display and send to him.
3. We need to conside

[2016-11-01 04:49] xuguangxin commented on #634
Hi @lizhong1008
I think this is the problem.According to h264 spec, decoder should drop unrecognized nal unit. However, in real world, the decoder may simply report error for this. Is it ok to remove prefix unit if it's normal h264  encoder?

[2016-11-01 05:38] lizhong1008 commented on #634
@xuguangxin simucast is for normal h264, not for svc-t.

[2016-11-01 05:47] ghost commented on #339
QA update in 1.0.1 RC1 release test.
fail case:
1. crop-to-container-dims-canon.mov
2. direct-bff.mkv
3. H264_might_overflow.mkv
4. high-qp.mkv
5. reinit-large_420_8-to-small_420_8.h264

[2016-11-01 06:04] ghost commented on #346
1.0.1 RC1 release test update:
fail case:
1. vp90-2-10-show-existing-frame.webm
2. vp90-2-16-intra-only.webm

[2016-11-01 06:40] xuguangxin commented on #346
@wang-fei , this mean we have one new clip failed?

[2016-11-01 07:12] YuJiankang opened #641 "[VPP]add Brightness/Contrast/Hue/Saturation"
This is request for Q4.

[2016-11-01 07:24] YuJiankang opened #642 "add libyami to debian package system"
Xu, Guangxin added a comment - 17/Oct/16 8:05 AM
contacted debian media team, get replay here http://lists.alioth.debian.org/pipermail/pkg-multimedia-maintainers/2016-August/053665.html
will prepare debian package and scan for package error first.
I have build the debian package, scan for error and sent request to libva debian maintiainer. Hope he can help us add this package to debian

[2016-11-01 07:27] YuJiankang opened #643 "add libyami to yocto package system"

[2016-11-01 07:33] xuguangxin opened #644 "Add a mode to lock all encoder frames to memory at start time"
This will help us get pure encoder performance.

[2016-11-01 07:39] YuJiankang commented on #641
this is duplicate of 629, so close it.

[2016-11-01 07:39] #641 closed, assigned to xuguangxin

[2016-11-01 16:36] seanvk commented on #642
Are we good?  Did we get into Debian now?  Can you share a link?

Sean

[2016-11-01 16:40] seanvk commented on #640
Yes, I understand.  But we've not received a clear description yet.  Is this for:  Android or YunOS?  Does this support require integration of Yalloc support?  We don't support (a) Android and we cannot support (b) Yalloc unless it is open source.

Also we need to consider the impact to other customer use cases with V4L2.  So in your list @xuguangxin  I agree with exception of that we don't suppor

[2016-11-01 16:42] seanvk commented on #643
What is the status?

[2016-11-02 01:30] wudping commented on #643
Hi @seanvk ,
Yocto build, build script is ready. However, 1.0.0 need some patches, we have upstream those patches for 1.0.1. We will send to yocto team after 1.0.1 released. (Due day WW47.5)

[2016-11-02 01:54] xuguangxin commented on #643
Hi @seanvk ,
Dongping have built and done simple test on yocto.

Hi @wudping ,
could attach current build script here. It’s good if we can get some suggestion from Sean.

[2016-11-02 05:15] ghost opened #646 "[HEVC][Encode] 4K resolution segment fault when set '--ipperiod 2'."
4K resolution segment fault, other options for 4K and other resolutions looks good.

root@yami-kbl:~/media_libyami/encode_hevc# yamiencode -W 3840 -H 2160 -i /media/encoderbitstreams/4K_2013_3840_2160_300frames.yuv -o 4K_2013_3840_2160_300frames.yuv.enc.h265 --ipperiod 2
[IMGUTILS @ 0x7ffef79169b0] Picture size 0x0 is invalid
libva info: VA-API version 0.39.4
libva info: va_getDriverName() returns

[2016-11-02 05:18] xuguangxin commented on #646
this may realted to avformat, could you disable avformat and try again?

[2016-11-02 05:24] wudping commented on #643
Hi @seanvk , the following is part of libyami .bb file, our development is merely completed now, we will release it in version 1.0.1:

SUMMARY = "Yami is media infrastructure base on libva"
DESCRIPTION = "Yami is core building block for media solution; \
with efficient/simple APIs, without external dependency. It parses \
video stream and decodes/encodes them leverage hardware acceleration. \
It t

[2016-11-02 05:28] xuguangxin commented on #640
Hi @halleyzhao
Could you give more detail to sean?
thanks

[2016-11-02 16:57] jsorg71 commented on #634
What is simulcast?  and can this be an option?

[2016-11-03 01:54] ghost commented on #646
@xuguangxin , after disable avforamt, "[IMGUTILS @ 0x7ffef79169b0] Picture size 0x0 is invalid" is gone. But segment fault still exist.

[2016-11-03 02:12] xuguangxin commented on #646
@lizhong1008 , Do you have time to look at this?

[2016-11-03 02:41] ghost commented on #606
test OK:
libyami: 1.0.1 RC1 tag
libyami-utils: 1.0.1 RC1 tag
libva: 1.7.3.pre1
libva-intel-driver: 1.7.3.pre1

[2016-11-03 02:41] #606 closed, assigned to xuguangxin

[2016-11-03 02:42] ghost commented on #594
test OK:
libyami: 1.0.1 RC1 tag
libyami-utils: 1.0.1 RC1 tag
libva: 1.7.3.pre1
libva-intel-driver: 1.7.3.pre1

[2016-11-03 02:42] #594 closed, assigned to lizhong1008

[2016-11-03 03:08] lizhong1008 commented on #646
I checked it, no segment fault found. @wang-fei what's your configure option? Maybe you can reset your environment and try it again.

[2016-11-03 05:27] xuguangxin commented on #632
Close this since it's in planning.

[2016-11-03 05:27] #632 closed, assigned to YuJiankang

[2016-11-03 05:34] ghost commented on #646
@lizhong1008 , It seem this issue is not always happen. I check it with dongping's env and add '--qp 10' seems more easy to see segment fault.

[2016-11-03 05:53] ghost commented on #620
I try to use "yamidecode -i output.ivf -f I420 -m 0" to dump yuv file, but it returns an error. @xuguangxin @chivakker How can I verify this issue ?

root@yami-kbl:~# yamidecode -i output.ivf -f I420 -m 0
libva info: VA-API version 0.39.4
libva info: va_getDriverName() returns 0
libva info: Trying to open /opt/yami//vaapi/lib/dri/i965_drv_video.so
libva info: Found init function __vaDriverInit_0_3

[2016-11-03 06:02] xuguangxin commented on #620
Hi Fei:
The file dumped by @taste1981 have some issue.I fixed it, and i can mail to you. Please add this file to regression test set.
thanks

[2016-11-03 06:07] lizhong1008 commented on #646
@wang-fei  Still can not reproduce it. here is my configuration: ./autogen --prefix=/opt/yami/yami --enable-tests --enable-h265dec --enable-h265enc

[2016-11-03 06:41] xuguangxin commented on #629
Close this since it's in planning.

[2016-11-03 06:41] #629 closed, assigned to wudping

[2016-11-03 06:41] xuguangxin commented on #628
Close this since it's in planning.

[2016-11-03 06:41] #628 closed, assigned to xuguangxin

[2016-11-03 06:41] xuguangxin commented on #627
Close this since it's in planning.

[2016-11-03 06:41] #627 closed, assigned to nobody

[2016-11-03 06:42] xuguangxin commented on #626
Close this since it's in planning.

[2016-11-03 06:42] #626 closed, assigned to YuJiankang

[2016-11-03 06:42] xuguangxin commented on #625
Close this since it's in planning.

[2016-11-03 06:42] #625 closed, assigned to wudping

[2016-11-03 06:42] xuguangxin commented on #624
Close this since it's in planning.

[2016-11-03 06:42] #624 closed, assigned to xuguangxin

[2016-11-03 06:43] xuguangxin commented on #643
Close this since it's in planning.

[2016-11-03 06:43] #643 closed, assigned to wudping

[2016-11-03 06:48] xuguangxin commented on #642
Close this since it's in planning.

[2016-11-03 06:48] #642 closed, assigned to xuguangxin

[2016-11-03 08:07] ghost commented on #620
test OK:
libyami: 1.0.1 RC1 tag
libyami-utils: 1.0.1 RC1 tag
libva: 1.7.3.pre1
libva-intel-driver: 1.7.3.pre1

[2016-11-03 08:07] #620 closed, assigned to nobody

[2016-11-03 08:50] lizhong1008 commented on #634
@jsorg71
1. AVC simulcast means "multiple independent simulcast avc streams with different priority", they are avc streams with priority_id inserted in the Prefix Nal Unit.
2. Yes, seems same decoders have not  strictly follow h264 spec, and can not decode the Prefix Nal Unit. I am going to disable simulcast by default.

[2016-11-04 03:11] xuguangxin opened #648 "3 unittest failed for vaapi direcotry."
[==========] Running 9 tests from 1 test case.
[----------] Global test environment set-up.
[----------] 9 tests from VaapiDisplayTest
[ RUN      ] VaapiDisplayTest.CreateInvalidHandleX11
vaapidisplay_unittest.cpp:106: Failure
Failed
[  FAILED  ] VaapiDisplayTest.CreateInvalidHandleX11 (0 ms)
[ RUN      ] VaapiDisplayTest.CreateInvalidHandleDRM
libva info: VA-API version 0.39.3
libva info: va_getD

[2016-11-09 05:10] xuguangxin commented on #646
@wang-fei , any update on this?

[2016-11-09 05:12] xuguangxin commented on #613
Hi @waiter89
I will close this temporaryly, please reopen it if you dumped the clip for this.thanks

[2016-11-09 05:12] #613 closed, assigned to nobody

[2016-11-09 05:12] xuguangxin commented on #599
Hi @waiter89
I will close this temporaryly, please reopen it if you dumped the clip for this.thanks

[2016-11-09 05:12] #599 closed, assigned to nobody

[2016-11-11 19:28] jsorg71 commented on #634
@lizhong1008 I'm trying to hack the code to see if this is the last issue(I really want to update my yami version on my servers).  If I just comment out the call to addPackedPrefixNalUnit in vaapiencoder_h264.cpp, will that turn it off?
https://github.com/01org/libyami/blob/apache/encoder/vaapiencoder_h264.cpp#L1920

[2016-11-11 22:02] jsorg71 commented on #634
@lizhong1008 I just went ahead and yes, that fixes it for me.
BTW, one of the decoders that was failing was a libyami decoder, just an older one.

[2016-11-14 01:47] lizhong1008 commented on #634
@jsorg71 , yes, I will sent a patch to disable h264 simulcast by default this week. Thanks for your comments.

[2016-11-17 02:53] ghost opened #657 "[Encode][AVC] 1080P encode block when set --qp as 4."
1. setps
root@yami-skl:~/media_libyami/encode_h264# yamiencode -c AVC -s I420 -W 1920 -H 1080 --rcmode CQP -i /media/encoderbitstreams/1080p_blue_sky.yuv -o ./1080p_blue_sky_ip_gop30_fps30_qp4_lf10.h264 --qp 4 --ipperiod 1 --intraperiod 30
[IMGUTILS @ 0x7ffe5d4148d0] Picture size 0x0 is invalid
libva info: VA-API version 0.39.3
libva info: va_getDriverName() returns 0
libva info: Trying to open /o

[2016-11-17 04:33] xuguangxin commented on #657
Hi @lizhong1008
Do you have time to look at it ?

[2016-11-17 05:59] lizhong1008 commented on #657
@xuguangxin Yeah, I will check it. @wang-fei what does the "block" mean? Infinite loop for CPU or GPU ?

[2016-11-17 07:48] ghost commented on #657
@lizhong1008, not infinite loop, just keep staying at 'libva info: va_openDriver() returns 0'. Need press ctrl+c to finish cmd.

[2016-11-17 09:00] xuguangxin commented on #657
qp = 0 do not have this problem?

[2016-11-17 09:17] lizhong1008 opened #660 "decoding failed when h264 encoded bitsteam has prefix nal unit."
Some decoder can not support prefix nal unit.

[2016-11-17 09:20] xuguangxin opened #661 "We do not have decode API unit test."
Different decoder may use different behaviors, this make user confuse.

[2016-11-18 02:52] xuguangxin commented on #648
fixed by #649

[2016-11-18 06:18] lizhong1008 opened #663 "h264 baseline profile encoded bitstream can't be decoded"
when baseline profile is set for h264 encoder, the encoded bistream can not be decoded.

[2016-11-27 04:54] jsorg71 opened #670 "[H264][Encoder] Encoder will generate invalid frame when the gop size is larger than 2000"
If you set m_videoParamCommon.intraPeriod to -1, you get bad frames after 2048 frames.
This error is printed.
libyami error 18172 (bitWriter.cpp, 74): Write Bits Error: value overflow
If you let it run, after about 2000 more frames, it works again and you get another good 2048 frames and this repeats.
If you set m_videoParamCommon.intraPeriod to something like 1024 it's ok.

[2016-11-28 05:23] lizhong1008 commented on #670
intraPeriod is unsigned int, why set it to be -1?

[2016-11-28 05:32] jsorg71 commented on #670
When you set unsigned int to -1 it sets max int.
This is setting unlimited GOP.

[2016-11-28 05:40] lizhong1008 commented on #670
we defined the maximum IDR period in vaapiencode_h264.cpp.  Unlimited GOP is not supported right now.
#define MAX_IDR_PERIOD 2000

[2016-11-28 05:49] jsorg71 commented on #670
Yea, the check needs to be fixed.  It used to work.

[2016-11-28 06:21] lizhong1008 commented on #670
@jsorg71 It is not a good idea to set unlimited GOP, it will cause bad encode quality and bad fault tolerant.

[2016-11-28 06:35] jsorg71 commented on #670
Lets leave unlimited GOP aside, the check should be fixed.

[2016-11-28 06:50] lizhong1008 commented on #670
@jsorg71 so are you going to close this issue?

[2016-11-28 08:14] jsorg71 commented on #670
@lizhong1008 I'll close it if you don't care that users can set this and get invalid frames when this was not true with older libyami.

[2016-11-28 08:43] jsorg71 commented on #670
Don't think about unlimited GOP.
The same thing happens if you set m_videoParamCommon.intraPeriod to 2048.

[2016-11-29 02:17] xuguangxin commented on #670
@lizhong1008 , I think @jsorg71 is right, -1 for uint only means a really large value. If set -1 have problem in 2000 frames.  set 3000 frames should have similar problem too. We should avoid generate invalid frame no matter user set any value. right?

[2016-11-29 02:51] lizhong1008 commented on #670
@jsorg71 we are not going to support unlimited GOP right now unless users have strong reason. But yes, we need to check the invalid frame issue.  Sorry I was not to push you close it just because I misunderstood you.  I will check the invalid  frames issue.

[2016-11-29 04:10] xuguangxin commented on #633
this is a driver's issue, lable it as won't fix

[2016-11-30 06:46] xuguangxin commented on #670
Hi @jsorg71 ,
If you set gop size to a large value. any error bit will have side effect to later pictures. Could you share your use scenario ? Why you want unlimited GOP size?

[2016-12-01 05:33] jsorg71 commented on #670
@xuguangxin for remote desktop and video conferencing, no B frames and infinite GOP length is preferred.  There is no issues with error bit.
The perfered GOP is
I P P P P P P ...... forever.

[2016-12-01 18:56] jsorg71 commented on #670
@xuguangxin
Here is the way I configure yami

[code]
for comparison, here is how I configure nvenv
[code]

[2016-12-02 05:57] xuguangxin commented on #670
Hi @jsorg71
Sorry to introduce inconvenience to you. We will change code to support this. But it may need some time to test it. As temporary workaround you can comment out two lines at
https://github.com/01org/libyami/blob/apache/encoder/vaapiencoder_h264.cpp#L1043

thanks

[2016-12-02 06:52] jsorg71 commented on #670
Thanks, don't worry about inconvenience.
I only want to help the project and I hope remote desktop will be a supported scenario.
I can change thous 2 lines but I think the invalid frame issue will need to be fixed first.

[2016-12-02 06:57] xuguangxin commented on #670
Hi @jsorg71
Yes, really thanks for your help. We are opensource project. Community user like you is very important to us.  The 2000 failed frame you mentioned is caused by `#define MAX_IDR_PERIOD 2000`, so remove two lines will not have the 2000 problem.

thanks.

[2016-12-05 02:38] xuguangxin commented on #572
fixed by 	3376fbf

[2016-12-05 02:38] #572 closed, assigned to nobody

[2016-12-05 03:07] xuguangxin commented on #633
close this since it's a driver's issue

[2016-12-05 03:07] #633 closed, assigned to nobody

[2016-12-05 05:25] ghost commented on #646
I tried '--ipperiod 0' also get segment(not always), and here is some gdb info:
(gdb) set args -W 3840 -H 2160 -i /media/encoderbitstreams/4K_2013_3840_2160_300frames.yuv -o ./4K_2013_3840_2160_300frames.yuv_10_0.enc.h265 --qp 10 --ipperiod 0
(gdb) r
The program being debugged has been started already.
Start it from the beginning? (y or n) y
The program being debugged has been started already.
Sta

[2016-12-05 07:47] ghost opened #675 "[H264][Encode][Vdenc] Encoder will trap to infinite loop when we set some parameter to it"
1. Fail case:
yamitranscode -i /media/encoderbitstreams/stockholm_1280x720_604.yuv -s I420 -W 1280 -H 720 -b 15000 -c AVC --rcmode CBR --ipperiod 1 --lowpower -f 3000 -o ./stockholm_1280x720_604.yuv_15000_1.h264
yamitranscode -i /media/encoderbitstreams/stockholm_1280x720_604.yuv -s I420 -W 1280 -H 720 -b 20000 -c AVC --rcmode CBR --ipperiod 1 --lowpower -f 3000 -o ./stockholm_1280x720_604.yuv_200

[2016-12-05 08:18] ghost commented on #657
@xuguangxin qp=0 also has this issue.

[2016-12-06 03:55] xuguangxin commented on #663
this fixed by #662

[2016-12-06 03:55] #663 closed, assigned to nobody

[2016-12-06 03:55] xuguangxin commented on #660
this fixed by #659

[2016-12-06 03:55] #660 closed, assigned to nobody

[2016-12-06 03:56] #648 closed, assigned to nobody

[2016-12-06 07:52] lizhong1008 commented on #670
@jsorg71,  please help to verify https://github.com/01org/libyami/pull/676.  It should fix the invalid frame issue.  Unlimited GOP is not supported right now because it need much time to verify. If you think it is strongly necessary, please create a separate github issue. Thanks.

[2016-12-07 00:53] nervy1982 opened #677 "a failed HEVC clip"
./tests/yamidecode -i /home/temp/kbl/lucas_p4/mainline/otc_build/test_I_CQP.h265
libva info: VA-API version 0.39.4
libva info: va_getDriverName() returns 0
libva info: Trying to open /opt/lucas_otc/vaapi/lib/dri/i965_drv_video.so
libva info: Found init function __vaDriverInit_0_39
libva info: va_openDriver() returns 0
yamidecode: malloc.c:2372: sysmalloc: Assertion `(old_top == (((mbinptr) (((char

[2016-12-07 05:13] xuguangxin commented on #677
thanks for report bug, we will check it soon.

[2016-12-07 08:08] nervy1982 commented on #677
this clip has the wrong tiles_enabled_flag and num_tile_columns_minus1 field in pps header.  if tiles_enabled_flag is disabled, this issue just disappears

[2016-12-09 07:12] xuguangxin commented on #675
fixed by #69

[2016-12-09 08:24] xuguangxin commented on #518
close this since issues in mpeg2 decoder have been fixed.

[2016-12-09 08:24] #518 closed, assigned to nobody

[2016-12-12 07:55] ghost commented on #320
We already have a bug on Jira to track this issue. So close this one.

[2016-12-12 07:55] #320 closed

[2016-12-12 23:49] xuguangxin commented on #670
@jsorg71 is any update on this. Is it fix your problem?
thanks

[2016-12-13 00:28] jsorg71 commented on #670
@lizhong1008 You head of apache branch like 01org head of apache branch does not work for other reason.  For some reason, all set / set parameters fails cause the struct sizes does match.
If I checkout fa3865a3406f9f21b729d5b6d46536a7e70eb391 I don't have the problem.
So until that's fixes, I can't test.  I have no idea what changed to cause this and I don't have time this week to look.

[2016-12-13 00:50] xuguangxin commented on #670
Hi @jsorg71 , you may need remove previously installed headers, since the API change.

[2016-12-13 00:51] ghost commented on #675
verified OK:
libva: 1.7.3.pre1
intel-driver: 1.7.3.pre1
libyami: 2ff190f
libyami-utils: f051729d0f457f9227d20afcb3c64c2347cd0408

[2016-12-13 00:51] #675 closed, assigned to nobody

[2016-12-13 01:00] jsorg71 commented on #670
@xuguangxin Thanks for tip.  I can't find were it's getting the wrong headers.  I have a script that cleans and builds, if I just change to checkout fa3865a3406f9f21b729d5b6d46536a7e70eb391 it works.  I install with a prefix and I delete the directory first.  Strange.

[2016-12-13 01:04] xuguangxin commented on #670
I have this issue before, usually because you have other copy of headers in other directory; "find /usr -name Yami.h" may help on this.

[2016-12-13 01:39] lizhong1008 commented on #670
@jsorg71 maybe you can try two steps: 1. remove previous libyami and libyami-util installation 2. build latest libyami and libyam-util.  If you still have such issue, please let us know.

[2016-12-13 04:21] wudping opened #679 "[H264][Encoder] Encoder will generate invalid frame when --ipperiod >= 5 --intraperiod >1500"
Setting ipperiod with 5 and intraperiod with 2000, the encoded video will be with wrong color from about the 1024th frame on.
The cmd:
`yamiencode -i 33161F_1920x1080.265_1920x1080.I420 --intraperiod 2000 --ipperiod 5 -N 5000 -o intraperiod2000_ipperiod_5_1920x1080.264`

[2016-12-13 19:27] jsorg71 commented on #670
I think it's because a bool was added to the struct.
It's 1 byte in c++ and 4 in c.

[2016-12-13 22:46] jsorg71 commented on #670
Yes, this seems to fix it for me
[code]

[2016-12-14 00:18] jsorg71 commented on #670
Anyway with that change it works and I see there is a PR that may fix this #680
But when I set intraPeriod to -1 I see this error after a while.
libyami error 2109 (bitWriter.cpp, 74): Write Bits Error: value overflow
libyami error 2108 (bitWriter.cpp, 74): Write Bits Error: value overflow
libyami error 2107 (bitWriter.cpp, 74): Write Bits Error: value overflow
libyami error 2110 (bitWriter.cpp, 7

[2016-12-14 01:22] lizhong1008 commented on #670
@jsorg71 , daf7703a6c061f35c5da4e797fccbc20985b47ca should fix the "value overflow" issue, and I've tested it. Are you using latest libyami apache branch?

[2016-12-14 21:41] jsorg71 commented on #670
@lizhong1008 with all that was going on, yes, I was on wrong branch.  Now that the bool fix has been merged in apache branch, it works.
Thanks.

[2016-12-15 06:05] xuguangxin commented on #670
Hi @jsorg71 , thanks for your feedback, I will close this. If you still have problem please help to create another issue

[2016-12-15 06:05] #670 closed, assigned to lizhong1008

[2016-12-19 02:28] ghost commented on #646
I will try to use 'valgrind' to get more information in Q4 release test.

[2016-12-21 02:42] popkartyeah opened #683 "[libyami-apache] hevc decoder flush do not reset parser issue."
HEVC decoder need to reset parser in flush function, there will be a new stream into HEVC decoder after flush the decoder ,  but the prev stream leave some infomation in HEVC parser.

[2016-12-21 03:00] taste1981 opened #684 "[avc decoder]decoder does not report error when bitstream does not start with sps/pps"
When decoding an h.264 bitstream that does not start with sps/pps, decode() does not report error when decoding nals before the first SPS/PPS.

We would expect decode call return error before the first SPS/PPS.

[2016-12-21 03:08] taste1981 commented on #684
Please consider the likely for hevc.

[2016-12-21 03:09] xuguangxin commented on #684
Yes, we will fix hevc too.

[2016-12-21 05:58] xuguangxin commented on #683
For the container format, the sps may send only one time, flush parser will lose this information. Do you have a problem with some clips? Could you share the clips for me?

[2016-12-21 06:58] xuguangxin opened #685 "[encoder] we send misc params for every frame."
It introduces overhead, https://github.com/01org/libyami/blob/apache/encoder/vaapiencoder_h264.cpp#L2003.
Send it when params changed will save cpu.

[2016-12-21 07:00] xuguangxin opened #686 "yamitranscode will copy input to output if it can can't decide output format."
when yamitranscode cannot determine the output codec and the input is a yuv (I420 or NV12) it will apparently hang when in reality is just copying the input YUV to the output without processing

[2016-12-21 07:35] #683 closed, assigned to nobody

[2016-12-21 07:36] xuguangxin commented on #683
it's fixed?

[2016-12-21 08:46] popkartyeah commented on #683
yes, it had fixed.

[2016-12-21 14:19] Hedda commented on #437
Should this ticket not still be opened if on the roadmap but just not prioritized?

[2016-12-26 06:06] xuguangxin commented on #684
fixed by #690

[2016-12-26 06:06] #684 closed, assigned to nobody

[2016-12-27 04:13] xuguangxin opened #693 "We'd better have thread abstract in libyami."
This will make our v4l2decoder/v4l2encoder's code simpler and readable

[2016-12-28 11:32] wudping commented on #677
[code](https://github.com/01org/libyami/pull/694) for this issue is submitted up, please help to review.

[2016-12-30 05:25] ghost commented on #646
Didn't meet this issue in 1.1.0 RC1 test. close it.

[2016-12-30 05:25] #646 closed, assigned to xuguangxin

[2016-12-30 07:53] ghost opened #696 "[VP9][Encoder] '--qp' and '-f' does not work."
1. yamiencode -i /media/encoderbitstreams/720x480p.yuv -s I420 -W 720 -H 480 --qp 100 -f 40 -c VP9 --rcmode CQP -o 720x480p.yuv_10.vp9
2 .mediainfo 720x480p.yuv_10.vp9
can get fps is 30.
3. set another qp value, and out stream is the same as 720x480p.yuv_10.vp9.

[2017-01-11 08:44] wudping commented on #696
code for this issue is merged.

[2017-01-12 01:03] wudping commented on #637
any clips for debug?

[2017-01-12 01:27] wudping commented on #686
hi @xuguangxin , how about just print a error log of "can't guess the output codec format", instead of copying?
I think, user can use command "cp" to do it; and as I know, transforming NV12 to I420 is enabled by yamivpp.

[2017-01-12 01:27] xuguangxin commented on #637
just find a vp9 cut the first frame

[2017-01-17 05:05] ghost commented on #696
verify OK in 1.1.0 RC2 test.

[2017-01-17 05:05] #696 closed, assigned to wudping

[2017-01-17 06:57] xuguangxin commented on #693
this fixed by #692

[2017-01-17 06:57] #693 closed, assigned to xuguangxin

[2017-01-17 06:58] xuguangxin commented on #677
this fixed by #694. thanks @nervy1982 for report

[2017-01-17 06:58] #677 closed, assigned to wudping

[2017-01-18 11:23] wudping commented on #657
hi @wang-fei , @xuguangxin ,
I have pushed a patch to fix this issue:
https://github.com/01org/libyami-utils/pull/72
please help to review and verify

Thanks

[2017-02-07 06:52] xuguangxin commented on #657
fixed by https://github.com/01org/libyami-utils/pull/72

[2017-02-07 07:32] xuguangxin commented on #591
@wudping , Since you are try to fix similar issue in h265, please help to fix this in h264 too.
thanks

[2017-02-07 07:33] wudping commented on #591
okay, you are welcome @xuguangxin ;

[2017-02-15 06:39] xuguangxin commented on #564
Hi @waiter89 , https://github.com/01org/libyami/pull/704 will not block the decoder, please have a try.
thanks

[2017-02-17 00:18] seanvk opened #707 "libyami should pull in gtest source into a sub-folder"
As we've learned from libva-utils and intel-vaapi-driver, it is far easier to simply include the gtest source in the project itself for purposes of the actual testing.

[2017-02-17 01:35] xuguangxin commented on #707
Thanks for suggestion. I will check libva-utils and see how to do this

[2017-02-19 00:47] seanvk opened #708 "Github front page says project is LGPL-2.1 but link is to the Apache license"
![screenshot_20170218_164553](https://cloud.githubusercontent.com/assets/859297/23098098/e7ad39a4-f5f9-11e6-9c49-47e93abf3ae1.png)

[2017-02-19 00:47] seanvk commented on #708
Should say Apache 2.0 or not say anything at all.

[2017-02-19 01:13] seanvk commented on #708
Works with my patch #710
![screenshot_20170218_171230](https://cloud.githubusercontent.com/assets/859297/23098210/863923dc-f5fd-11e6-895b-42a66931c81b.png)

[2017-02-20 02:27] #708 closed, assigned to seanvk

[2017-02-20 06:20] xuguangxin commented on #707
I will send pull request about decoder API for vc1 and hevc. This change will conflict with the patch. I will do this change after decoder unit test merged.

[2017-02-21 01:08] seanvk opened #711 "For next release, let's switch to a numbers only tag"
I know we've gone back and forth on this but we should be consistent.  I'm also making sure libva's next release is numbers only as well.  That avoids the whole github archive duplicates name for tar ball.

For next release: Use numbers only in the tag

Action Requited:  Updated packaging.  I know a pain.  But if we do it now, we are making sure all projects are consistent.

[2017-02-21 01:57] xuguangxin commented on #711
Agree, the duplicate name generated by github is ugly. We need update Debian, Arch linux and yocto script for this.

[2017-02-21 02:01] xuguangxin commented on #591
@wudping , any update on this?

[2017-02-21 02:08] wudping commented on #591
I have checked the failed decoding clips with crop information, but that problem can not be solved by invoking setFormat(). It needs more time.

[2017-02-21 02:10] xuguangxin commented on #661
We have h264 decoder api test now at https://github.com/01org/libyami/pull/695

[2017-02-21 02:13] xuguangxin commented on #286
The only clip is cropped one?

[2017-02-21 02:13] xuguangxin commented on #286
@wudping

[2017-02-21 02:18] wudping commented on #286
I will follow this problem,  @xuguangxin .

[2017-02-23 02:41] FocusLuo opened #712 "[Yami Encode] yamiencode faill for avc cqp mode with the qp=4"
CMD as below:
when qp=4, yami was blocked and will never returen
when qp>4, it worked well.
yamiencode -c AVC -s I420 -W 1920 -H 1080 --rcmode CQP -i  ./1080p_blue_sky.yuv -o ./1080p_blue_sky_ip_gop30_fps30_qp4.h264 --qp 4 --ipperiod 1 --intraperiod 30
[IMGUTILS @ 0x7ffc13539aa0] Picture size 0x0 is invalid
[IMGUTILS @ 0x7ffc135395b0] Picture size 0x0 is invalid
[rawvideo @ 0x1ca39a0] Could not fi

[2017-02-23 03:16] xuguangxin commented on #712
Hi @FocusLuo , are you sure you use the latest version?This should fix by https://github.com/01org/libyami-utils/pull/72

[2017-02-24 07:32] wudping commented on #286
files MR6_BT_B.264 and MR8_BT_B.264 are extended profile, we don't support them.

files V30320_A_D-Traffic_AVC_MP_frame_cropping_2x2.264 and V30345_B_D-Traffic_AVC_MP_combination.264 contain **crop information**, the patch [714](https://github.com/01org/libyami/pull/714) will support them.

other clips had passed the decoding based on current upstream code.

[2017-02-24 07:33] wudping commented on #286
@xuguangxin , yes, it is the crop one.

[2017-02-24 07:48] wudping commented on #591
will be fixed by pull request [714](https://github.com/01org/libyami/pull/714).

[2017-02-24 08:26] xuguangxin commented on #493
fix by fbbafc8

[2017-02-24 08:26] #493 closed, assigned to xuguangxin

[2017-02-24 08:26] xuguangxin commented on #564
fixed by fbbafc8

[2017-02-24 08:26] #564 closed, assigned to xuguangxin

[2017-02-24 18:59] arafath-mk opened #716 "Build issue"
Hi,

I got the following error while building libyami.
[code]
Below is the command I tried to build libyami,

[code]

The value of `LIBYAMI_PREFIX` is `/opt/yami/libyami`
The OS is `CentOS 7.2.1511 Minimal` (It is a server machine without GUI)

[2017-02-24 19:01] chivakker commented on #716
On Fri, Feb 24, 2017 at 10:59 AM Arafath M <notifications@github.com> wrote:

Check your libva installation as it wasn't installed with X11 support.

[2017-02-24 19:05] arafath-mk commented on #716
Hi,
The following command was used to build and install libva.
[code]
How may I specify to build the `libva` with `X11` support?

[2017-02-24 19:08] chivakker commented on #716
On Fri, Feb 24, 2017 at 11:05 AM Arafath M <notifications@github.com> wrote:

By default it is on. You might missed to install the X11 development
packages and as such libva disabled it because it cannot compile it. Read
the configure output to confirm that X11 was enabled

[2017-02-24 19:14] arafath-mk commented on #716
Thanks.. X11 development package is not installed. I will try build `libva` after installing `X11 dev packages`.
Which is the configure output file to be checked?

[2017-02-24 19:17] chivakker commented on #716
On Fri, Feb 24, 2017 at 11:14 AM Arafath M <notifications@github.com> wrote:

It should be visible on the console like your report. Libva prints a
summary just before calling make

[2017-02-24 19:30] arafath-mk commented on #716
Thanks.. I have disconnected and reconnected to the server machine. So, I lost the last build output from my PuTTY console.
I was following the instructions at https://github.com/01org/libyami/wiki/Build
The above page has incorrect git repository path for `libva` and `intel-driver` as those have been moved from the listed paths. Could you please update it?

[2017-02-24 19:36] arafath-mk commented on #716
git clone https://github.com/01org/libva.git
git clone https://github.com/01org/intel-vaapi-driver.git

[2017-02-24 20:20] arafath-mk commented on #716
Thanks for the help..! The build issue is solved after installing the X11 development package.
`yum install xorg-x11-server-devel`

[2017-02-27 02:55] xuguangxin commented on #712
Hi @FocusLuo , any update?

[2017-02-27 06:11] #286 closed

[2017-02-27 06:13] xuguangxin commented on #716
hi @arafath-mk , close this since it fixed, Please reopen it if you still have the issue. thanks

[2017-02-27 06:13] #716 closed, assigned to nobody

[2017-02-27 06:16] xuguangxin commented on #591
fixed by #714 and #703

[2017-02-27 06:16] #591 closed, assigned to wudping

[2017-03-01 00:49] xuguangxin commented on #661
https://github.com/01org/libyami/pull/715 will add vc1, vp8, h265 unit tests

[2017-03-10 05:21] FocusLuo commented on #712
verified on the latest yami, the issue gone, so close it

[2017-03-10 05:21] #712 closed, assigned to FocusLuo, feiwan1

[2017-03-23 07:28] yakuizhao opened #724 "Continue the encoding even when the bit_stream length of coded buffer is zero"
Soemtimes the driver fails and the bit_stream length of coded_buffer is zero. Currently it will continue the subsequent encoding.
In fact it will be better to return error and exit the encoding.

[2017-03-23 17:50] sreerenjb commented on #724
Once we have the FEI implementation in place for encoding, coded_buffer of zero size is perfectly valid if the middleware only requested for VME operation since the VME output only produce MVs and MB code.

[2017-03-24 00:54] yakuizhao commented on #724
I don't think that the zero length of coded buffer is reasonable even for FEI.  If only VME is used under FEI, it still uses one buffer to indicate the buffer size of MV/MB code. In such case I think that the coded buffer still needs to return one valid buffer size.

[2017-03-24 00:56] sreerenjb commented on #724
VME only returns motion vectors and macroblock code in separate buffers(we will define new types), not as CodedBuffer.

[2017-03-24 01:25] yakuizhao commented on #724
If so, I think that it is an exception for VME in FEI scenario.  In such case it can be distinguished by using the encoding entrypoint.
If it is for FEI entrypoint, it will continue the subsequential operation even when the coded buffer length is zero.  Otherwise it should return error and end the encoding operation.
Does this make sense to you?

[2017-03-24 01:25] sreerenjb commented on #724
But of course, FEI mode can treat zero sized coded buffer as normal. Which means, all usual encode scenarios should error out if  coded_buffer end up as zero size after vaEndPicture except FEI VME only mode.

[2017-03-24 01:26] sreerenjb commented on #724
Yakuizhao, yes it make sense :)

[2017-03-24 03:18] xuguangxin commented on #724
Since coded_buffer  size equals 0 is not a validate result, could we return an error in driver? Just like underflow or overflow. Else middleware need check two things for error.
1. va return value and
2. coded_buffer size.

[2017-03-24 03:19] xuguangxin commented on #724
and it may have diffrent logical when we have FEI... So driver handle this maybe better.

[2017-03-30 10:13] wudping opened #728 "common/unittest with failed case"
libyami]$./common/unittest
...................
[  FAILED  ] UtilsTest.guessResolutionOverflow (0 ms)
[ RUN      ] UtilsTest.getPlaneResolution
libyami error 10944 (utils.cpp, 193): do not support this format, fourcc
libyami error 10944 (utils.cpp, 193): do not support this format, fourcc Y800
libyami error 10944 (utils.cpp, 193): do not support this format, fourcc 411P
libyami error 10944 (utils.c