[2017-03-30 10:27] wudping opened #729 "VP9 decoding has conformance pass rate gap between --capi and --non-capi"

[2017-03-30 10:41] #729 closed, assigned to nobody

[2017-04-11 01:56] yakuizhao opened #733 "The field definition in VaapiEncoderHEVC is not friendly"
It defines the m_ctbsize/m_cusize while they are initialized to the different meaning.

                        m_cuSize = 32;

It is confusing.

[2017-04-12 08:10] feiwan1 commented on #657
Verified OK in libyami 1.2.0 RC1 test with libva/intel-vaapi-driver 1.8.0 pre3.

[2017-04-12 08:34] feiwan1 opened #734 "V4l2decode render core dumped when set '-m' to 4."
1. test cmd:
v4l2decode -i /media/yami_render/1080p_blue_sky.yuv.enc.264 -m 4 -w 2

2. error log:
test@yami-kbl:/root/media_libyami/misc$ v4l2decode -i /media/yami_render/1080p_blue_sky.yuv.enc.264 -m 4 -w 2
libva info: VA-API version 0.40.0
libva info: va_getDriverName() returns 0
libva info: Trying to open /opt/yami//vaapi/lib/dri/i965_drv_video.so
libva info: Found init function __vaDriverInit_

[2017-04-12 08:53] feiwan1 opened #735 "V4l2decode jpeg render fail when set '-m' to 3."
1. test cmd:
v4l2decode -i /media/yami_render/1080p_blue_sky.yuv.jpg -m 3 -w 2

2. fail info:
After run the test cmd, screen keep staying on the first frame. No error message and cmd will never exit automatically.

3. test env:
libva: 1.8.0.pre3
intel-driver: 1.8.0.pre3
libyami: tag 1.2.0-RC1
libyami-utils: tag 1.2.0-RC1

[2017-04-13 00:45] xuguangxin commented on #733
@lizhong1008 , please help to comment on this, @wudping can help you do real change if you have other priorities.
thanks

[2017-04-19 04:50] xuguangxin commented on #346
@feiwan1 , please help update this.

[2017-04-21 08:35] feiwan1 commented on #734
Verify OK on 1.2.0 RC2 test.

[2017-04-21 08:35] #734 closed, assigned to feiwan1

[2017-04-24 06:40] xuguangxin commented on #657
close this since it fixed

[2017-04-24 06:40] #657 closed, assigned to feiwan1

[2017-04-28 02:42] xuguangxin commented on #711
this fixed in 1.2.0 release, thanks Sean for suggestion

[2017-04-28 02:42] #711 closed, assigned to xuguangxin

[2017-04-28 02:43] xuguangxin commented on #661
https://github.com/01org/libyami/pull/723 add vp9 decoder unit test

[2017-04-28 02:43] xuguangxin commented on #661
https://github.com/01org/libyami/pull/727 add jpeg unit test

[2017-04-28 02:44] xuguangxin commented on #661
now we added unit test for all supported features.

[2017-04-28 02:44] #661 closed, assigned to xuguangxin

[2017-04-28 02:51] xuguangxin commented on #640
this is done by https://github.com/01org/libyami/commit/e46f03b63e5850016391845e5a14fb9f2f2b8aea
and https://github.com/01org/libyami-utils/commit/0cc8440778b92e3b5c20cb6a1008f9f978ff47cd

[2017-04-28 02:51] #640 closed, assigned to xuguangxin

[2017-04-28 03:05] feiwan1 commented on #346
@xuguangxin , based on libyami 1.2.0 RC2 test, there are still two case fail:
vp90-2-10-show-existing-frame.webm
vp90-2-16-intra-only.webm

[2017-05-15 20:45] angelo-p opened #738 "[H264][Encoder] Encoder will generate invalid frames when encoding to the VAProfileH264ConstrainedBaseline"
I edited the yamiencode source code to target the the VAProfileH264ConstrainedBaseline:
Index: tests/encode.cpp
===================================================================
--- tests/encode.cpp	(revision 830693)
+++ tests/encode.cpp	(working copy)
@@ -77,6 +77,7 @@
     VideoParamsCommon encVideoParams;
     encVideoParams.size = sizeof(VideoParamsCommon);
     encoder->getParameters(VideoP

[2017-05-16 06:07] xuguangxin commented on #738
Hi @wudping ,
please help this

[2017-05-16 06:43] wudping commented on #738
hi @angelo-p ,
I set the profile as your code, It can work well on my end.
index 58760bf..242d55a 100644
--- a/tests/encode.cpp
+++ b/tests/encode.cpp
@@ -80,6 +80,7 @@ int main(int argc, char** argv)
     VideoParamsCommon encVideoParams;
     encVideoParams.size = sizeof(VideoParamsCommon);
     encoder->getParameters(VideoParamsTypeCommon, &encVideoParams);
+    encVideoParams.profile = VAProfi

[2017-05-16 06:45] wudping commented on #738
Hi @xuguangxin ,
The pull request [86](https://github.com/01org/libyami-utils/pull/86) implements the profile setting, please help to merge it, thanks.

[2017-05-17 02:21] angelo-p commented on #738
Hi Guys,
Thanks for looking into this.
That's odd,   I'll try with others input files, could it be video size related?

[2017-05-19 07:33] xuguangxin commented on #738
Maybe, @wudping could you share you resolution here. thanks

[2017-05-22 07:57] wudping commented on #738
Hi @angelo-p , @xuguangxin,
**Commands:**
[dpwu@supperkbl:265_debug]$**yamiencode -i h264_enc_yuv/1024x768_500F_001.I420 -N 50 -o dd_1024x768.264**
libva info: VA-API version 0.40.0
libva info: va_getDriverName() returns 0
libva info: Trying to open /home/dpwu/source_code/src_yami_apc/bin_yami_verify/vaapi/lib/dri/i965_drv_video.so
libva info: Found init function __vaDriverInit_0_40
libva info: va

[2017-05-22 15:45] angelo-p commented on #738
Hi Dongping,

- my OS version is Ubuntu 16.04.2 LTS 64bits :

lsb_release -a
No LSB modules are available.
Distributor ID:    Ubuntu
Description:    Ubuntu 16.04.2 LTS
Release:    16.04
Codename:    xenial

- my test file has a video resolution of 368x208     stride=384 .

yamiencode -i /tmp/stromae_368x208_100frames.nv12   -s NV12 -W368 -H208 -o /tmp/stromae.h264

- I generated the test file usin

[2017-05-24 02:43] wudping commented on #738
hi @angelo-p ,
I have reproduced the issue on Libyami tag libyami-1.0.1-RC1, libyami-utils tag 1.0.1-RC1.

I use tag 1.2.0-RC2 to implement the profile setting, it's okay. Maybe you can have a try on it.
**Libyami:**
**tag:** 1.2.0-RC2
**commit ID:** c884fc3facbf1a0adf2082a1cf95cb146300a5ca

**libyami-utils:**
**tag:** 1.2.0-RC2
**commit ID:** b480c0594a7e761a8ccfe6b19b3f9bd0c3d871a1

**cmd:**
yam

[2017-05-25 19:51] dvrogozh opened #739 "[AVC][SKL] bit2bit mismatches on B-frames encoding in CQP mode"
I observe bit2bit mismatches on AVC encoding on B-frames in the CQP mode on yamitranscode. This is really annoying and gates further experiments with VAAPI and libyami.

Command line example:
[code]

I used SKL NUC to catch this. Code of libva, libyami is the latest for 5/25/2017:
- libyami-utils: d1c686b configure.ac: bump reuqested yami API to 0.5.1
- libyami: 70e9b9f jpegunit: modify vaapiDecod

[2017-05-26 18:05] xuguangxin commented on #739
Hi @dvrogozh , thanks for report this. We will look at it.

Hi @wudping , Please help to reproduce it and use Valgrind do some investigate.
thanks

[2017-05-26 18:13] uartie opened #740 "Add Runtime Check for Supported VA Profiles"
@xuguangxin  has requested the following be added to libyami:
"It's better have runtime check in VA's profile. If VA do not supports VAProfileVP9Version0, we need return NULL for decoder creation.Fail in create time can help customer do better decision. such as fail back to software decoder."

[2017-05-26 18:18] uartie commented on #740
Unfortunately, I don't recall what the use-case/context was for this and whether this is still relevant.  Feel free to close if you see no issue here.

[2017-05-26 21:33] angelo-p commented on #738
Hi  wudping,
I am happy to confirm that using  tag 1.2.0-RC2,  the encoding to VAProfileH264ConstrainedBaseline is correct.

Thanks a lot to all of you for your support,
Angelo

[2017-05-27 00:49] wudping commented on #738
You are welcome, @angelo-p .

[2017-05-27 01:28] wudping commented on #739
Hi @dvrogozh ,
Sorry, I am not sure if I get the mean of bit2bit mismatches.
Do you mean that the direct_8x8_inference_flag(or some other flags) is wrong in B frame?

[2017-05-27 01:41] dvrogozh commented on #739
Bit2bit means that checksum for the outpu file is different each time you run the same command line, I used sha1sum. I did not check what is the difference each time, that can be single bit or entire difference for b-frames. I did check though that issue did not showup if I encode with ip frames only or ipb with avcenc.

[2017-05-27 01:50] wudping commented on #739
Thanks @dvrogozh .
Okay, I have done a test on KBL, use your cmd:
**[dpwu@supperkbl:vp8_svc-t]$yamitranscode -i 500F_1920x1080.264 -o out_3.264 -W 1920 -H 1080 -c AVC -ipperiod 2 -intraperiod 30 --rcmode CQP -qp 25 -N 100**

I think that the following results mean there are no the problem on KBL, right?
[dpwu@supperkbl:vp8_svc-t]$md5sum out_1.264
**1e92a252fa7c6b18dc1b4bcd084fe4b7  out_1.264**
[dp

[2017-05-31 23:43] xuguangxin opened #741 "Need fix all gtest failure things."
Currently, we have 7 issues on SKL, we need to fix them.
CompatibleX11
CreateX11
Format_Change/0
Format_Change/1
ReadAsUnits
ReadAsWhole
guessResolutionOverflow

[2017-06-01 01:19] uartie commented on #741
For the X11 based tests, we should allow those to be disabled/enabled at runtime since not all test environments will have an X server running (e.g. servers).  We could do that by prefixing the test names with DISABLED_ (i.e. gtest framework skips [DISABLED_](https://github.com/google/googletest/blob/master/googletest/docs/AdvancedGuide.md#temporarily-disabling-tests) prefixed tests by default, bu

[2017-06-01 10:50] wudping commented on #739
Hi @dvrogozh,
I have double-checked the issue on SKL, I find out that libva's commit ID should be 5899f5. It turns out that the bit2bit mismatches issue depend on the Frame-Number. Because it's without problem if encode frame number is 30; but when frame number is 500, the problem is reproduced.

**frame number is 30:**
cmd:
yamiencode -i ../medias_for_verify/h264_enc_yuv/1920x1080_30F_002.I420  -

[2017-06-08 04:16] #728 closed, assigned to wudping

[2017-06-08 05:18] xuguangxin commented on #741
Thanks for suggestion, we will look it.

after #730 merge.
We have 4 issue left

CompatibleX11
CreateX11
Format_Change/0
Format_Change/1

[2017-06-08 06:29] uartie commented on #741
On SKL and BSW, we also have these failures in decode unittest:

Flush/3
Format_Change/3

...which aren't supported on these platforms and should be skipped at runtime.  This means we need a runtime support check feature.  Currently, those tests segfault on these platforms.

[2017-06-09 20:53] stripes416 opened #743 "SIGSEGV yami decode MD5 ouput mode (-m -2)"
Since the following commit in libyami decode, MD5 output mode (-m -2) segfaults (see stack trace below).
[code]
[code]

[2017-06-09 23:44] uartie commented on #743
I am only able to reproduce with HEVC 10 bit and VP9 10 bit streams.  I could not reproduce with other codecs.

[2017-06-10 00:19] uartie commented on #743
m_file is an invalid pointer.... looks like someone forgot to initialize it to NULL.

[2017-06-10 00:25] uartie commented on #743
C++'s std::ofstream would be better for file operations instead of raw C-style FILE* constructs.

[2017-06-10 00:35] uartie opened #744 "Convert all usage of FILE* to C++ std::ofstream or std::ifstream"
FILE* is not a good idea in C++ and harder to work with.  The std::ofstream is much easier and safer to use.  Convert all usage of FILE* into std::ofstream or std::ifstream as appropriate.

[2017-06-10 00:35] uartie commented on #744
@stripes416 this might be a good task for you to get your hands dirty ;)

[2017-06-12 03:35] wudping commented on #743
Thanks @stripes416 for rising up this issue that I make. I am sorry for that.
Thanks @uartie to fix this.

[2017-06-12 04:44] xuguangxin commented on #743
Hi @wudping , do we have a regression test for -2?

[2017-06-12 05:46] wudping commented on #743
Yes, @xuguangxin, we have.
I have double-checked it on my end.
But @uartie help to fix this bug with the pull request [#98](https://github.com/01org/libyami-utils/pull/98).

[2017-06-12 15:38] uartie commented on #743
@xuguangxin and @wudping ... The commit mentioned in the description above did not actually introduce this bug... this bug has always been there.  It was only coincidence that this patch changed memory layout enough in a way that exposed the problem.  Any commit would have inevitably exposed this at some point.  It's a surprise that the bug never surfaced until now.

[2017-06-12 15:40] uartie commented on #743
Furthermore, uninitialized class member variables get arbitrary values... we've only been lucky until now that the arbitrary value was 0 (NULL) previously.

[2017-06-13 07:10] xuguangxin commented on #743
it's little wired, static scan tool should report issues if we use a uninitialised memory. But it does not report it...

[2017-06-13 07:41] wudping commented on #739
avcenc is also with this problem.

[2017-06-13 08:12] #743 closed, assigned to nobody

[2017-06-19 03:57] xuguangxin commented on #739
Hi @dvrogozh ,
we can't reproduce the issue.
I can't find libva revision 899f5a . So,  I used latest one. I tried more than ten times, the md5 always same.

I use this commit for libva

this commit for vaapi driver.

could you help to try this again using latest libva and driver? thanks

[2017-06-21 01:27] pengche1 opened #747 "Add ROI for HEVC/AVC encoder"

[2017-06-21 23:00] Brainiarc7 opened #748 "Bug: Cannot build on Ubuntu 16.04LTS: header file va/va_enc.h missing."
Hello,

The build fails with:

[code]

The package is referring to a header file `va/va_enc.h` which does not exist on the system:

[code]

Also, with the libva package built from source:

[code]

Seems like a bug. Please fix.

[2017-06-21 23:14] chivakker commented on #748
What are you compiling? It looks like your setup contains files that don't belong to this project.  Can you confirm you're compiling this project?

[2017-06-22 06:01] xuguangxin commented on #748
Hi @Brainiarc7 ,
do you really need to get mv from encoder output? If not you can remove "--enable-get-mv"from you autogen command line.
thanks

[2017-06-23 03:16] LindaYu17 opened #750 "request for libyami SVC-t feature enhancement"
This is libyami SVC-t feature enhancement from YunOS. The use case is webrtc, it may need to drop some frames due to bad network condition. They have basically accepted the SVC-t feature we provided in libyami for this requirement, but some enhancement is requested.

As we know, Libyami has already support SVC-t feature, and supported 4 layer maximally, but the every layer’s frame rate is fixed wh

[2017-06-23 08:25] xuguangxin commented on #740
this is for gest in different platform such as SKL, BXT. It still exist.

[2017-06-23 08:25] xuguangxin commented on #740
thanks for report

[2017-06-23 12:28] Brainiarc7 commented on #748
Hey,

I think I know what the problem is. The --enable-get-mv bits.

Retesting,

[2017-06-26 04:05] xuguangxin commented on #748
@Brainiarc7 , glad to know this, please ping us if you have any other issue.

[2017-06-26 04:13] #593 closed, assigned to nobody

[2017-06-26 04:15] xuguangxin commented on #750
It's close to Q2 release, so we will plan this in Q3.
thanks

[2017-06-26 04:15] xuguangxin commented on #748
close this since it fixed

[2017-06-26 04:15] #748 closed, assigned to nobody

[2017-06-26 04:17] xuguangxin commented on #741
@uartie , it still needs more work to add run-time check in yami. Let use add some check in gtest first. I will send a pull request this week.

[2017-06-26 04:18] xuguangxin commented on #739
hi @dvrogozh ,
Any update on this?

[2017-06-26 04:22] xuguangxin commented on #738
close this since it fixed.

Hi @angelo-p ,
please ping use if you have any problem
thanks

[2017-06-26 04:22] #738 closed, assigned to wudping

[2017-06-27 23:14] jsorg71 opened #751 "Encoder: memory always growing"
I have a test program here that causes memory to continuously grow.  Maybe one of you can take a look to see if I'm doing something wrong.

[code]

[2017-06-28 02:26] xuguangxin commented on #751
@Zhziyao, please uses valgrind to check this issue. thanks

[2017-06-28 05:28] Zhziyao commented on #707
Hi, @uartie @seanvk
According to your suggestion, I have moved the unittest files(gtest source) from encoder directory to test directory. Please help review pull request #753. If it is OK, I will move all the other subdirs' unittest files of libyami to test directory.

[2017-06-28 18:43] jsorg71 commented on #751
I ran valgrind already.  I think this is a va surface leak or something because vaTerminate cleans it up when the app exits.  I can see the leaks when I comment out vaTerminate but I can't figure out what's wrong.

[2017-06-29 02:07] wudping commented on #735
hi,
This issue has been fixed by [725](https://github.com/01org/libyami/pull/725)

[2017-06-29 07:55] wudping commented on #739
hi @xuguangxin ,
This issue can be reproduced on SKL.

[2017-07-03 02:36] xuguangxin commented on #637
fixed by #755

[2017-07-03 02:36] #637 closed, assigned to nobody

[2017-07-03 02:56] xuguangxin commented on #741
with #754, all issues fixed

[2017-07-03 02:56] #741 closed, assigned to wudping

[2017-07-03 08:23] xuguangxin commented on #751
hi @jsorg71 ,
how to see the leak. I comment out the vaTerminiate in your code, run it with
`valgrind --leak-check=full ./encode --loop 50`
Seems it does not leak anything. It always 6,370 bytes for any loop number.

thanks

[code]

[2017-07-03 22:44] uartie commented on #707
#753 does nothing to address this issue.  This issue is about adding the third-party google test source code (https://github.com/google/googletest) into this project.  See https://github.com/01org/intel-vaapi-driver/commit/1746adbb9adabd9fbee417ae3db67da599cc84e9 for an example.

[2017-07-05 17:31] jsorg71 commented on #751
Can you run with --loop 10000 and then run top and watch VIRT and RES?  What do they grow to?
Then compare when adding --noencode.

[2017-07-05 18:15] jsorg71 commented on #751
It looks like Intel changed VAAPI
https://github.com/01org/libva/commit/3eb038aa13bdd785808286c0a4995bd7a1ef07e9
Can this change affect yami?

[2017-07-06 03:49] xuguangxin commented on #751
@jsorg71 , It does not impact our case. It's just comment. In practice, for intel driver, we never delete the buffer in vaRenderPicture.

[2017-07-07 05:16] YuJiankang opened #757 "Check the encoder output conformance and try to fix the potential issues"

[2017-07-07 05:19] YuJiankang opened #758 "H264 decoder stores too many pictures in the DPB before output"

[2017-07-07 05:29] YuJiankang opened #759 "Implement the Multi Reference Frame for H264 encoder"

[2017-07-07 05:30] YuJiankang opened #760 "Implement the Multi Reference Frame for H265 encoder"

[2017-07-07 05:31] YuJiankang opened #761 "Implement the Multi Slice for H264 encoder"

[2017-07-07 05:31] YuJiankang opened #762 "Implement the Multi Slice for H265 encoder"

[2017-07-07 05:33] YuJiankang opened #763 "Implement the MBBRC for H264 encoder"

[2017-07-07 05:33] YuJiankang opened #764 "Implement the MBBRC for H265 encoder"

[2017-07-07 05:34] YuJiankang opened #765 "Implement the ROI feature for H264 encoder"

[2017-07-07 05:34] YuJiankang opened #766 "Implement the Interlace Encoding for H264 encoder"

[2017-07-07 05:39] YuJiankang opened #767 "Support various CTU(16/32/64) for H265 encoder"

[2017-07-07 05:40] YuJiankang opened #768 "Implement Temporal layer for VP9 encoder"

[2017-07-07 05:41] YuJiankang opened #769 "Implement various Quality levels for JPEG/MJPEG encoder"

[2017-07-07 05:42] YuJiankang opened #770 "Implement the skin tone enhancement for VPP"

[2017-07-07 05:43] YuJiankang opened #771 "Implement the FRC feature for VPP"

[2017-07-07 05:44] YuJiankang opened #772 "Implement the composition feature for VPP"

[2017-07-13 01:41] feiwan1 commented on #735
verified in libyami 2017Q2 RC1 release test.

[2017-07-13 01:41] #735 closed, assigned to feiwan1

[2017-07-13 10:07] xuguangxin commented on #751
Hi @jsorg71 ,
I can reproduce your result seems only virtual memory grow, the physical memory is kind of stable. This is why we can't find issue using valgrind.

Hi @xhaihao ,
Seems we leak tons of virtual memory, any idea?

[2017-07-14 06:24] xhaihao commented on #751
@xuguangxin I found 15 VA surfaces are created however only 14 VA surfaces are destroyed in a single loop.

[2017-07-14 07:48] xhaihao commented on #751
@xuguangxin @jsorg71 could you have a try with https://github.com/xhaihao/intel-vaapi-driver/commit/a6f5a1c0a0aaf4e3dae9b308d86487b18e43d92c ?

[2017-07-14 18:19] jsorg71 commented on #751
It looks like that was it!  Thanks @xhaihao @xuguangxin

[2017-07-14 18:31] jsorg71 commented on #751
I may have spoke too soon.  I had a work around in place so it was not growing.  I'll do some more testing and reply.

[2017-07-14 23:06] jsorg71 commented on #751
I'm convinced it's fixed.  I changed my builder to take intel-vaapi-driver-1.8.2 and patch.  I look forward to the next release.

[2017-07-14 23:16] xuguangxin commented on #751
Hi @jsorg71
This issue only happen when you do things like this pattern: "create an encoder ->encode a frame->free the encode->create an encoder->encode a frame....". It's not so efficient to always create encoder.
If you just want every frame to be an I frame, you can set https://github.com/01org/libyami/blob/apache/interface/VideoEncoderDefs.h#L216 to 1.

[2017-07-14 23:36] jsorg71 commented on #751
@xuguangxin
It happens as well when you
"create an encoder -> encode 2 frames -> free encoder" or
"create an encoder -> encode 100 frames -> free encoder" or
"create an encoder -> encode 1000000 frames -> free encoder"
It's the act of free encoder that leaks.  I created the test program to exaggerate the scenario.  It's not a real world thing you should do and I know there is better ways to get an

[2017-07-14 23:44] xuguangxin commented on #751
@jsorg71 ,
You are right, thanks for the clarification.

[2017-07-17 06:16] xuguangxin commented on #751
close this since it fixed, thanks @jsorg71 for report this.

[2017-07-17 06:16] #751 closed, assigned to nobody

[2017-07-20 02:23] FocusLuo opened #773 "Intermittent failed case for VPP of CSC+Sharpness by using yamitranscode on Fedora and ubuntu::yakkety"
To use  the latest commit on master of yami and libva/intel-driver
Test CMD:
yamivpp .//1920x1080.nv12 -s 59 ./1920x1080.yv12
yamivpp .//1920x1080.yv12 -s 59 ./1280x720.i420

[2017-07-20 03:49] FocusLuo commented on #773
[vpp_clips.zip](https://github.com/01org/libyami/files/1161085/vpp_clips.zip)

[2017-07-20 04:28] Zhziyao commented on #707
Hi, @uartie
Thank you for your kindness advice. I have added google test source code to this project.
Please help review pull request #774 .  Thanks.

[2017-07-26 23:13] stripes416 opened #776 "Libyami fails to compile on GCC 7.1.1"
[code]

[2017-07-26 23:59] uartie commented on #776
This is a side-effect from the GTEST macros not enclosing the entire macro definition inside braces.  We should only have to add braces in our **if** statement to fix this (e.g. **if(...) { ... }**)

[2017-07-27 02:12] xuguangxin commented on #776
Hi @stripes416 ,
could you help prepare a patch for this?

[2017-07-27 23:25] uartie commented on #776
https://github.com/google/googletest/issues/1119

[2017-07-28 00:28] xuguangxin commented on #773
We have setup the fedora 25 env. We are trying to reproduce the issue

[2017-07-28 00:35] #776 closed, assigned to stripes416

[2017-08-01 05:12] Zhziyao commented on #773
I have setup fedora 25 env on different APL machines. Building yami uses configure options found in buildlog on website http://media-ci.ostc.intel.com:8810/dashboard. And I run the TEST CMD above for thousands of times. However the issue did not come out. I will try to reproduce the issue with Docker next.

[2017-08-01 05:45] uartie commented on #773
What result are you expecting?  I don't think this reported issue description tells the whole story.

The actual issue is that the output result from the above test command is not always the same.  That is, the md5sum of the output result intermittently changes from run-to-run.  The output result is compared via the md5sum output for this test, which changes from run-to-run (i.e. `md5sum ./1920x10

[2017-08-01 05:55] uartie commented on #773
Also, when the md5sum result is not expected I've seen associated GPU Hang on 4.10 and 4.11 kernels:

[code]

[2017-08-01 06:00] uartie commented on #773
I'm able to reproduce at least once every ~200-300 runs sequentially

[2017-08-01 06:01] uartie commented on #773
md5sum of ./1920x1080.yv12 output should be f15e2b55a786fcf691f8e9d79e91653d

[2017-08-01 06:02] Zhziyao commented on #773
@uartie Thank you for your detailed explanation. And I understand the issue much more clear.

[2017-08-01 06:12] xuguangxin commented on #773
@uartie, ziyao used md5 sum to check the command result. It can't reproduce in APL machine, Is it possible it related to CPU step? could you share your CPU step to ziyao in the mail. So he can compare the cpu info.

[2017-08-01 06:15] xuguangxin commented on #773
use "lspci -nn |grep VGA"

[2017-08-01 06:17] uartie commented on #773
[code]

[2017-08-01 08:18] xuguangxin commented on #773
ok, just checked, we do not have rev 0b..
@uartie , do you have another stepping. We also checked kernel version, we use fedora 25 it is 4.8.6-300.fc25.x86_64, it's not like your kernel version. What os version are you used?

[2017-08-01 15:03] uartie commented on #773
@xuguangxin, no I don't have another stepping locally.  We use Fedora 25 host with updated kernel (via dnf package manager) and Ubuntu Xenial (16.04) host with updated kernel (via apt package manager).

Please try to update your Fedora 25 packages (including kernel) via `dnf update` and see if that can reproduce afterwards.

[2017-08-04 02:28] Zhziyao commented on #773
Sorry for not explaining  my former work clearly.
1. I updated the kernel to the latest version and ran the test on APL machine.
2. Besides, I installed the Docker and pulled fedora 25  image from Intel repo. I set up the env with RETOOL.Then I ran the test in the container of fedora 25.
However,  the issue did not come out under both conditions. I also saved the message of CMD
` dmesg | grep -i g

[2017-08-04 02:38] xuguangxin commented on #773
Seems it's a kind  of certain a stepping issue
Sadly, U.Artie's stepping higher than Ziyao's
Let us find a stepping rev0b

[2017-08-04 05:23] xuguangxin commented on #707
close this since #774 merged, thanks U.Artie and Sean

[2017-08-04 05:23] #707 closed, assigned to nobody

[2017-08-07 08:54] LindaYu17 opened #780 "support format change in v4l2"
currently yami v4l2 layer does not support format change correctly, could you help to support this?

[2017-08-08 06:35] pengche1 commented on #767
only CTU 32 is supported by GEN9 vaapi driver

[2017-08-10 04:02] Zhziyao commented on #773
Surely, it is a kind of a stepping issue.
I can reproduce the Issue on the machine supplied by uartie.

[2017-08-10 22:20] uartie commented on #773
Ok, please continue root-causing on the APL I've supplied you.

[2017-08-14 15:43] uartie commented on #773
@Zhziyao, @xuguangxin this issue shows up on BSW, too.  It's strange APL and BSW would both be caused by stepping issue.

00:02.0 VGA compatible controller [0300]: Intel Corporation Device [8086:22b1] (rev 21)

[2017-08-15 03:04] xuguangxin commented on #773
@Zhziyao , could you find a bsw to reproduce this issue?

[2017-08-17 07:15] xuguangxin commented on #773
@Zhziyao , any update on this?

[2017-08-17 07:54] Zhziyao commented on #773
I can't reproduce this issue on bsw either. And I just finish setting  the  test env on another machine. I wonder if there is any difference between uartie's test env and mine, which may probably leads to my failure of reproducing the issue. I will provide my host machine address to uartie on slack for checking.

[2017-09-01 08:15] feiwan1 opened #787 "[SVC-T][encode] segment fault when set layer number as 1."
root@yami-kbl02:~# yamitranscode -i /media/encoderbitstreams/1080p_blue_sky.yuv -W 1920 -H 1080 -t 1 --layerIDs 00000000 -o test.h264
libva info: VA-API version 0.39.4
libva info: va_getDriverName() returns 0
libva info: Trying to open /root/dpwu/bin_yami_verify/vaapi/lib/dri/i965_drv_video.so
libva info: Found init function __vaDriverInit_0_39
libva info: va_openDriver() returns 0
Segmentation fa

[2017-09-04 02:16] wudping commented on #787
hi @feiwan1 ,
The patch to fix this bug is submitted in the last branch. Please help to double test, thanks.

[2017-09-04 05:05] feiwan1 commented on #787
Verified in 2nd round test, no this issue.

[2017-09-04 05:05] #787 closed, assigned to nobody

[2017-09-18 07:45] xuguangxin commented on #780
fixed by https://github.com/01org/libyami/pull/789 and https://github.com/01org/libyami-utils/pull/101

[2017-09-25 03:14] wangzj0601 opened #792 "[R2R] one case md5 does not match with the reference which run manually on KBL"
Test enc
Platform: KBL
Kernel version: 4.12.0-rc2
Libva: 1.8.3pre1 master branch commit   f1a3296d160dbedd695f2712c97fb0dc508785f2
intel_driver:  1.8.3pre1   master branch commit 127183b7f528ead9d0f2054277e6da162c6522f2
libyami: apache branch   f61cffd77eec64bbcdbb805789a0f70b10f7482f
libyami-utils: master branch   d6c38d3925eae30e225b7048464a61c10a95503b

Reproduce steps
1. yamitranscode -i /medi

[2017-09-25 07:55] FocusLuo opened #793 "[media/libyami][compile] undefined reference to symbol 'vaGetDisplayDRM' when build the libyami"
Compile line steps:
#./autogen.sh --prefix=/opt/X11R7/ --enable-tests --enable-tests-gles --enable-avformat --enable-dmabuf --enable-vp8dec --enable-vp9dec --enable-jpegdec --enable-h264dec --enable-h265dec --enable-h264enc --enable-jpegenc --enable-vp8enc --enable-vp9enc --enable-h265enc --enable-mpeg2dec --enable-vc1dec
#make -j8
#make install

/usr/bin/ld: /opt/X11R7/lib/libyami.so: undefined r

[2017-09-25 15:12] uartie commented on #793
Works for me.  Can you share your configure flags for libva and libyami and commitids

[2017-09-25 15:16] uartie commented on #793
Your output shows this is libyami-utils issue, not libyami... please file issue with libyami-utils project.

[2017-09-25 15:16] #793 closed, assigned to wudping

[2017-09-25 16:13] uartie opened #794 "Unable to enable both wayland and x11 with v4l2 enabled"
When configuring with `--enable-wayland --enable-x11 --enable-v4l2`, the X11 bits in `v4l2_wrapper.h` and `v4l2_wrapper.c` do not get defined.

It should be possible for both X11 and Wayland bits to coexist in the final compilation unit(s).  If that is not true for some technical reason, then configure should produce an error.

Currently, this causes libyami-utils V4L2Device.cpp to fail compilatio

[2017-09-25 16:46] uartie opened #795 "undefined reference to V4l2Decoder::outputPulse"
If `--enable-X11 --enable-v4l2 --disable-wayland --disable-egl`, then `V4l2Decoder::outputPulse` is declared but undefined.

[2017-09-25 16:55] uartie opened #796 "undefined reference to YamiV4L2_UseEglImage"
If `--enable-x11 --enable-v4l2 --disable-wayland --disable-egl`, then `YamiV4L2_UseEglImage` is declared but undefined.

[2017-09-28 05:42] feiwan1 opened #800 "[Encode][VP8/VP9] encoded streams couldn't be decoded by gst-vaapi due to invalid time stamp."
1. yamiencode -i $j -W $WIDTH -H $HEIGHT -s I420 --qp $qp -c VP8 --rcmode CQP --ipperiod $ipp -o out.vp8
2. gst-launch-1.0 filesrc location=out.vp8 ! ivfparse ! vaapivp8dec ! vaapisink
By using gst decode cmdline, only first frame display on screen.

Link to gst bugzllia: https://bugzilla.gnome.org/show_bug.cgi?id=788262

[2017-10-08 03:10] xuguangxin commented on #795
Hi @uartie ,

The --enable-X11 in the command line need change to --enable-x11. I tried them both, it's no problem on my system ubuntu 16.10. Could you double check it.
thanks

[2017-10-08 03:13] xuguangxin commented on #796
This no problem on my side too, could you double confirm this?
thanks

[2017-10-08 03:58] xuguangxin commented on #795
Sorry, I can reproduce it now, it fixed by #802

[2017-10-08 03:58] xuguangxin commented on #796
Sorry, I can reproduce now, let me see how to fix it

[2017-10-09 02:33] #443 closed

[2017-10-09 16:11] uartie commented on #796
Sorry I did not give more details earlier...

When ***libyami*** is compiled with above configure args, this causes ***libyami-utils*** compile error `undefined reference to YamiV4L2_UseEglImage` if libyami-utils is configured with `--disable-tests-gles --enable-v4l2 --enable-x11 --disable-wayland`.

The problem is that when user enables egl in libyami but not libyami-utils we need a way to ensure

[2017-10-09 16:12] uartie commented on #795
yes, I meant `--enable-x11`... sorry for the typo

[2017-10-09 16:48] uartie commented on #796
~~Sorry I did not give better details earlier...~~

~~When ***libyami*** is compiled with above configure args, this causes ***libyami-utils*** compile error `undefined reference to YamiV4L2_UseEglImage` if libyami-utils is configured with `--enable-tests-gles --enable-v4l2 --enable-x11 --disable-wayland`.~~

~~The problem is that when user **disables** egl in libyami but **enables** it in libyami

[2017-10-09 17:07] uartie commented on #796
The issue is that `YamiV4L2_UseEglImage` gets **declared** in libyami/interface/v4l2_wrapper.h but does not get **defined** in libyami/v4l2/v4l2_wrapper.cpp because the declaration does not use the same macro guard as the definition.

[2017-10-10 02:08] #795 closed, assigned to nobody

[2017-10-10 17:43] uartie commented on #744
This issue was filed before the 01org/libyami-utils split and probably has more relevance to 01org/libyami-utils than 01org/libyami

[2017-10-17 06:40] wangzj0601 commented on #792
This issue also can be duplicated on SKL platform when do vp8 encode
enc
Kernel   version: 4.12.0-rc2
Libva:   2.0.1.pre1 master branch commit cb1f254ec65954ff7585f40df4b38337c462b14c
intel_driver:  2.0.1.pre1 master branch commit   37613a52e5e0ded88ded0cdf658af5bbe4ea48e0
libva-utils:   2.0.1.pre1 master branch commit 624b382df777cfa8f5dbb2c1eff07411e6ab0468
libyami:   apache branch a1f863cd8f6e5

[2017-10-17 07:39] wangzj0601 opened #805 "[Vdenc CQP]The psnr value are different each time when run every cycle test on skl"
Test enc
Platform: SKL
Kernel version: 4.12.0-rc2
Libva: 2.0.1.pre1 master branch commit cb1f254ec65954ff7585f40df4b38337c462b14c
intel_driver:  2.0.1.pre1 master branch commit 37613a52e5e0ded88ded0cdf658af5bbe4ea48e0
libva-utils: 2.0.1.pre1 master branch commit 624b382df777cfa8f5dbb2c1eff07411e6ab0468
libyami: apache branch a1f863c tag:1.3.0.pre1
libyami-utils: master branch 8cfdf784719be0499b983

[2017-10-31 19:14] #769 closed, assigned to uartie

[2017-11-01 03:45] uartie opened #806 "Wrong version for libyami 1.3.0"
https://github.com/01org/libyami/blob/libyami-1.3.0/configure.ac#L16

[2017-11-02 02:56] YuJiankang commented on #806
artie, thanks for the reminding, I have submit patch to fix it, please help review, thanks a lot.

[2017-11-03 08:21] YuJiankang commented on #806
it is fixed.

[2017-11-03 14:17] uartie commented on #806
@YuJiankang the 1.3.0 release needs to include the patch that fixes this:

https://github.com/01org/libyami/releases

[2017-11-03 14:19] uartie commented on #806
Also, do you plan to update the NEWS file for the release?

[2017-11-03 14:25] uartie commented on #806
Please consult with @xuguangxin to ensure all necessary steps are completed before release.

[2017-11-06 05:14] xuguangxin commented on #806
Hi @YuJiankang , please check  https://github.com/01org/libyami/commits/1.2.0  for details. thanks

[2017-11-08 07:37] YuJiankang commented on #806
thanks artie and Guangxin, I have put the fix into the 1.3.0 release, and the NEWS is also updated. Do you have any other concern? can we close this issue? thanks a lot.

[2017-11-08 16:08] #806 closed, assigned to YuJiankang

[2017-11-09 05:25] AlexanderKomarov opened #809 "Add support of choosing device for executing"
libyami doesn't support choosing a device for executing. It uses a default device.

[2017-11-09 07:41] wangzj0601 opened #810 "[Vp8_decode]one case will occurs gpu hang when do vp8 decode on CFL"
Test enc
Platform: CFL
Kernel version: 4.14.0-rc1
libva: 2.0.1.pre1 ce1960eec8d94d0badb7ede2f80c5dd4829640e2
intel_driver: 2.0.1.pre1 49976650aeac44f7fc638dc6496867b1bafa43d1
libva-utils: 2.0.1.pre1 071dd74acbf6ddf675924dc579771e226f87f7a9
libyami: a1f863cd8f6e52787952e15d5bd60ab84784c0e0
libyami-utils: 8cfdf784719be0499b9839a6a94d277856c4ac94

Reproduce steps
1. run command dmesg |grep hang, make

[2017-11-13 08:35] #780 closed, assigned to nobody

[2017-11-13 08:41] xuguangxin commented on #809
Hi Alexander:
Could you explain more your use case? Is intel graphic card not exposed as renderD128 at your env?
thanks

[2017-11-13 11:41] AlexanderKomarov commented on #809
Hi xuguangxin, My PC has Nvidia GPU and Intel GPU. Nvidia is exposed as renderD128. Intel GPU is exposed as renderD129.

[2017-11-13 17:21] jsorg71 commented on #809
This is interesting.  I run both GPUs together often.  I never seen Nvidia create a D128 file.  What driver are you using for Nvidia?
This is also a problem for libva.  The DRM open logic is the same as vainfo.
t would be easy enough to use an environment variable.

[2017-11-14 04:02] xuguangxin commented on #809
Hi Jsorg
thanks for the information.

Hi Alexander:
It may need some efforts to add support for this. To quick work around your problem you can do:
1. Change [NativeDisplayDrm::initialize](https://github.com/01org/libyami/blob/apache/vaapi/vaapidisplay.cpp#L133) to  D129.
Or
2.  If you write your program uses libyami.so only. I suggest you follow the [grid ](https://github.com/01org/libyami-utils/

[2017-11-14 04:15] jsorg71 commented on #809
Here is a quick patch if you want to use environment variable.
[code]

[2017-11-14 04:21] xuguangxin commented on #809
@jsorg71 , you are so fast. :)
thanks for the patch, you can consider submit.

[2017-11-14 06:10] jsorg71 opened #812 "VAEntrypointFEI not defined"
Getting this error when compiling.
here is versions of everything

LIBDRM_SRC_NAME="libdrm-2.4.81"
LIBVA_SRC_NAME="libva-1.8.2"
LIBVAUTILS_SRC_NAME="libva-utils-1.8.2"
LIBVA_INTER_DRIVER_SRC_NAME="intel-vaapi-driver-1.8.2"

[code]

[2017-11-14 06:13] xuguangxin commented on #812
HI @uartie , could you help check this?thanks

[2017-11-14 06:18] jsorg71 commented on #809
Not fast, just had this one laying around.
I create #811 for this.

[2017-11-14 11:55] AlexanderKomarov commented on #809
Hi @jsorg71 I use a driver from repo. Thanks for helping. I will try to use it.

[2017-11-15 15:03] #812 closed, assigned to uartie

[2017-11-15 20:02] #809 closed, assigned to nobody

[2017-11-30 07:18] wangzj0601 commented on #805
Kernel   version: 4.12.0-rc2
--
Libva:   2.0.1.pre1 master branch commit 51e98b1224794a44ba097baa7a1b4e35c3596d0c
intel_driver:  2.0.1.pre1 master branch commit   35fc70f09e343ccb91c7957757ec27a5c0f9fcd1 repo:   https://github.com/01org/intel-vaapi-driver.git
libva-utils:   master branch 071dd74acbf6ddf675924dc579771e226f87f7a9
libyami:   apache branch 1d904456d33ab21548ef8583f7a895a9babe5fc4  rep

[2017-12-08 08:17] AlexanderKomarov opened #817 "Doesn't work VaapiPostProcessScaler"
VaapiPostProcessScaler doesn't work. It returns SharedPtr < VideoFrame >  with zeros in crop.width and crop.height. I tested it on the vpp test and my application. I use DRM as display.
But all tests are passed.

I use Ubuntu 16.04. The latest libva, libyami and intel-vaapi-driver.

[2017-12-08 13:33] AlexanderKomarov opened #818 "Cannot set quality of JPEG encoder."
I use the encoder tests. If I try to change quality of JPEG for example to 90. I get failed tests. In the tests setting quality as 50 and it works. Probably the default value of quality is 50.

[2017-12-08 16:14] uartie commented on #818
Can you share the command line you use to run these tests with different quality values?

[2017-12-11 05:48] AlexanderKomarov commented on #818
I'm really sorry. It's my problem. I solved it. Thank you for the answer.

[2017-12-11 05:48] #818 closed, assigned to nobody

[2017-12-11 05:51] xuguangxin commented on #817
could you share you command line and try our yamivpp application https://github.com/01org/libyami-utils/blob/master/tests/vpp.cpp like  "yamivpp <option> input_1920x1080.i420 output_320x240.yv12"

[2017-12-12 08:42] AlexanderKomarov commented on #817
I just run vpp/unittest. Also I added this line `std::cout << std::to_string(dest->crop.width) << " " << std::to_string(dest->crop.height) << std::endl;` to VppDeinterlace function in vaapipostprocess_scaler_unittest.cpp after this line `EXPECT_EQ(YAMI_SUCCESS, scaler.process(src, dest));`
And I get only zeros. Is it normal?

I ran our yamivpp application. And it works.

[2017-12-13 03:34] xuguangxin commented on #817
Yes, it's defined feature. If crop is zero, It will scale to the entire surface.
We have src crop and dest crop. src crop means you only need a sub rect on the source,  dest crop means you only need scale src to the  sub rect of dest.

[2017-12-14 06:50] AlexanderKomarov commented on #817
ok, thank you for the answer.

Also quick question I tried to test YAMI_FOURCC_Y800 format for scaling but I get the error: "the requested function is not implemented". Do you plan to support it? And where can I get the list of supported formats for scaling?

[2017-12-14 06:54] xuguangxin commented on #817
It's the error returned by libva. we depend on libva to do vpp.

Hi @xhaihao,
Can we query csc format in libva?

HI @AlexanderKomarov
Could you share us the usecase? Why you need Y800 scaling?

thanks

[2017-12-14 07:08] xhaihao commented on #817
vaQuerySurfaceAttributes can return the supported surface attribute list for a given config, including pixel formats

[2017-12-14 10:24] AlexanderKomarov commented on #817
@xuguangxin @xhaihao thanks for the answers.

We try to use Intel GPU for decoding/encoding JPEG from camera, scaling and transforming images. We use gray image in our system. Our system does face detection and face recognition.

[2017-12-15 11:39] AlexanderKomarov commented on #817
@xuguangxin @xhaihao maybe is there some sense to add the issue of adding support Y800 for vpp in libva project?

[2017-12-15 13:07] xuguangxin commented on #817
@xhaihao , what's the suggestion?:)

[2017-12-19 22:07] #744 closed, assigned to stripes416

[2018-01-04 22:09] seanvk opened #822 "Could you please be consistent with Release Names??????"
You changed the release names from version numbers back to libyami.

You are breaking packagers who would like to include it.

Consistency is key

Previous release was a version number
This release was libyami-versionnumber

Package builders were expecting version numbers for the tar balls.

Fix this please.

Sean

[2018-01-05 08:15] YuJiankang commented on #822
Sean, we will fix it for yami and yami-utils, thanks for the reminding.

[2018-01-05 18:28] seanvk commented on #822
Thank you @YuJiankang !

[2018-01-12 08:11] AlexanderKomarov opened #823 "Add support for encoding JPEG Y800 format"
How I understand libyami doesn't support it now.

[2018-01-15 05:45] YuJiankang commented on #822
Sean, we have updated the release name, thanks

[2018-01-18 18:38] uartie opened #824 "Unit test failures in VaapiEncoderJpegTest/SimpleDataTest.Encode"
The `VaapiEncoderJpegTest/SimpleDataTest.Encode/*` (in encoder/vaapiencoder_jpeg_unittest.cpp) test cases use 10x10 input data.

Recently, 01org/intel-vaapi-driver#330 added minimum resolution constraint of 16x16 for JPEG encode.  Now these tests are failing on i965 driver.

Update these unit tests with large enough input resolution to satisfy both i965 and iHD constraints.

[2018-01-23 18:42] uartie commented on #824
i965 changed min resolution constraint back to 1x1.

[2018-01-23 18:58] uartie opened #825 "Unable to encode JPEG"
The yami encoder tries to call vaCreateConfig for profile=VAProfileJPEGBaseline and entrypoint=VAEntrypointEncPicture with a VAConfigAttribRateControl=VA_RC_CQP config attribute.  VAConfigAttribRateControl is an unsupported config attribute for JPEG encode.  Recently, the intel-vaapi-driver (https://github.com/01org/intel-vaapi-driver/commit/336d8913aa30c2e56493187b5cc28626b978d2cc) enforces stric

[2018-01-25 03:17] uartie commented on #825
https://github.com/intel/intel-vaapi-driver/pull/345 allows VA_RC_CQP for JPEG now...

However, the bigger issue is that libyami should actually query supported/unsupported attributes instead of hard-coding assumptions about the driver.  Thus, this bug is still relevant since a simple driver query would have prevented this problem in the first place.

[2018-01-25 20:06] angelo-p opened #826 "question: External SurfaceAllocator usage"
Hello,
When I setup libyami for an external SurfaceAllocator  usage,  user-code  gets an "alloc: and "free" function callbacks.
- the alloc  callback  is used by the lib to get all of the user provided surfaces
- the free   callback is used by the lib to let the user cleanup all the surfaces.

When decoding a specific frame,  is there a mechanism in place that would let the lib query user-code for

[2018-02-01 13:21] xuguangxin commented on #826
Hi Angelo:
Do you want choose which surface to decode to ?
You can refer to https://github.com/intel/libyami/blob/apache/v4l2/v4l2_decode.cpp#L210
for get/put API

From: angelo-p [mailto:notifications@github.com]
Sent: Friday, January 26, 2018 4:07 AM
To: intel/libyami <libyami@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [intel/libyami] question: External SurfaceAll

[2018-02-01 14:18] angelo-p commented on #826
Yes,
I take a look.
Thanks a lot!
Angelo

[2018-02-01 18:20] uartie commented on #773
Any progress with identifying/reproducing this issue on your end.  I am attaching the i915_error_state generated when GPU hang occurs.

[i915_error_state.gz](https://github.com/intel/libyami/files/1686680/i915_error_state.gz)

[2018-02-09 02:44] waiter89 opened #828 "I can't build the yami-apache with libva2.00"
vaapipostprocess_scaler.cpp: In member function ‘virtual YamiStatus YamiMediaCodec::VaapiPostProcessScaler::process(const std::shared_ptr<VideoFrame>&, const std::shared_ptr<VideoFrame>&)’:
vaapipostprocess_scaler.cpp:129:15: error: ‘VAProcPipelineParameterBuffer {aka struct _VAProcPipelineParameterBuffer}’ has no member named ‘rotation_state’
     vppParam->rotation_state = mapToVARotationState(m

[2018-02-22 17:56] kwizart opened #830 "Build fails with -Werror=format-security on Fedora 28 (rawhide)"
Here is the build.log

/bin/sh ../libtool  --tag=CXX   --mode=compile g++ -DHAVE_CONFIG_H -I. -I..  -Dvp8_norm=libyami_vp8_norm -Dvp8dx_start_decode=libyami_vp8dx_start_decode -Dvp8dx_bool_decoder_fill=libyami_vp8dx_bool_decoder_fill -I../interface -I..     -g -O2 -Wall -Wno-unused-function -Wno-cpp -Wno-missing-braces -Werror -O2 -g -pipe -Wall -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -Wp,

[2018-02-23 02:28] xuguangxin commented on #830
Hi @kwizart , thanks for the report. @wangzj0601 could you help check this? thanks

[2018-02-23 02:30] #828 closed, assigned to wudping

[2018-02-26 05:29] xuguangxin commented on #830
Hi @kwizart , could tell us where to get the Fedora 28? it's not released yet.thanks

[2018-02-26 07:20] waiter89 commented on #828
请加入判断宏来区分va版本，从而兼容不同va版本

[2018-02-26 07:44] kwizart commented on #830
You can get fedora 27 and upgrade using system upgrade:
https://fedoraproject.org/wiki/DNF_system_upgrade/

Or get nightly iso directly:
http://dl.fedoraproject.org/pub/fedora/linux/development/28/Spins/x86_64/iso/

Thx

[2018-02-26 08:33] xuguangxin commented on #828
Hi @waiter89 , @uartie 's patch added the macro you mentioned. Does it fix your issue?

[2018-02-26 16:00] uartie commented on #830
You could also use a Docker container to avoid modifying your current host OS.

[2018-03-08 05:00] LindaYu17 opened #832 "duplicate EOI error when decoding MJPEG from certain usb camera"
We got “duplicate EOI” error when decoding MJPEG from certain kind of usb camera, not every frame, maybe about 10% frames. Is is reasonable to ignore the second EOI?
By the way, simply ignore this error as below will  cause decode current frame twice, because onMarker() M_EOI will be invoke twice.
----------------------------------------------------------------------
diff --git a/codecparsers/jpeg

[2018-03-08 05:02] LindaYu17 commented on #832
This is the failed frame.

![fail-frame](https://user-images.githubusercontent.com/21115922/37133911-d836916e-22d0-11e8-9e21-4ba0222ca04a.jpg)

[2018-03-08 11:47] xuguangxin commented on #830
Hi @kwizart , fixed by #831 ,thanks for reporting

[2018-03-08 11:47] #830 closed, assigned to wangzj0601

[2018-03-08 11:48] xuguangxin commented on #830
@uartie , thanks for the information.

[2018-03-08 16:31] kwizart commented on #830
Thx for the fixes. I confirm that the package now build with the default options.

But I'd like to enable gtests, and there are some remaining issues there:
https://kojipkgs.fedoraproject.org//work/tasks/819/25560819/build.log

Do you want a separate issue ?

[2018-03-08 17:00] kwizart opened #833 "Integer overflow for 32bit build in gtest"
Building current git on fedora 27 i686 and armv7hl with gtest fails with:

---
g++ -DHAVE_CONFIG_H -I. -I..    -I../interface -I../gtestsrc/gtest/include   -g -O2 -Wall -Wno-unused-function -Wno-cpp -Wno-missing-braces -Werror  -O2 -g -pipe -Wall -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-protector-strong --param=ssp-buffer-size=4 -grecord-gcc-switches -specs=/usr/lib/rpm

[2018-03-08 17:24] kwizart opened #834 "Have a mean to use make check without a va-api backend"
On Fedora builders (or any distro build), one cannot expect to have a va-api backend installed.

I would still like to use the make check for unit test that doesn't require any va-api backend.
I see two options:
- Using a dedicated configure option: --enable-gtest-without-vaapi-backend (or else).
The plan would be to make the vaapi decoder encoder directories optionals, so the related unitests wil

[2018-03-13 01:54] uartie commented on #832
I don't think it's a good idea for libyami jpeg parser/decoder to ignore the second EOI... it is technically a corrupt image at this level of parsing/decoding.  Ideally, your application should be responsible for properly splitting the input stream into separate jpeg image buffers to follow spec.  Unfortunately, yamidecode test/example application in libyami-utils will not detect the jpeg frame bo

[2018-03-13 01:54] #832 closed, assigned to nobody

[2018-03-14 07:43] xuguangxin commented on #834
Hi @kwizart , could you give me more detail about your issue?  libyami highly depends on libva, if we do not have libva, we can't do anything for decoder/encoder/vpp. So why you need to remove libva dependency in libyami?
thanks

[2018-03-14 07:44] xuguangxin commented on #833
@kwizart , thanks for reporting this, @wangzj0601 , could you help to check?

[2018-03-14 17:51] kwizart commented on #834
It's not about libva. libyami is expected to be compiled with VA-API enabled. It's just that I'm not supposed to have access to much hardware capability on my build environment.

I can eventually have access to mesa VA-API backend (radeon,nouveau without the video firmware so useless). But I don't expect that the related hardware will even be present on the machine I'm building libyami (and runnin

[2018-03-14 23:39] uartie commented on #834
Tests are disabled by default in configure (or you can specify `--disable-tests` during configure).  I don't think adding support to selectively enable/disable specific tests will have much ROI since most require vaapi driver runtime... it would also introduce additional maintenance overhead.

[2018-03-20 13:57] xuguangxin commented on #834
@kwizart , like @uartie mentioned, we have a option to disable all tests. Can this fix your issue?
thanks

[2018-03-20 13:59] kwizart commented on #834
Sort of, the fix is to not enable tests at all in our build by default.
Let's close the issue then.
Thanks

[2018-03-20 13:59] #834 closed, assigned to nobody

[2018-03-20 14:27] xuguangxin commented on #834
thanks, @kwizart , please report any issue if you found.

[2018-03-20 14:27] xuguangxin commented on #833
@wangzj0601 ,any update on this?

[2018-03-20 14:52] xuguangxin commented on #826
hi @angelo-p , is it working for you?

[2018-03-20 15:01] angelo-p commented on #826
Hi Xu Guangxin,

Yes,  it is working  but I am looking into a  problem  that occurs when flushing.

when I call decodeFlush(),   my surface_do_put_callback()   callback  get calls with  surfaces  that are hold in the decoder DPB but also with  surfaces that have already been released.

Angelo

________________________________
From: Xu Guangxin <notifications@github.com>
Sent: March 20, 2018 10:52

[2018-03-20 15:04] xuguangxin commented on #826
you mean, it double put the surface for you?

[2018-03-20 15:22] angelo-p commented on #826
No,  it doesn't.

When my code is getting  a decoded VideoFrame *ovp  through a call to decodeGetOutput(),   I  call  ovf->free(ovf) on it when done processing.

That  ovf->free(ovf)   call doesn't trigger the put callback to be  exercised.

This behavior causes  housekeeping of what  need to be released on flush   difficult.

Angelo

________________________________
From: Xu Guangxin <notificatio

[2018-03-21 09:32] wangzj0601 commented on #833
@xuguangxin, I am building the environment now.

[2018-03-22 19:50] angelo-p commented on #826
Thanks for you comments Xu Guangxin.
your previous question: 'you mean, it double put the surface for you?'  made me realize  that I was mishandling  the flushing of the  libyami surface in the put  callback.

[2018-03-23 01:25] xuguangxin commented on #826
@angelo-p , the function name may be misleading, the free only decrease the reference count for the frame.
For the outputted frame, decoder still needs it as a reference frame for future decoding.
So when you call get output, the frame's reference count is 2, one is for the decoder, one is for you.
After you did render, you call free, the reference count drops to 1.
When you call flush, the refere

[2018-03-23 14:23] angelo-p opened #837 "VP9 decoder produce video frames whith rendering artifacts"
Hello,
I am running with libyami tag 1.2.0-RC1 on an Apollo Lake board 1BN-E ES4.1  and I am seeing a lot of rendering artifacts/frame corruptions when playing vp9 video files.
example test file:
feelings_vp9-640x360.webm

What is the status of the VP9 decoding support?
Would updating to tag 1.3.0-RC1  fix the issue?

Thanks,
  Angelo

[2018-03-23 18:34] uartie commented on #837
It could be a driver issue.  If you are using intel-vaapi-driver (i965), there were several VP9 issues fixed recently (https://github.com/intel/intel-vaapi-driver/issues?utf8=%E2%9C%93&q=is%3Aissue+VP9)

[2018-03-23 20:27] uartie commented on #833
OK, `long` and `int` are the same size on 32-bit compiler... thus, coercing the type to `long long` to clear the error and get the test to compile is not enough.  The test will still fail when executed... and clearly it exposes another underlying flaw in the `guessResolution` function.

FYI, there are many more compiler errors on 32-bit builds beyond this (try enabling all encoders, decoders and d

[2018-03-23 23:08] xuguangxin commented on #837
@angelo-p , @uartie the vp9 decoder in good shape for a long time, we have 3300+ test clips includes 8/10 bits. We checked decoded frame with libvpx, 99.73% are bit match.
@angelo-p , could you share the stream with us. So we can check what's wrong.
also which driver you used?

[2018-03-23 23:34] angelo-p commented on #837
I  uploaded the file to my drobbox account.
you can access at:
https://www.dropbox.com/s/cimapj5d0z66kz0/feelings_vp9-640x360.webm?dl=0

we are using  intel-vaapi-driver at  version 1.8.4
vainfo
libva info: VA-API version 0.40.1
libva info: va_getDriverName() returns 0
libva info: Trying to open /usr/lib/dri/i965_drv_video.so
libva info: Found init function __vaDriverInit_0_40
libva info: va_openD

[2018-03-23 23:48] chivakker commented on #837
FWIW, tried this clip wit libva-2.1.0 and it plays fine.

On Fri, Mar 23, 2018 at 4:34 PM, angelo-p <notifications@github.com> wrote:

[2018-03-26 01:00] xuguangxin commented on #837
Thanks, @chivakker help to test.@angelo-p could you try latest vaapi and libyami.

thanks

[2018-03-26 18:12] angelo-p commented on #837
xuguangxin,

I cannot go to  libva-2.1.0.
our graphics group  is currently lock with  libva-1.8.0

[2018-03-26 20:16] chivakker commented on #837
@angelo-p which kernel version are you using?  Depending on that you'd need to carry some patches on your environment.

[2018-03-27 00:42] xuguangxin commented on #837
if you check driver release [notes](https://github.com/intel/intel-vaapi-driver/releases?after=glk-alpha), no big changes for vp9 decoder.
@chivakker 's point is good, it may related to kernel or something.
@angelo-p, is it possible to try libva 2.0 on your side, It will help us isolate the problem. If it also failed, it appears a kernel issue. If it's ok, maybe you can cherry-pick some patch from

[2018-04-25 16:38] sebastinas opened #841 "Build failure with ffmpeg 4.0"
libyami's examples do not build with ffmpeg 4.0:
[code]

(forewarded from Debian's [#896825](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=896825)).

[2018-04-25 16:42] sebastinas commented on #841
Sorry for the noise. I missed that this was already fixed in libyami-utils.

[2018-04-25 16:42] #841 closed, assigned to nobody

[2018-04-28 04:19] xuguangxin commented on #841
@sebastinas , no problem, thanks for report

[2018-04-28 07:03] xuguangxin commented on #796
thanks @uartie , this will fixed by https://github.com/intel/libyami/pull/843

[2018-05-02 00:50] jsorg71 opened #844 "Decoder 'drain' functionality"
I'm trying to update from an older libyami and I used the drain parameter of decodeGetOutput.  Setting it to true would get me a frame out for every frame in.  Since that is removed, how do you get similar functionality?

[2018-05-02 02:40] xuguangxin commented on #844
Hi @jsorg71 ,
you may need call decode with 0 size input to drain the decode.
sample code are here
https://github.com/intel/libyami-utils/blob/master/tests/vppinputdecode.cpp#L86

[2018-05-02 03:45] jsorg71 commented on #844
Hi @xhaihao ,  I think I tried that, I'll try again tomorrow to be sure.  It looks like that is used for EOF event where you are about to delete or restart the decoder.

[2018-05-02 04:03] xuguangxin commented on #844
@jsorg71 , if you want one frame in, one frame out. You may need set [enableLowLatency](https://github.com/intel/libyami/blob/297512853edbebd5929f65ca3087c9ea2739c99c/interface/VideoDecoderDefs.h#L66).  But it has limitation. It only works for h264 and IPPPP pattern. It's a hack mode, we do not strictly follow the spec in this mode.
If possible, I suggest you change your encoder to [zero latency](

[2018-05-02 04:33] jsorg71 commented on #844
@xuguangxin thanks, I'll look into that.  I only use I and P frames.
I don't have that option in libyami 1.2.
When I build 1.3 I get
[code]

[2018-05-02 05:15] xuguangxin commented on #844
this added by https://github.com/intel/libva/commit/397a4a2201d7584a1f62229b406755c8181e34f3, you can comment out the case or you can upgrade libva to a newer version.
It's hard to add #ifdef for every libva version, it will make the code unreadable.

[2018-05-02 15:48] uartie opened #845 "Compilation fails on GCC 8.0.1"
libva (master) heads/master-0-gd6fd111e2062
ffmpeg (master) heads/master-0-gd176497cec95
libyami (apache) heads/apache-0-g8e941ab610db

GCC 8.0.1 is default on recently released Fedora 28.

[code]

[2018-05-02 17:59] jsorg71 commented on #844
@xuguangxin I got 1.3.0 building, thanks.  I set 'enableLowLatency' before calling start, but I still don't see any difference.

[2018-05-02 18:29] jsorg71 commented on #844
BTW, it looks like the VAEntrypointFEI issue is fixed in HEAD of apache.

[2018-05-03 00:07] uartie commented on #845
Fixed by #835

[2018-05-03 00:07] #845 closed, assigned to nobody

[2018-05-04 03:16] xuguangxin commented on #844
@jsorg71 , thanks for information. It may related to bitstream, could you send your bitstream to me.
thanks

[2018-05-07 06:26] xuguangxin commented on #794
this will fixed by https://github.com/intel/libyami/pull/843 and https://github.com/intel/libyami-utils/pull/124

[2018-05-07 22:16] jsorg71 commented on #844
@xuguangxin  Sure, I'll capture and provide I and P frames that work perfectly with libyami 0.3.1 but not with any version after.

[2018-05-08 01:14] jsorg71 commented on #844
I put the files in http://server1.xrdp.org/a8/libyami-issue-844/

surface_command_beef_0.bin
h264 frames with a 16 byte header between each frame.
It contains
8 frames at 1920x1080 I P P P ...
42 frames at 424x368  I P P P ...
7 frames at 1032x776  I P P P ...

surface_command_beef_1.bin
h264 frames with a 16 byte header between each frame.
It contains
2 frames at 1920x1080 I P

h264_beef_stepper_

[2018-05-08 02:51] #796 closed, assigned to nobody

[2018-05-08 05:13] xuguangxin commented on #794
close this since commits merged, thanks U.Artie for reporting

[2018-05-08 05:13] #794 closed, assigned to nobody

[2018-05-08 06:24] xuguangxin commented on #844
thanks jsorg71, we will try it.

[2018-05-08 07:00] xuguangxin commented on #810
@wangzj0601 , is this a driver issue?

[2018-05-08 07:26] xuguangxin commented on #758
@YuJiankang could you give more details about this? We follow the spec to pop the frame in dpb

[2018-05-08 16:47] sreerenjb commented on #758
@xuguangxin see this bug report: https://bugzilla.gnome.org/show_bug.cgi?id=762509

[2018-05-09 03:08] xuguangxin commented on #758
@sreerenjb , thanks, i will check the bug. Do you mind if I add your clips to the yami unit test?
thanks

[2018-05-09 05:32] xuguangxin commented on #844
Hi @jsorg71
Although we need internal test and unit test, could you help try
https://github.com/xuguangxin/libyami-utils/tree/fix_low_latency
https://github.com/xuguangxin/libyami/tree/fix_low_latency
see if it meet your requirement?
You need change two things in your application
1. add low latency flag as you did.
2. add VIDEO_DECODE_BUFFER_FLAG_FRAME_END when you know it's a completed frame. thi

[2018-05-09 18:39] jsorg71 commented on #844
@xuguangxin Thanks, that works!

[2018-05-10 19:41] angelo-p opened #847 "h264 low latency decoding"
Hello,
I updated to  libyami tag 1.3.0  to  bring in the LowLatency  mode for AVC/H264 playback.
I am playing a mp4 file:  'Serenity_720p.mp4'   AVC High profile 1280x720 and I don't see any difference when  playing in low latency.

According to my logging,  It takes between 1 to 8 input frames to generate an output frame.
To test low latency,  I am just  setting the VideoConfigBuffer  enableLowLa

[2018-05-11 01:27] xuguangxin commented on #847
It may relate to stream, we have a fix at https://github.com/intel/libyami/issues/844
Could you help try it?
thanks

[2018-05-11 01:29] xuguangxin commented on #844
glad to hear this.

[2018-05-11 02:00] sreerenjb commented on #758
@xuguangxin Sure you can.
BTW, I thought libyami already had a fix for the above problem.

[2018-05-11 03:00] xuguangxin commented on #758
@sreerenjb , seems it has a problem with some streams. If POC not adds increased by 1.
If POC like 0, 2, 4. the current solution has a problem.
I proposed a change here
https://github.com/xuguangxin/libyami-utils/tree/fix_low_latency
https://github.com/xuguangxin/libyami/tree/fix_low_latency
 we are working on adding some unit test for this. and after it, I will send the pull request.
I will add y

[2018-05-11 15:20] angelo-p commented on #847
@xuguangxin
Thanks,  adding the VIDEO_DECODE_BUFFER_FLAG_FRAME_END improves decoding latency.
Our application always feeds the codec full frames.  Can we set the flag  all the time  or only when enableLowLatency is set ?

[2018-05-14 02:37] xuguangxin commented on #847
Hi @angelo-p ,
It depends on your use case. Without this flag, we need to search the bitstream and detect frame boundary. We only start to decode current frame when we see next frame started. This introduces one frame delay. But in some case you know exactly we have the entire frame.So you can pass the flag to the decoder.
No need be an entire frame at one time. A frame contains N units, you can s

[2018-05-16 09:52] waiter89 opened #850 "Build OCL fail in the newest linux system"
../ocl/oclcontext.cpp: In member function ‘bool YamiMediaCodec::OclContext::init()’:
../ocl/oclcontext.cpp:100:77: error: ‘_cl_command_queue* clCreateCommandQueue(cl_context, cl_device_id, cl_command_queue_properties, cl_int*)’ is deprecated [-Werror=deprecated-declarations]
     m_queue = clCreateCommandQueue(m_context, m_device->m_device, 0, &status);

[2018-05-17 05:38] xuguangxin commented on #850
Hi @waiter89 ,
this because you use OpenCL2.0. We did not test against 2.0 before.
Which opencl implementation you used? Beignet?

[2018-05-19 02:43] #850 closed, assigned to nobody

[2018-05-19 02:54] waiter89 opened #851 "G1620 can't encode h264"
(gdb) bt
#0  0x00007f7ab3ceb477 in ioctl () from /lib64/libc.so.6
#1  0x00007f7aa5042f78 in drmIoctl () from /usr/lib64/libdrm.so.2
#2  0x00007f7aa42a3b1b in ?? () from /usr/lib64/libdrm_intel.so.1
#3  0x00007f7a925795e9 in i965_MapBuffer () from /usr/lib64/dri/i965_drv_video.so
#4  0x00007f7a924fc458 in gen6_mfc_stop () from /usr/lib64/dri/i965_drv_video.so
#5  0x00007f7a924fdc5a in gen6_mfc_avc_

[2018-05-21 08:21] waiter89 opened #852 "decode h264 SIGSEGV"
[hikvideo.tar.gz](https://github.com/intel/libyami/files/2021751/hikvideo.tar.gz)
decode the video from hikvision SIGSEGV

[2018-05-22 02:28] #852 closed, assigned to nobody

[2018-05-22 02:55] xuguangxin commented on #852
Hi @waiter89 ,
I tried latest libva and libyami. I can't reproduce y our issue. Could you share more information with us? like platform, libva/libyami version? Could you try latest code?

thanks

[2018-05-25 00:10] zaitor opened #853 "wayland headers in "custom" include dir make build fail"
In opensuse wayland is built with headers placed in %_includedir/wayland/ - this makes the build fail with the following error:

[   89s] Making all in v4l2
[   89s] make[2]: Entering directory '/home/abuild/rpmbuild/BUILD/libyami-libyami-1.3.0/v4l2'
[   89s]   CXX      libyamiv4l2_la-v4l2_codecbase.lo
[   89s]   CXX      libyamiv4l2_la-v4l2_decode.lo
[   89s]   CXX      libyamiv4l2_la-v4l2_wrappe

[2018-05-25 02:56] xuguangxin commented on #853
Hi @zaitor ,
this means opensuse puts wayland headers in wayland/ but it did not add wayland/ to includes?
seems a opensuse issue...:)

[2018-06-01 21:07] angelo-p commented on #837
@xuguangxin,
we updated libva  to version  2.0.0  and I still  can see macroblocking issues on the vp9  stream.
see vainfo putput below:
vainfo
libva info: VA-API version 1.1.0
libva info: va_getDriverName() returns 0
libva info: Trying to open /usr/lib/dri/i965_drv_video.so
libva info: Found init function __vaDriverInit_1_1
libva info: va_openDriver() returns 0
vainfo: VA-API version: 1.1 (libva

[2018-06-04 04:35] xuguangxin commented on #851
@waiter89 , did you tried this using libva built in h264enc ?

[2018-06-04 05:11] xuguangxin commented on #837
Hi @angelo-p ,
Sorry I can't reproduce your issue.
I tried your stream on BXT.

Could you help reproduce my steps.
`./tests/yamidecode -i vobsub_sample.mkv -m -2`, you will get md5 at output 08dc6f4627328bdd20afe81674ca7b52
` ffmpeg -i vobsub_sample.mkv t.yuv && md5sum 5.yuv`, you will get md5 08dc6f4627328bdd20afe81674ca7b52
this means the yami's output same as ffmpeg sw output.

my libva version

[2018-06-04 05:44] feiwan1 opened #855 "h264dec: fail to decode a avc stream."
root@wangfei_skl:~/Downloads# yamidecode -i SliceHD.mpg -m 1
libva info: VA-API version 1.1.0
libva info: va_getDriverName() returns 0
libva info: User requested driver 'i965'
libva info: Trying to open /opt/yami/vaapi/lib/dri/i965_drv_video.so
libva info: Found init function __vaDriverInit_1_1
libva info: va_openDriver() returns 0
[h264 @ 0x2a10a40] SPS unavailable in decode_picture_timing
[h264

[2018-06-04 15:44] angelo-p commented on #837
Hi @xuguangxin
You are right, I got the same md5:
yamidecode -i /amedia/vobsub_sample.mkv -m -2
libva info: VA-API version 0.40.1
libva info: va_getDriverName() returns 0
libva info: Trying to open /usr/lib/dri/i965_drv_video.so
libva info: Found init function __vaDriverInit_0_40
libva info: va_openDriver() returns 0
1426 frame decoded, fps = 30.32. fps after 5 frames = 30.33.
The whole frames MD5

[2018-06-04 17:17] angelo-p opened #856 "vp9 decoding: when using the External SurfaceAllocator API, seeing a memleak on a specific stream."
I uploaded the file to my drobbox account.
you can access at:
https://www.dropbox.com/s/cimapj5d0z66kz0/feelings_vp9-640x360.webm?dl=0

debug code shows that for this specific stream,  once in a while a surface get requested through  the surface_do_get_callback function and it never get released.
Please help in debug this issue.

[2018-06-05 04:34] xuguangxin commented on #837
if you got the same md5, it proves the decoder is good, any bad thing happened in the display?
One thing I should mention, you can't modify the output frame, we will use output frame as a reference for future frames

[2018-06-05 07:43] xuguangxin commented on #856
Could you check it using yamidecode? Will it have same issue? Actually, decoder use same api for external or internal allocator https://github.com/intel/libyami/blob/apache/decoder/vaapidecoder_base.cpp#L226

[2018-06-05 18:44] angelo-p commented on #856
yamidecode doesn't show the issue but it is not using the External Surface Allocator.

This is the sequence of calls I see  when the problem occurs:
==> surface_do_allocate_callback()  :   takes from my external mpool a     va_surface  (0x4000000)
==> surface_do_put_callback():            releases to my external mpool the va_surface (0x4000000)
==> decodeGetOutput():  return a VideoFrame *ovf with

[2018-06-07 06:57] JackXu2 opened #857 "VP9 encode support"
1.In media sdk both windows and linux, they does not support VP9 encode with below 8gen CPU. only windows media sdk support by cannon lake.
2. how libyami support VP9 encode? which CPU support this VP9 encode?
3. how about performance for the VP9 encode with libyami?

[2018-06-07 13:10] xuguangxin commented on #857
1. only kbl+ has vp9 encoder
2.  We are not authorized to public performance data, you can use yamitranscode to test on your platform.
thanks

[2018-06-07 13:55] JackXu2 commented on #857
Thanks, do you know the window media sdk support vp9 encoder on kbl+.
and it seems linux media sdk does not support vp9 encode for all platform?
https://github.com/Intel-Media-SDK/MediaSDK

[2018-06-08 02:06] xuguangxin commented on #856
It uses internal allocator, but the API is same as the external allocator, it's no different, you can copy the allocator code and set it to the decoder.
I am little confused by your call sequence, did you see the get surface operation before we put it

[2018-06-08 02:19] xuguangxin commented on #857
Do not know why, we are not involve the msdk development, you may need ask msdk team.

thanks

[2018-06-08 11:09] angelo-p commented on #856
Yes,
my surface_do_allocate_callback maps to YamiStatus (*getSurface)(SurfaceAllocParams* thiz, intptr_t* surface);
and my surface_do_put_callback maps to YamiStatus (*putSurface)(SurfaceAllocParams* thiz, intptr_t surface);
The problem is that  putSurface is called and the following  decodeGetOutput call  returns a surface that was just released.
I see this sequence of calls only when  using the

[2018-06-08 12:24] JackXu2 commented on #857
thanks

[2018-06-08 12:24] #857 closed, assigned to nobody

[2018-06-08 13:00] xuguangxin commented on #856
the getOuput will return a SharedPtr, it will hold a reference for the frame. So decoder will not release the frame. Could you share your code? So I can help you review and debug it
thanks

[2018-06-08 14:08] angelo-p commented on #856
@xuguangxin
I am saying that when  decodeGetOutput()  is called, it is returning a VideoFrame *ovf with  a ovf->surface   that has already been released.

find attached the  my  code
[yami_codec_interface.c.txt](https://github.com/intel/libyami/files/2084680/yami_codec_interface.c.txt)

[2018-06-08 16:10] angelo-p commented on #837
Hi xuguangxin,
Can you explain  what you mean by "you can't modify the output frame" ?
We are using libyami External Allocator scheme and as long as  libyami  call the  putSurface() callback, our software will release to our surface pool  for reuse the output frame  as soon as it has been rendered.
Am I correct in assuming  that when libyami jas called the  putSurface callback,  our software is fr

[2018-06-11 14:47] xuguangxin commented on #856
@angelo-p , sorry, your code is a little complex, And I can't find a way to compile it. I try to modify current yami code to reproduce your issue. but failed. If you tried this patch, it will print something if yami output something freed. But it did not.
[checkoutput.zip](https://github.com/intel/libyami/files/2090468/checkoutput.zip)
Could you try it? I will try to implement an external allocato

[2018-06-11 17:24] angelo-p commented on #856
Hi
Thanks again for looking into this.
I  tried your patch  (I added a '\n'  at the end of the path debug printf()).
Here is the console output when  I play  the vp9 stream:

23.835[5] testplayer: Multimedia graph:
23.836[5] testplayer:   mp4_reader0:EncodedVideoOut -> YamiVideoDecoder0:YamiVideoIn
23.838[5] testplayer:      YamiVideoDecoder0:YamiVideoOut -> Queue0:QueueIn
23.841[5] testplayer:

[2018-06-12 20:36] angelo-p commented on #856
@xuguangxin,
Let me know if there is anything  I can do to help  in investigating this issue.
Thanks,
  Angelo

[2018-06-13 01:15] xuguangxin commented on #856
@angelo-p , Did you use different threads to do decode and getoutput?

I will implement a simplified external allocator in yamidecode. ETA is 1~2days later.
If I can't reproduce the issue on this allocator.
I may ask you help reproduce it on the simplified allocator.

thanks

[2018-06-13 05:42] xuguangxin commented on #856
@angelo-p ,I implemented a external allocator, I still can't reproduce your issue.
Could you try the last patch in https://github.com/xuguangxin/libyami-utils/commits/ext_alloc.
Try to reproduce your issue on top of this patch?

[2018-06-13 15:41] angelo-p commented on #856
@xuguangxin,
our application calls decode and getouput from a single thread.
I cannot reproduce the issue using yamidecode and your latest patch,  but  I should mention that your patch has a C++ allocator implementation and  our app is using the  Capi  interface exposed  in the VideoDecoderCapi.h header file when interacting with libyami.

[2018-06-14 02:34] xuguangxin commented on #856
Did you call free in other thread? If yes, you may need to do some lock like I do.

Let me convert my example to CAPI. But it may take some time. The ETA maybe next Monday.
@angelo-p

[2018-06-14 14:12] angelo-p commented on #856
No, free  on the output VideoFrame  is called from the same thread as decode and getouput.
As soon as getouput. returns a VideoFrame* (ovf),  we process it and call ovf->free(ovf)  right away on it.

[2018-06-19 01:29] feiwan1 opened #860 "Yamivpp saturation/contrast output should be same with input when set the value to 50."
For example:
yamivpp --con 50 1280x720.NV12 out_contrast_50_1280x720.NV12
yamivpp --sat 50 1280x720.NV12 out_sat_50_1280x720.NV12

The input file should be bitmatch with output.

[2018-06-19 01:34] feiwan1 opened #861 "yamivpp denoise when set different value, the output is always same."
yamivpp --dn 20 1920x1080.NV12 denoise_20_1920x1080.NV12
yamivpp --dn 30 1920x1080.NV12 denoise_20_1920x1080.NV12

The output should be not bit match.

[2018-06-20 04:03] xuguangxin commented on #856
@angelo-p , this is capi version.
you can use "yamidecode -i xxx.vp9 -m -1 --capi" to test it.
The implementation is c++ based because the lock and map/set things in c is boring.
If you are interested, you can convert it to pure c version.

But the API is C based, no c++ magic. if possible, could you reproduce the issue on it ?

thanks

https://github.com/xuguangxin/libyami-utils/tree/eac
https://

[2018-06-20 11:46] angelo-p commented on #856
Thanks  @xuguangxin,  I'll run  the test with your app.

[2018-06-22 00:57] angelo-p commented on #856
@xuguangxin,
With your test app, I was  able to root-cause an allocator problem in our code.
Thanks again for your help.

[2018-06-22 02:31] xuguangxin commented on #856
glad to hear this. :)

[2018-06-22 02:31] #856 closed, assigned to nobody

[2018-06-29 07:59] #844 closed, assigned to nobody

[2018-07-17 18:17] jsorg71 opened #862 "modesetting xorg driver"
Of course yami works great with the intel xorg driver when configured with --enable-x11.
I noticed that newer intel system default to modesetting driver which uses glamor to accelerate the xserver with opengl.
yami should work with modesetting driver as well when --enable-x11 us used?
Do you guys use intel or modesetting driver?

[2018-07-18 04:00] xuguangxin commented on #862
We use Xorg driver. Could you share more details about the glamor and modeseting driver?

yami works fine with dma_buf. Basically, if you can get dma_buf handle from your display.
We have [grid](https://github.com/intel/libyami-utils/blob/master/examples/grid.cpp) example to show you how to use libdrm to display directly.  We also have [example ](https://github.com/intel/libyami-utils/blob/master/

[2018-07-23 07:26] jsorg71 commented on #862
If you go out and buy a new i7 processor and install Debian 9 or Ubuntu 18.04, you will not get the Intel Xorg driver by default.  You will get the modesetting driver.  With this, va_x11.h functions seem to work but I see corrupted frame once in a while.  Still trying to determine what going on.  I think this is not a yami issue but just want to bring it up.
BTW, thanks for the example links.

[2018-09-18 19:29] jsorg71 commented on #844
What do you think about making a 1.3.1 release?  I like this feature but don't like grabbing a develop branch.  It looks like it been about a year.

[2018-09-25 07:30] jsorg71 commented on #844
thanks guys

[2018-09-25 16:19] xuguangxin commented on #844
no problem, it's our job

[2018-10-12 07:43] jsorg71 commented on #844
release here #864

[2018-10-16 21:40] jsorg71 commented on #862
I have a bit more info on this.  First note this Debian announcement
https://tjaalton.wordpress.com/2016/07/23/intel-graphics-gen4-and-newer-now-defaults-to-modesetting-driver-on-x/
Also, I stated i7 but even low end Atom processor NUC like
https://ark.intel.com/products/78577/Intel-NUC-Kit-DE3815TYKHE
will default modesetting Xorg driver.
I tried displaying with GLX, same problem as X11.  I was a

[2018-10-17 04:49] xuguangxin commented on #862
@jsorg71 , thanks for follow up this

[2018-10-17 05:15] #862 closed, assigned to nobody

[2018-12-05 00:53] neon12345 opened #870 "osd.cl not working"
With a recent kernel is is possible to use NV12 on a target framebuffer with intel graphics. Since this is a requirement for osd, I was now able to test it.

The osd.cl gives compiler errors because __write_only images are used with read_imagef. Changing the images to the read only ones make it possible to compile but the result is unexpected.

I get wrong colors and some colors are working like a

[2018-12-05 02:09] xuguangxin commented on #870
@neon12345 , could you provide some description for your env? so we can reproduce the issue on our side?
thanks

[2018-12-05 03:33] neon12345 commented on #870
Debian stretch

Linux mylap 4.18.0-0.bpo.1-amd64 #1 SMP Debian 4.18.6-1~bpo9+1 (2018-09-13) x86_64 GNU/Linux

----------------

Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                4
On-line CPU(s) list:   0-3
Thread(s) per core:    1
Core(s) per socket:    4
Socket(s):             1
NUMA node(s):          1
Vendor ID:

[2018-12-05 03:41] xuguangxin commented on #870
@neon12345 , what's is the ocl env and version you used? with your beignet? https://www.freedesktop.org/wiki/Software/Beignet

[2018-12-05 03:55] neon12345 commented on #870
Debian defaults:

beignet                                          1.3.0-4
beignet-dev:amd64                       1.3.0-4
beignet-opencl-icd:amd64             1.3.0-4
ocl-icd-dev:amd64                         2.2.11-1
ocl-icd-libopencl1:amd64              2.2.11-1
ocl-icd-opencl-dev:amd64             2.2.11-1
opencl-c-headers                           2.1-1
opencl-clhpp-headers

[2018-12-05 03:58] neon12345 commented on #870
I have the same issue with Ubuntu 18.04.1 default installation and another machine.

[2018-12-05 04:28] xuguangxin commented on #870
it's wired, i have no this issue.
My machine is

$ lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.1 LTS
Release:        18.04
Codename:       bionic

[2018-12-05 04:32] neon12345 commented on #870
Do you have a small example I can run?

[2018-12-05 04:35] xuguangxin commented on #870
you can check blend.cpp in libyami-utils/examples.
It will enabled by --enable-oclblender

[2018-12-05 04:40] neon12345 commented on #870
I use a different setup with no windows.

VADisplay vadisplay = vaGetDisplayDRM(drm_fd);
cr.pixel_format = DRM_FORMAT_NV12;
ret = ioctl(drm_fd, DRM_IOCTL_MODE_ADDFB2, &cr);

I will test libyami-utils and see if it works. Then the problem is perhaps with this setup that only works with a recent kernel.

[2018-12-05 05:36] neon12345 commented on #870
I managed to compile (some smart pointers cannot be auto converted to bool) and run (hit an assertion so I need to disabled it) the blend example but it also looks strange. What is the desired output?
I get some lines of numbers and letters moving up and down. Colors are only alternating white and grey tones with some additional flickering.

[2018-12-05 05:41] neon12345 commented on #870
The other examples with blend seem to work fine.

[2018-12-05 05:47] xuguangxin commented on #870
it's related to the background if the background is black, the font will be white, if the background is white, the font will be black.

[2018-12-05 06:39] neon12345 commented on #870
When I adjust the blend example in
bool drawSurfaceRGBA(SharedPtr<VideoFrame>& frame, bool text = false)

to fixed colors with

            uint8_t r = 0;
            uint8_t g = 255;
            uint8_t b = 0;
            uint8_t a = 255;

I see nothing. With

            uint8_t r = 255;
            uint8_t g = 0;
            uint8_t b = 0;
            uint8_t a = 255;

I see red.

Is this the d

[2018-12-05 06:49] xuguangxin commented on #870
Not sure, could you try other color?
thanks

From: neon12345 [mailto:notifications@github.com]
Sent: Wednesday, December 5, 2018 2:40 PM
To: intel/libyami <libyami@noreply.github.com>
Cc: Xu, Guangxin <guangxin.xu@intel.com>; Comment <comment@noreply.github.com>
Subject: Re: [intel/libyami] osd.cl not working (#870)

When I adjust the blend example in
bool drawSurfaceRGBA(SharedPtr& frame, bool te

[2018-12-05 06:55] neon12345 commented on #870
It is not so much about colors. If you use the blend example with -b then you see 3 colored bars which are now of the color set in drawSurfaceRGBA. The bars are overlaying the video with the red color but with the green color there are no bars and the video is fully visible.

[2018-12-05 08:24] xuguangxin commented on #870
It because the sample application’s rgb order not machine the filters.

Please use this
https://github.com/intel/libyami-utils/pull/137
thanks

From: neon12345 [mailto:notifications@github.com]
Sent: Wednesday, December 5, 2018 2:56 PM
To: intel/libyami <libyami@noreply.github.com>
Cc: Xu, Guangxin <guangxin.xu@intel.com>; Comment <comment@noreply.github.com>
Subject: Re: [intel/libyami] osd.cl no

[2018-12-05 09:03] neon12345 commented on #870
It works as expected now, thanks!

[2018-12-05 09:03] #870 closed, assigned to nobody

[2018-12-06 05:18] xuguangxin commented on #870
Glad to hear this. thanks for report the issue.

[2019-05-14 04:24] zhoujd opened #875 "Compilation fails with gcc version 9.1.1 20190503 on Fedora 30"
$  ./autogen.sh --disable-silent-rules --prefix="/opt/media/install" --enable-tests --enable-debug --enable-h264enc --enable-jpegenc --enable-vp8enc --enable-vp9enc --enable-h265enc --enable-h264dec --enable-jpegdec --enable-vp8dec --enable-vp9dec --enable-h265dec --enable-mpeg2dec --enable-vc1dec --disable-fakedec --disable-oclfilters --enable-dmabuf --enable-md5 --disable-egl --disable-v4l2 --di

[2019-06-11 03:57] xuguangxin commented on #875
@zhoujd , https://github.com/intel/libyami/pull/876 will fix this.
thanks.

[2019-07-25 01:15] waiter89 opened #878 "crash when decode h264"
(gdb) bt
#0  __gnu_cxx::__atomic_add_dispatch (__val=1, __mem=0x3d) at /usr/include/c++/4.8/ext/atomicity.h:96
#1  std::tr1::_Sp_counted_base<(__gnu_cxx::_Lock_policy)2>::_M_add_ref_copy (this=0x35) at /usr/include/c++/4.8/tr1/shared_ptr.h:128
#2  std::tr1::__shared_count<(__gnu_cxx::_Lock_policy)2>::__shared_count (__r=..., this=0x7f693c052da8) at /usr/include/c++/4.8/tr1/shared_ptr.h:348
#3  std

[2019-07-25 01:53] xuguangxin commented on #878
Could you share the clip to us?
thanks

[2019-07-29 03:03] waiter89 opened #879 "H264 encoder output nothing after a long time"
(gdb) p obj->output_
$6 = {
  data = 0x3b5b090 "",
  bufferSize = 1727040,
  dataSize = 0,
  remainingSize = 0,
  flag = 0,
  format = OUTPUT_EVERYTHING,
  temporalID = 0 '\000',
  timeStamp = 1564393746439
}

我在4台相同的机器相同的系统相同的软件上面测试编码,刚开始都是正常编码画面正常,每台机器同时编码2路,经过3天测试之后,发现其中有一台编码机器编码无数据,2路编码都是无数据.从dmesg看该机器正常.当关闭编码软件再重新打开,画面正常编码.

surveil@101:~> vainfo
libva info: VA-API version 0.39.0
libva info:

[2019-07-29 03:15] xuguangxin commented on #879
@waiter89 , thanks for report the issue.
to make all user know the status, please provide information using English.
Any error message in stdio?
thanks

[2019-07-30 06:40] QiAnXinCodeSafe opened #880 "static function 'searchStartPos()' is never used"
https://github.com/intel/libyami/blob/f742635b13146f50e00fc516a7f97c47db940864/codecparsers/h264Parser.cpp#L108

[2019-07-31 01:16] waiter89 commented on #879
@xuguanxin,After a long time encoding,the GPU hang,dmesg show below:

[二 7月 30 23:40:42 2019] [drm] stuck on render ring
[二 7月 30 23:40:42 2019] [drm] GPU HANG: ecode 9:0:0x8fd8ffff, in generator [1377], reason: Ring hung, action: reset
[二 7月 30 23:40:42 2019] drm/i915: Resetting chip after gpu hang
[二 7月 30 23:40:44 2019] [drm] RC6 on
[二 7月 30 23:40:48 2019] [drm] stuck on bsd ring
[二 7月 30 23:40

[2019-07-31 02:12] xuguangxin commented on #879
render ring is for graphics and video post processing.
do you seem any issue on screen?
thanks

[2019-08-02 16:35] seanvk commented on #875
@xuguangxin Has this fix been added to a new release?

[2019-08-05 14:28] xuguangxin commented on #875
@seanvk , not yet. I can tag a release tomorrow.

Regards.

[2019-08-06 12:40] xuguangxin commented on #875
@seanvk please use 1.3.2 release. thanks

[2019-08-11 14:58] philolt opened #882 "Usage of v4l2_wrapper"
Hi,
How can I use the compiled libyami_v4l2.so to expose the hardware codecs via v4l2? The only device which is visible is the integrated Webcam of my intel notebook. I searched the whole repo but didn't find a hint how to setup.
thanks and best regards

[2019-08-12 02:49] xuguangxin commented on #882
Hi @PipOlt ,
thanks for interested on this.
all v4l2 functions exposed by https://github.com/intel/libyami/blob/apache/interface/v4l2_wrapper.h
you can refer to https://github.com/intel/libyami-utils/blob/master/tests/v4l2decode.cpp
for api usage.
here is some high level introduction. https://github.com/intel/libyami/wiki/V4L2-Codec. You can read it with code, but it's little old, not all informat

[2019-08-12 05:36] philolt commented on #882
Hi @xuguangxin,
Thank you for your fast response. I thought, the v4l2-wrapper acts as a v4l2-device like a capture card. I found all of the documents you posted earlier. But I don't understand how to load the library in a normal linux environment. I expected an exposed device like /dev/video$X for the v4l2 codec. But therefore I need something like a kernel Module. Can you explain how this is work

[2019-08-12 07:24] xuguangxin commented on #882
@PipOlt , No, it's for decoder and encoder. not for capture.
here is the example how to use it https://github.com/intel/libyami-utils/blob/master/tests/V4L2Device.cpp#L219
chrome has similar class https://github.com/chromium/chromium/blob/master/media/gpu/v4l2/v4l2_device.h#L393.
If you write a chrome wrapper and hook it up here https://github.com/chromium/chromium/blob/master/media/gpu/v4l2/v4l2_

[2019-08-12 08:21] philolt commented on #882
@xuguangxin Ok, thank you for the information. I thought it would be possible to load the codec as a device of v4l2 like this [https://github.com/torvalds/linux/blob/master/drivers/media/platform/vicodec/vicodec-core.c](url). It can be loaded as kernel module and then there is a entrypoint at /dev/video* for the codec.
thanks!

[2019-08-14 09:11] QiAnXinCodeSafe commented on #880
the same issues：

https://github.com/intel/libyami/blob/08606d0a43e0ef15e5b61cc13563169370ce8715/codecparsers/h265Parser.cpp#L214

https://github.com/intel/libyami/blob/08606d0a43e0ef15e5b61cc13563169370ce8715/encoder/vaapiencoder_h264.cpp#L129

[2019-08-15 04:02] #880 closed, assigned to nobody

[2019-08-15 04:03] xuguangxin commented on #882
no, it's a simulation for v4l2 in user space. nothing related to the kernel module

[2019-10-12 07:21] zhoub opened #883 "http://01org.github.io/libyami_doxygen/index.html = 404"
As title, the http://01org.github.io/libyami_doxygen/index.html link is not accessible.

[2019-11-21 06:18] QiAnXinCodeSafe opened #884 "Branch condition evaluates to a garbage value"
https://github.com/intel/libyami/blob/90ac9995763ad569157b3a216da88e090720ed70/encoder/vaapiencoder_base.cpp#L686

'isEmpty' declared without an initial value
https://github.com/intel/libyami/blob/90ac9995763ad569157b3a216da88e090720ed70/encoder/vaapiencoder_base.cpp#L681

Calling 'checkEmpty()' in line 685, and the checkEmpty() defined in line 642.  Entered call from 'checkEmpty()',  returning wi

[2020-04-27 08:48] huliang4github opened #886 "hevc encoder failed"
The same yuv file, h264 encoder is OK , hevc encoder failed

./yamiencode -i /tmp/_3840x2160.NV12 -W 3840 -H 2160 -s NV12 -o /tmp/out.264
libva info: VA-API version 1.6.0
libva info: va_getDriverName() returns 0
libva info: User requested driver 'iHD'
libva info: Trying to open /opt/intel/mediasdk/lib64/iHD_drv_video.so
libva info: Found init function __vaDriverInit_1_6
libva info: va_openDriver()

[2020-04-28 06:43] xuguangxin commented on #886
This library only works with i965 driver. It's not tested with iHD driver.

[2020-05-05 13:39] EwanRoycroft opened #887 "How to turn off debug messages"
I would like to turn off debug messaging from yami but cannot find how to do this.

I can see some of my V4L2 ioctls are triggering `ERROR` -> `YAMI_DEBUG_MESSAGE` -> `yamiMessage` and wonder if there is a configuration/build argument to turn this off.

Edit:
I notice that `yamiMessage` only triggers if `yamiLogFlag >= YAMI_LOG_ERROR`, I assume that error messages are not turned off by `--enable-d

[2020-05-05 15:06] EwanRoycroft commented on #887
Found the solution.

#70: Log levels are set with the `LIBYAMI_LOG_LEVEL` environment variable at runtime, not during configuration/build.

[2020-05-05 15:06] #887 closed, assigned to nobody

[2020-05-05 15:43] EwanRoycroft opened #888 "V4L2 decoder does not correctly implement VIDIOC_G_FMT and VIDIOC_S_FMT"
According to the [V4L2 documentation](https://www.linuxtv.org/downloads/v4l-dvb-apis-new/userspace-api/v4l/vidioc-g-fmt.html), `VIDIOC_G_FMT` is exclusive to capture devices, and you can use this method with other drivers to get information about the output format; yet yami [limits it](https://github.com/intel/libyami/blob/edd1ad15e383d32c8d67bdc9198c834b6acebca5/v4l2/v4l2_decode.cpp#L1159) to `V4

[2020-05-06 04:39] xuguangxin commented on #887
yes, you are right.

[2020-05-06 05:04] xuguangxin commented on #888
yes. we are not fully aligned with spec. the spec original designed for capture or output device. some items may not reasonable to decode or encoder.
Are you expect this VIDIOC_S_FMT/VIDIOC_G_FMT  behavior in our application?
thanks

[2020-05-06 11:08] EwanRoycroft commented on #888
I have a program that uses the V4L2 driver on the Raspberry Pi to decode video. Assuming other drivers follow the spec, it should work cross-platform; but it fails on yami when making calls to `VIDIOC_G_FMT` / `VIDIOC_S_FMT`.

[2020-08-17 20:47] angelo-p opened #889 "question: h264 decoder fourcc output"
Hello,
Is it possible to setup  the h264 decoder to output  directly  video in  RGBA format  instead of NV12 ?
Thanks,
   Angelo

[2020-09-28 01:05] huliang4github commented on #886
yes, hevc encoder work well with  i965 driver, but failed with iHD driver!
h264 encode work well with both driver!

[2020-09-30 09:55] huliang4github commented on #886
the log says that it failed at  vaapiencoder_hevc.cpp:1567

ASSERT(!m_seqParam->seq_fields.bits.separate_colour_plane_flag);

and I just comment this line, and it seem to work, both with i965 and iHD.

[2020-09-30 09:55] #886 closed, assigned to nobody